@model DeVeeraApp.ViewModels.WeeklyUpdateModel

@{
    ViewData["Title"] = "ExistingUser";
    Layout = null;
}


<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- Slick Min CSS -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets/css/nice-select.min.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="~/assets/css/fancybox.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/styleUser.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <link href="~/dist/css/Rating.css" rel="stylesheet" />


    <title>Psylo - Life Coach & Psychologist HTML Template</title>

    <link rel="icon" type="image/png" href="~/assets/images/favicon.png">
</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader-area">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
   



    <!-- Start Main Banner Area -->
    <div class="main-banner-area">
        <div class="main-banner-item-box">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="main-banner-image">
                                    <img src=@((string.IsNullOrWhiteSpace(Model.BannerImageURL))?"/assets/images/main-banner/banner-1.jpg":Model.BannerImageURL) alt="image">

                                    <div class="image-shape">
                                        <img src="~/assets/images/main-banner/shape.png" alt="image">
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="main-banner-content">
                                    <h1> @T(Model.Title )<span>@T("Psychologist")</span></h1>
                                    @Html.Raw(@Model.Subtitle)
                                <div class="banner-btn">
                                    <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@Model.FirstLevel" asp-route-lastLoginDateUtc="@ViewBag.LastLoginDateUtc" class="default-btn">@T("Start From Begining")<i class="flaticon-pointer"></i></a><br>
                                    <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@Model.LastLevel"  class="default-btn mt-2">@T("Start From Where You Left Off")<i class="flaticon-right-arrow"></i></a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-banner-shape">
            <img src="~/assets/images/main-banner/banner-shape-1.png" alt="image">
        </div>

        <div class="main-banner-shape-two">
            <img src="~/assets/images/main-banner/banner-shape-2.png" alt="image">
        </div>
    </div>
    <!-- End Main Banner Area -->
    <!-- Start About Area -->
    <section class="about-area bg-ffffff ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-main-content">
                        <h3>@T("Know About Us")</h3>

                        <div class="about-content-image">
                            <img src="~/assets/images/about/about-2.jpg" alt="image">

                            <h4 class="sub-title">3 Happy Pals</h4>

                            <a href="@Model.VideoUrl" class="video-btn popup-youtube">
                                <i class="flaticon-play"></i>
                            </a>
                        </div>

                        @*<div class="about-btn">
                            <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@Model.FirstLevel" asp-route-lastLoginDateUtc="@ViewBag.LastLoginDateUtc" class="default-btn">@T("Start From Begining")<i class="flaticon-pointer"></i></a> <br>
                            <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@Model.LastLevel"  class="default-btn mt-2">@T("Start From Where You Left Off")<i class="flaticon-right-arrow"></i></a>
                        </div>*@
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-main-image">
                        <img src=@((string.IsNullOrWhiteSpace(Model.BodyImageURL))? "/assets/images/about/about-1.jpg" : Model.BodyImageURL) alt="image">

                        <div class="about-shape about-wrap">
                            <div class="shape-1">
                                <img src="~/assets/images/about/shape-1.png" alt="image">
                            </div>

                            <div class="shape-2">
                                <img src="~/assets/images/about/shape-2.png" alt="image">
                            </div>

                            <div class="shape-3">
                                <img src="~/assets/images/about/shape-3.png" alt="image">
                            </div>

                            <div class="shape-4">
                                <img src="~/assets/images/about/shape-4.png" alt="image">
                            </div>

                            <div class="shape-5">
                                <img src="~/assets/images/about/shape-5.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- End Coming Soon Area -->
    <!-- Jquery Slim JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Jquery Appear JS -->
    <script src="~/assets/js/jquery.appear.js"></script>
    <!-- Odometer JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <!-- Slick Min JS -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/assets/js/nice-select.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Fancybox JS -->
    <script src="~/assets/js/fancybox.min.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/assets/js/contact-form-script.js"></script>
    <!-- Wow JS -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/main.js"></script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG7gNHAhDzgYmq4-EHvM4bqW1DNj2UCuk&amp;libraries=places"></script>
</body>
</html>

