@model DeVeeraApp.ViewModels.FeelGoodListModel
@using DeVeeraApp.ViewComponents
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Feel Good Stories";

}

<div class="page-banner-with-full-image" style="background-image:url('@(Model.FeelGoodModel.Link_3_bannerImage != null ? Model.FeelGoodModel.Link_3_bannerImage: "../../assest/images/page-banner/register.jpg")')">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>@Model.FeelGoodModel.Link_3_Title</h2>
            <ul>
                <li>
                    <a asp-controller="Dashboard" asp-action="Index">Home</a>
                </li>
                <li>@Model.FeelGoodModel.Link_3_Title</li>
            </ul>
        </div>
    </div>
</div>

<section class="courses-area ptb-100">
    <div class="container">
        <div class="row">

            @if (Model.FeelGoodListPaged.Results.Count != 0)
            {
                @foreach (var item in Model.FeelGoodListPaged.Results)
                {
                    <div class="col-lg-6 col-md-6">
                        <div class="single-courses-box">
                            <div class="courses-image">
                                @{var largeImg = (item.Image?.ImageUrl == null) ? "/assets/images/courses/courses-1.jpg" : item.Image.ImageUrl;}
                                <a href="@largeImg">
                                    <img src="@largeImg" alt="_image">
                                </a>
                            </div>
                            <div class="courses-content">
                                <div class="course-author d-flex align-items-center">
                                    @{var smallImg = (item.Image?.ImageUrl == null || item.Image?.ImageUrl == "") ? "/assets/images/courses/images-1.jpg" : item.Image.ImageUrl;}
                                    <img src="@smallImg" class="rounded-circle" alt="image">
                                    <span>@T(item.Author)</span>
                                </div>
                                <h3>
                                    <a href="courses-details.html">@T(item.Title)</a>
                                </h3>
                                <p>@Html.Raw(item.Story)</p>
                                <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                                    <li>
                                        @*<i class='bx bxs-book'></i> 8 Weeks Long*@
                                    </li>
                                    <li>
                                        @*<i class=''></i> @item.Author*@
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h2 class="course-author d-flex align-items-center">
                    There are no stories yet.
                </h2>
            }
        </div>
        <form asp-controller="Home" asp-action="NewVideos" method="get">
            @(await Component.InvokeAsync<PagerViewComponent>(Model.FeelGoodListPaged))
            </form>
    </div>

</section>


@*<div class="border-t border-theme-25">

        <div class="intro-y grid grid-cols-12 gap-6 mt-5">

            @if (Model.Count != 0)
            {

                @foreach (var item in Model)
                {

                    <div class="intro-y blog col-span-12 md:col-span-6 box">
                        <div class="blog__preview image-fit">
                            @{var smallImg = (item.Image?.ImageUrl == null) ? "/dist/images/profile-14.jpg" : item.Image.ImageUrl;}
                            <img class="rounded-t-md" src="@smallImg">
                            <div class="absolute w-full flex items-center px-5 pt-6 z-10">
                                <div class="w-10 h-10 flex-none image-fit">
                                    @{var largeImg = (item.Image?.ImageUrl == null) ? "/dist/images/preview-4.jpg" : item.Image.ImageUrl;}
                                    <img class="rounded-full" src="@largeImg">
                                </div>
                                <div class="ml-3 text-white mr-auto">
                                    <a href="" class="font-medium">@item.Author</a>
                                    <div class="text-xs mt-0.5">29 minutes ago</div>
                                </div>

                            </div>
                            <div class="absolute bottom-0 text-white px-5 pb-6 z-10">

                                <a href="" class="block font-medium text-xl mt-3">@item.Title</a>
                            </div>
                        </div>
                        <div class="p-5 text-gray-700 dark:text-gray-600">@Html.Raw(item.Story)</div>

                    </div>
                }


            }
            else
            {
                <h2 class="text-lg font-medium mr-auto">
                    There are no stories yet.
                </h2>
            }
        </div>
    </div>*@


