    <!-- Start Main Slides Area -->
<div class="main-slides-area">
    <div class="home-slides owl-carousel owl-theme">
        <div class="main-slides-item-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    @{
                        if (Model.LandingPageModel?.WeeklyUpdate?.SliderOneTitle != null)
                        {
                            <div class="col-lg-7">
                                <div class="main-slides-content">
                                    <h1>@Html.Raw(Model.LandingPageModel?.WeeklyUpdate?.SliderOneTitle)</h1>
                                    <p>@Html.Raw(Model.LandingPageModel?.WeeklyUpdate?.SliderOneDescription)</p>

                                </div>

                            </div>


                            <div class="col-lg-5">

                                @{var SliderOneImageUrl = Model.LandingPageModel?.SliderOneImageUrl == null ? "/assets/images/main-slides/slides-1.jpg" : Model.LandingPageModel.SliderOneImageUrl;}
                                <div class="main-slides-image">
                                    <img src="@SliderOneImageUrl" alt="image" class="responsive">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12" style="padding-left:0 ; padding-right:0">

                                @{var SliderOneImageUrl = Model.LandingPageModel?.SliderOneImageUrl == null ? "/assets/images/main-slides/slides-1.jpg" : Model.LandingPageModel.SliderOneImageUrl;}
                                <div class="main-slides-image">
                                    <img src="@SliderOneImageUrl" alt="image" class="responsive">
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="main-slides-item-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    @{
                        @if (Model.LandingPageModel?.WeeklyUpdate?.SliderOneTitle != null)
                        {
                            <div class="col-lg-7">
                                <div class="main-slides-content">
                                    <h1>@Html.Raw(Model.LandingPageModel?.WeeklyUpdate?.SliderTwoTitle)</h1>
                                    <p>@Html.Raw(Model.LandingPageModel?.WeeklyUpdate?.SliderTwoDescription)</p>

                                    @*<div class="slides-btn">
                                            <a href="online-booking.html" class="default-btn">Book Online Session <i class="flaticon-pointer"></i></a>
                                            <a href="services.html" class="optional-btn">Our Services <i class="flaticon-repairing-service"></i></a>
                                        </div>*@
                                </div>
                            </div>



                            <div class="col-lg-5">
                                @{var SliderTwoImageUrl = Model.LandingPageModel?.SliderTwoImageUrl == null ? "/assets/images/main-slides/slides-2.jpg" : Model.LandingPageModel.SliderTwoImageUrl;}
                                <div class="main-slides-image">
                                    <img src="@SliderTwoImageUrl" alt="image" class="responsive">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12" style="padding-left:0 ; padding-right:0">
                                @{var SliderTwoImageUrl = Model.LandingPageModel?.SliderTwoImageUrl == null ? "/assets/images/main-slides/slides-2.jpg" : Model.LandingPageModel.SliderTwoImageUrl;}
                                <div class="main-slides-image">
                                    <img src="@SliderTwoImageUrl" alt="image" class="responsive">
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="main-slides-item-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    @{
                        @if (Model.LandingPageModel?.WeeklyUpdate?.SliderOneTitle != null)
                        {
                            <div class="col-lg-7">
                                <div class="main-slides-content">
                                    <h1>@Html.Raw(Model.LandingPageModel?.WeeklyUpdate?.SliderThreeTitle)</h1>
                                    <p>@Html.Raw(Model.LandingPageModel?.WeeklyUpdate?.SliderThreeDescription)</p>



                                </div>
                            </div>


                            <div class="col-lg-5">
                                @{var SliderThreeImageUrl = Model.LandingPageModel?.SliderThreeImageUrl == null ? "/assets/images/main-slides/slides-3.jpg" : Model.LandingPageModel.SliderThreeImageUrl;}
                                <div class="main-slides-image">
                                    <img src="@SliderThreeImageUrl" alt="image" class="responsive">

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12" style="padding-left:0 ; padding-right:0">
                                @{var SliderThreeImageUrl = Model.LandingPageModel?.SliderThreeImageUrl == null ? "/assets/images/main-slides/slides-3.jpg" : Model.LandingPageModel.SliderThreeImageUrl;}
                                <div class="main-slides-image">
                                    <img src="@SliderThreeImageUrl" alt="image" class="responsive" >

                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Slides Area -->
<!-- Start Philosophy Area -->
<section class="philosophy-area ptb-100">
    <div class="container">
        <div class="philosophy-slides owl-carousel owl-theme">




            <div class="philosophy-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="philosophy-content">
                            <h3>@T(Model.LandingPageModel.WeeklyUpdate.Title)</h3>
                            @Html.Raw(Model.LandingPageModel.WeeklyUpdate.Subtitle)
                            <div class="philosophy-quote">
                                <i class="flaticon-close"></i>
                                <p>
                                    @if (Model.LandingPageModel.WeeklyUpdate.QuoteId != 0)
                                    {
                                        @Html.Raw(Model.LandingPageModel?.WeeklyUpdate?.Quote)
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.LandingPageModel?.WeeklyUpdate?.LandingQuote)
                                    }
                                </p>
                            </div>


                               
   
        <div class="modal-dialog " id="VideoNotAvailableland"  style="display:none;" hidden>
            <div class="modal-content">
                <div class="modal-header">@T("Oops !!! ....") <i class="btn-close" onclick="hidepopuplnd();"></i></div>
                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="col-span-12 sm:col-span-12">

                        <div id="single-file-upload" class="p-5">
                            <div class="preview">
                                <div data-single="true" fallback="true">
                                    <div class="fallback">
                                       @T("Video Not Available !!!")
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    

                         
                            <div class="philosophy-btn" >
                                @{
                                    if (ViewBag.VideoUrl == "" || ViewBag.VideoUrl == null)
                                    {
                                        <a onclick="showvideopopland();"  class="default-btn popup-youtube">@T("Watch Video") <i class="flaticon-play"></i></a>
                                    }
                                    else
                                    {
                                        <a href="@ViewBag.VideoUrl" class="default-btn popup-youtube">@T("Watch Video") <i class="flaticon-play"></i></a>
                                    }
                                }
                            </div>

                            
                        </div>
                    </div>

                   


                    <div class="col-lg-6">
                        @{var DescriptionImageUrl = Model.LandingPageModel?.DescriptionImageUrl == null ? "/assets/images/philosophy/philosophy-1.png" : Model.LandingPageModel.DescriptionImageUrl;}
                        <div class="philosophy-image">
                            <img src="@DescriptionImageUrl" class="responsive">
                        </div>
                    </div>
                </div>
                        </div>
            </div>
        </div>
    

    <div class="philosophy-main-shape">
        <img src="~/assets/images/philosophy/line-shape.png" alt="image">
    </div>
</section>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>

<script src="~/CustomJS/Common.js"></script>
<!-- End Philosophy Area -->
<script>
function hidepopuplnd(){    
 document.getElementById("VideoNotAvailableland").style.display='none'; 
}
</script>
<script>

function showvideopopland(){
 Swal.fire("Oops", "Video Not Available!");

//document.getElementById("VideoNotAvailableland").style.display='inline';  

}</script>