@model DeVeeraApp.ViewModels.DashboardQuoteModel
<div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 xxl:col-span-9">
        <div class="grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">

                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5"> @Model.Title <a class="text-theme-21 dark:text-theme-10" href="">– @Model.Author</a></h2>
                   
                    <a asp-controller="Diary" asp-action="Create" asp-route-levelid="@Model.Id" asp-route-srno="@ViewBag.SrNo" class="ml-auto flex btn-warning intro-x btn py-3 px-4 border-white dark:border-dark-5"> Diary </a>
                    
                </div>
                <div class="grid grid-cols-12 gap-6 mt-5">
                    @{

                        int i = 1;
                        @foreach (var item in Model.VideoModelList)
                        {
                            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                                <div class="report-box zoom-in">
                                    <div class="box p-5">
                                      
                                        <div class="text-3xl font-bold leading-8 mt-6"><a asp-controller="Lesson" asp-action="Index" asp-route-id="@item.Id" asp-route-srno="@i">@item.Title</a></div>

                                    </div>
                                </div>
                            </div>
                            i++;

                        }
                    }
                </div>

                <div class="pos intro-y grid grid-cols-12 gap-5 mt-5">
                    <div class="intro-y col-span-12 lg:col-span-12">

                        <div class="grid grid-cols-12 gap-5 mt-5">

                            <a asp-controller="Home" asp-action="WeeklyInspiringQuotes" class="col-span-12 sm:col-span-4 xxl:col-span-3 box bg-theme-17 dark:bg-theme-17 p-5 cursor-pointer zoom-in">

                                <div class="font-medium text-base text-white"> @Model.Menus?.Menu_1 </div>
                            </a>
                            <a asp-controller="Home" asp-action="NewVideos" class="col-span-12 sm:col-span-4 xxl:col-span-3 box bg-theme-17 dark:bg-theme-17 p-5 cursor-pointer zoom-in">
                                <div class="font-medium text-base text-white"> @Model.Menus?.Menu_2 </div>
                            </a>
                            <a asp-controller="Home" asp-action="FeelGoodStories" class="col-span-12 sm:col-span-4 xxl:col-span-3 box bg-theme-17 dark:bg-theme-17 p-5 cursor-pointer zoom-in">
                                <div class="font-medium text-base text-white"> @Model.Menus?.Menu_3 </div>

                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <!-- END: General Report -->
     
        </div>
    </div>
    
</div>