    <!-- Start Main Slides Area -->
<div class="main-slides-area">
    <div class="home-slides owl-carousel owl-theme">
        <div class="main-slides-item-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="main-slides-content">
                            <h1>@T("Become The Happiest Person That You Want")</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>

                            <div class="slides-btn">
                                <a href="online-booking.html" class="default-btn">Book Online Session <i class="flaticon-pointer"></i></a>
                                <a href="services.html" class="optional-btn">Our Services <i class="flaticon-repairing-service"></i></a>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-5">
                        <div class="main-slides-image">
                            <img src="/assets/images/main-slides/slides-1.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-slides-item-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="main-slides-content">
                            <h1>@T("We Are Here To Transform Your Life")</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>

                            <div class="slides-btn">
                                <a href="online-booking.html" class="default-btn">Book Online Session <i class="flaticon-pointer"></i></a>
                                <a href="services.html" class="optional-btn">Our Services <i class="flaticon-repairing-service"></i></a>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-5">
                        <div class="main-slides-image">
                            <img src="/assets/images/main-slides/slides-2.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-slides-item-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="main-slides-content">
                            <h1>@T("Take Life Changing Life Coaching With Us")</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>

                            <div class="slides-btn">
                                <a href="online-booking.html" class="default-btn">Book Online Session <i class="flaticon-pointer"></i></a>
                                <a href="services.html" class="optional-btn">Our Services <i class="flaticon-repairing-service"></i></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-5">
                        <div class="main-slides-image">
                            <img src="/assets/images/main-slides/slides-3.jpg" alt="image">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Slides Area -->
<!-- Start Philosophy Area -->
<section class="philosophy-area ptb-100">
    <div class="container">
        <div class="philosophy-slides owl-carousel owl-theme">
   



            <div class="philosophy-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="philosophy-content">
                            <h3>@Model.LandingPageModel.WeeklyUpdate.Title</h3>
                            @Html.Raw(@Model.LandingPageModel.WeeklyUpdate.Subtitle)
                            <div class="philosophy-quote">
                                <i class="flaticon-close"></i>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="philosophy-btn">
                                <a href="@Model.LandingPageModel.WeeklyUpdate.VideoUrl" class="default-btn popup-youtube">Watch Video <i class="flaticon-play"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="philosophy-image">
                            <img src="~/assets/images/philosophy/philosophy-1.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="philosophy-main-shape">
        <img src="~/assets/images/philosophy/line-shape.png" alt="image">
    </div>
</section>
<!-- End Philosophy Area -->
