@model DeVeeraApp.ViewModels.VideoListModel
@using DeVeeraApp.ViewComponents
@*@model IList<DeVeeraApp.ViewModels.VideoListModel>*@

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "New Videos";

}

<div class="page-banner-with-full-image" style="background-image:url('@(Model.Video.Link_2_bannerImage != null ? Model.Video.Link_2_bannerImage: "../../assest/images/page-banner/register.jpg")')">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>@Model.Video.Link_2_Title</h2>
            <ul>
                <li>
                    <a asp-controller="Dashboard" asp-action="Index">Home</a>
                </li>
                <li>@Model.Video.Link_2_Title</li>
            </ul>
        </div>
    </div>
</div>

<section class="gallery-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            @if (Model.VideoListPaged.Results.Count != 0)
            {
                @foreach (var item in Model.VideoListPaged.Results)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery-item">
                            <a href="javascript:;" data-toggle="modal" data-target="#add-item-modal">
                                @{string src = item.VideoUrl;}

                                <video src="@Url.Content(src)" controls style="width:100%; height:100%" loop />
                            </a>
                        </div>
                    </div>
                }
            }

        </div>
        <form asp-controller="Home" asp-action="NewVideos" method="get">
            @(await Component.InvokeAsync<PagerViewComponent>(Model.VideoListPaged))
         </form>
    </div>
</section>




