@model DeVeeraApp.ViewModels.DashboardListQuote
@using DeVeeraApp.ViewComponents
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Weekly Inspiring Quotes";

}

@*<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Weekly Inspiring Quotes
        </h2>
    </div>*@
<div class="page-banner-with-full-image" style="background-image:Url('@(Model.DashboardQuote.layoutSetup.Link_1_BannerImageUrl != null ? Model.DashboardQuote.layoutSetup.Link_1_BannerImageUrl: "../../assest/images/page-banner/register.jpg")')">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>@Model.DashboardQuote.layoutSetup.Link_1</h2>
            <ul>
                <li>
                    <a asp-controller="Dashboard" asp-action="Index">Home</a>
                </li>
                <li>@Model.DashboardQuote.layoutSetup.Link_1</li>
            </ul>
        </div>
    </div>
</div>

<section class="courses-area ptb-100">
    <div class="container">
        <div class="row">
            @if (Model.DashboardQuoteListPaged.Results.Count != 0)
            {
                @foreach (var item in Model.DashboardQuoteListPaged.Results)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="single-courses-box" style="background-image: url(../../assets/images/subscribe-bg.jpg)">

                            <div class="courses-content">
                                <div class="course-author d-flex align-items-center">

                                    <span style="color:black;font:bold;">@item.Author</span>
                                </div>
                                <p style="color:black;"> @item.Title</p>

                            </div>
                        </div>
                    </div>

                    @*<div class="col-lg-12 col-md-12">
                        <div class="single-courses-box" >

                            <div class="courses-content">
                                <div class="course-author d-flex align-items-center">

                                    <span >@item.Author</span>
                                </div>
                                <p > @item.Title</p>

                            </div>
                        </div>
                    </div>*@

                }
            }
        </div>
        <form asp-controller="Home" asp-action="WeeklyInspiringQuotes" method="get">
            @(await Component.InvokeAsync<PagerViewComponent>(Model.DashboardQuoteListPaged))
        </form> 
    </div>

</section>

