@model DeVeeraApp.ViewModels.User.UserModel



<html lang="zxx">


<body>

    <div class="coming-soon-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="coming-soon-content">
                    <h2>
                        @T("Enter Your six digit OTP")
                    </h2>

                    <form class="newsletter-form" data-toggle="validator" action="VerifyOTP" method="get">
                        <div class="container body-content">
                             <input type="hidden" asp-for="UserRoleId" value="1" />
                        <input type="hidden" asp-for="Email" value="@Model.Email">
                        <input type="hidden" asp-for="MobileNumber" value="@Model.MobileNumber">
                        <input type="hidden" asp-for="ConfirmPassword" value="@Model.ConfirmPassword">
                       @*<input asp-for="ErrorMessage" type="text"  hidden   >*@

                            @T(ViewData.ModelState["ErrorMessage"]?.Errors.Count()!=0?ViewData.ModelState["ErrorMessage"]?.Errors[0].ErrorMessage :"")
                           
                            <div id="SMSArea" class="row SMSArea">
                                <div class="col-2">
                                    <input type="text" maxlength="1" size="1" min="0" max="6" pattern="\d*" class="smsCode text-center rounded-lg" />
                                </div>
                                <div class="col-2">
                                    <input type="text" maxlength="1" size="1" min="0" max="6" pattern="\d*" class="smsCode text-center rounded-lg" />
                                </div>
                                <div class="col-2">
                                    <input type="text" maxlength="1" size="1" min="0" max="6" pattern="\d*" class="smsCode text-center rounded-lg" />
                                </div>
                                <div class="col-2">
                                    <input type="text" maxlength="1" size="1" min="0" max="6" pattern="\d*" class="smsCode text-center rounded-lg" />
                                </div>
                                <div class="col-2">
                                    <input type="text" maxlength="1" size="1" min="0" max="6" pattern="\d*" class="smsCode text-center rounded-lg" />
                                </div>
                                <div class="col-2">
                                    <input type="text" maxlength="1" size="1" min="0" max="6" pattern="\d*" class="smsCode text-center rounded-lg" />
                                </div>
                            </div>


                        </div>
                        <div class="btn">
                            <button type="submit" class="default-btn">@T("Verify")</button>
                            
                        </div>
                       
                        <div class="intro-y">
                            <a href="#">@T("Resend OTP")</a>
                        </div>
                           
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- End Coming Soon Area -->
    <!-- Jquery Slim JS -->
    @*<script src="assets/js/jquery.min.js"></script>*@
    <!-- Bootstrap Bundle JS -->
    <!--<script src="assets/js/bootstrap.bundle.min.js"></script>-->
    <!-- Meanmenu JS -->
    <!--<script src="assets/js/jquery.meanmenu.js"></script>-->
    <!-- Owl Carousel JS -->
    <!--<script src="assets/js/owl.carousel.min.js"></script>-->
    <!-- Jquery Appear JS -->
    <!--<script src="assets/js/jquery.appear.js"></script>-->
    <!-- Odometer JS -->
    <!--<script src="assets/js/odometer.min.js"></script>-->
    <!-- Slick Min JS -->
    <!--<script src="assets/js/slick.min.js"></script>-->
    <!-- Nice Select JS -->
    <!--<script src="assets/js/nice-select.min.js"></script>-->
    <!-- Magnific Popup JS -->
    <!--<script src="assets/js/jquery.magnific-popup.min.js"></script>-->
    <!-- Fancybox JS -->
    <!--<script src="assets/js/fancybox.min.js"></script>-->
    <!-- Ajaxchimp JS -->
    <!--<script src="assets/js/jquery.ajaxchimp.min.js"></script>-->
    <!-- Form Validator JS -->
    <!--<script src="assets/js/form-validator.min.js"></script>-->
    <!-- Contact JS -->
    <!--<script src="assets/js/contact-form-script.js"></script>-->
    <!-- Wow JS -->
    <!--<script src="assets/js/wow.min.js"></script>-->
    <!-- Custom JS -->
    @*<script src="assets/js/main.js"></script>*@
</body>
</html>
<script src="~/dist/js/OTPPage.js"></script>
<link href="~/dist/css/OtpStyle.css" rel="stylesheet" />