@model DeVeeraApp.ViewModels.Admin.CreateUserModel
@inject CRM.Core.IWorkContext _workContext;
@using DeVeeraApp.ViewModels.User
@{
    ViewData["Title"] = "Edit User";
}
<form asp-controller="Admin" asp-action="EditUser" method="post" id="adminPage" onsubmit="ShowLoader('adminPage');">
    <div class="intro-y  py-10 sm:py-20 ">

        <div class="px-5 ">
            <div class="font-medium text-center text-lg">Edit User</div>
            <div class="text-gray-600 text-center mt-2">Here you can edit new User.</div>

        </div>


        <div class="px-5 sm:px-20 pt-5 border-t border-gray-200 dark:border-dark-5">

            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">

                <div class="intro-y box p-5 col-span-12">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div asp-validation-summary="All" class="text-theme-21 mt-4">
                        </div>
                    }
                    <div class="mt-5">
                        <label for="input-wizard-1" class="form-label text-theme-21 star">User Name</label>
                        <input id="email" asp-for="@Model.Email" type="email" class="form-control" placeholder="example@gmail.com" autocomplete="new-username">
                        <span asp-validation-for="Email" class="text-theme-21 mt-2"></span>
                    </div>
                    <div class="mt-5">
                        <label for="input-wizard-3" class="form-label text-theme-21 star">Password</label>
                        <input id="password" asp-for="@Model.UserPassword.Password" type="password" class="form-control" placeholder="Password" autocomplete="new-password">
                        <span asp-validation-for="UserPassword.Password" class="text-theme-21 mt-2"></span>
                    </div>
                    <div class="mt-5">
                        <label for="input-wizard-3" class="form-label text-theme-21 star">Contact Number</label>
                        <input id="Contactno" asp-for="@Model.MobileNumber" type="number" class="form-control" placeholder="Contact Number" autocomplete="new-password" oninput="javascript:if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10">
                        <span asp-validation-for="MobileNumber"></span>
                    </div>
                    <div class="w-52 mx-auto xl:mr-0 xl:ml-6">
                        <div class="border-2 border-dashed shadow-sm border-gray-200 dark:border-dark-5 rounded-md p-5">
                            <div class="h-40 relative image-fit cursor-pointer zoom-in mx-auto">
                                <img class="rounded-md" alt="Tinker Tailwind HTML Admin Template" id="output" src="@(Model.ImageUrl == null ? "/assets/img/avatar/NoImg.png" : Model.ImageUrl)" >
                                <div title="Remove this profile photo?" @*class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-theme-21 right-0 top-0 -mr-2 -mt-2"*@> <i data-feather="x" class="w-4 h-4"></i> </div>
                            </div>
                            <div class="mx-auto cursor-pointer relative mt-5">
                                <button type="button" class="btn btn-primary w-full">Change Photo</button>
                                <input type="file" class="w-full h-full top-0 left-0 absolute opacity-0" onchange="loadFile(event)" />
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        <input asp-for="IsAllow" class="form-check-input" type="checkbox">
                        <label for="input-wizard-1" class="form-label text-theme-21 pl-1">Allow</label>
                        @*<span asp-validation-for="IsAllow" class="text-theme-21 mt-2"></span>*@
                    </div>

                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <div class="grid grid-cols-12  gap-y-5 mt-5">
                            <div class="intro-y   col-span-6">
                                @*<a asp-controller="Video" asp-action="List" class="btn btn-primary w-24"> List</a>*@
                                <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                    <label class="pl-10">Back to List</label>
                                    <a asp-controller="Admin" asp-action="List" asp-route-roleName="@Model.UserRole?.Name" class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding ">
                                        <i data-feather="arrow-left" class="w-4 h-4"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="intro-y  col-span-6 ml-auto">
                                <button type="submit" class="btn btn-primary w-24">Save</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</form>
<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
    
};
</script>
