@model DeVeeraApp.ViewModels.LevelModel
@using DeVeeraApp.ViewModels.Enum

@{
    ViewData["Title"] = "Edit";
}

<style>
    .pl-6px {
        padding-left: 7rem;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        height: 38px;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 28px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #eeeeee;
        border-radius: 4px;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 60px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 6px;
        height: 36px;
        /* line-height: 11px; */
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 60px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 58px;
        /* margin-bottom: 14px; */
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 56px;
        position: absolute;
        top: 0px;
        right: 1px;
        width: 24px;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #eeeeee;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: #eee transparent transparent transparent;
            /* border-style: solid; */
            border-width: 5px 4px 0 4px;
            height: 0;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }
   
</style>
<div class="intro-y inbox py-10 sm:py-20 ">
    <div class="px-5 ">
        <div class="font-medium text-center text-lg">Edit Level</div>
        <div class="text-gray-600 text-center mt-2">Please add Level name and description</div>
    </div>
    <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
            <div class="intro-y box p-5 col-span-12">
                <div class="intro-y pr-1">
                    <div class="p-2">
                        <div class="pos__tabs nav nav-tabs justify-center" role="tablist">
                            <a id="level-tab" data-toggle="tab" data-target="#level" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab == "Level" ? "active" : "")" role="tab" aria-controls="level" aria-selected="true">Level</a>
                            <a id="modules-tab" data-toggle="tab" data-target="#modules" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab == "Add Module" ? "active" : "")" role="tab" aria-controls="modules" aria-selected="false">Add / Edit Module</a>
                            <a id="view-modules-tab" data-toggle="tab" data-target="#view-modules" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab == "View-Module" ? "active" : "")" role="tab" aria-controls="view-modules" aria-selected="false">View Modules</a>

                        </div>
                    </div>
                </div>

                <div class="tab-content">

                    <div id="level" class="tab-pane @(ViewBag.ActiveTab == "Level" ? "active" : "")" role="tabpanel" aria-labelledby="level-tab">
                        <form asp-controller="Level" asp-action="Edit" method="post" id="levelForm" onsubmit="ShowLoader('levelForm');">
                            <input type="hidden" asp-for="@Model.srno" />
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div asp-validation-summary="All" class="text-theme-6 mt-4">
                                </div>
                            }
                            <div class="grid grid-cols-12 gap-4">
                                <div class="col-span-6 mt-5">
                                    <div>
                                        <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>

                                        <a onclick="TranslateSpanish()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>
                                    </div>
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Level No.</label>
                                    <input asp-for="@Model.LevelNo" type="number" class="form-control ">
                                    <span asp-validation-for="LevelNo" class="text-theme-21 mt-2"></span>
                                </div>

                                <div class="col-span-6 mt-5">
                                    <div>
                                        <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                                        <a class="btn btn-primary w-40" onclick="TranslateEnglish()" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>
                                    </div>
                                    @*<label for="input-wizard-1" class="form-label text-theme-21 star">Level No.</label>
                                        <input asp-for="@Model.LevelNo" type="number" class="form-control ">
                                        <span asp-validation-for="LevelNo" class="text-theme-21 mt-2"></span>*@

                                </div>
                                <div class="col-span-6 mt-5">

                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                    <input asp-for="@Model.Title" type="text" class="form-control title" placeholder="title">
                                    <span asp-validation-for="Title" class="text-theme-21 mt-2"></span>
                                </div>

                                <div class="col-span-6 mt-5">

                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                    @*<input id="input-wizard-1" asp-for="@Model.Title" type="text" class="form-control" placeholder="title">*@
                                    @*<span asp-validation-for="Title" class="text-theme-21 mt-2"></span>*@
                                    <input asp-for="@Model.SpanishTitle" id="titleSpanish" type="text" class="form-control ">
                                </div>
                                <div class="col-span-6 mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Subtitle</label>
                                    <input asp-for="@Model.Subtitle" type="text" class="form-control   " id="subtitlespanish" placeholder="Subtitle">
                                    <span asp-validation-for="Subtitle" class="text-theme-21 mt-2"></span>
                                </div>
                                <div class="col-span-6 mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Subtitle</label>
                                    <input id="input-wizard-1" asp-for="@Model.SpanishSubtitle" type="text" class="form-control SpanishSubtitle ">
                                    @*<span asp-validation-for="Subtitle" class="text-theme-21 mt-2"></span>*@
                                </div>


                            </div>
                            <div class="grid grid-cols-12 gap-4">
                                <div class="col-span-6 mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                                    <div class="" id="standard-editor">
                                        <div class="preview">
                                            <textarea id="editorEnglish" asp-for="FullDescription" class="editorEnglish editorEnglishLevel"> </textarea>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-6 mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>

                                    <div class="" id="standard-editor">
                                        <div class="preview">
                                            <textarea id="editorSpanish" asp-for="SpanishFullDescription" class="editorSpanish SpanishFullDescription"> </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            


                              <div class="grid grid-cols-12 gap-4 mt-5">
                         <div class="col-span-6 mt-5">
                                <label class="form-label text-theme-21 star">Video</label>
                                <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="form-control select2 select2-hidden-accessible w-full" placeholder="video name"></select>
                                <span asp-validation-for="VideoId" class="text-theme-21 mt-2"></span>
                             </div>
                          <div class="col-span-6 mt-5">
                              <label for="input-wizard-1" class="form-label text-theme-21 star">Youtube Url</label>
                            <input id="youtunbeVideourledit" asp-for="YoutubeVideoUrl" type="text" class="form-control subtitleenglish" placeholder="Youtube Video">
                             
                          </div>
                    </div>



                            <div class="mt-5">

                                <label class="form-label text-theme-21 star">Emotion</label>
                                @Html.ListBoxFor(m => m.SelectedEmotions, @Model.AvailableEmotions, new { @Id = "post-form-3", @class = "form-control select2 select2-hidden-accessible w-full", @placeholder = "Select Emotions" })

                            </div>


                              <div class="mt-5">
                                  @if (Model.QuoteId == 0) {
                    <input id="randomquote" asp-for="IsRandom" class="form-check-input ml-4 mr-1" type="checkbox" name="randomquote" />
                    <label class="form-label text-theme-21 star">Random Quote</label>
                    <div id="quotesedit" class=""  hidden>
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuotelevel"  type="text" data-search="true" class="form-control select2 select2-hidden-accessible w-full" placeholder="video name"></select>
                    </div>
                                  }
                                  else
                                  {
                     <input id="randomquote" asp-for="IsRandom" class="form-check-input ml-4 mr-1" type="checkbox" name="randomquote" checked />
                    <label class="form-label text-theme-21 star">Random Quote</label>
                    <div id="quotesedit" class=""  >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuotelevel"   type="text" data-search="true" class="form-control select2 select2-hidden-accessible w-full" placeholder="video name"></select>
                    </div>
                                  }
                        </div>

                            <input  type="text" value="" id="selectcheck" name="selectcheck" hidden/>

                            <div class="mt-5">
                                @{
                                    var BannerImageUrl = Model.BannerImageUrl != null ? Model.BannerImageUrl : "/dist/images/food-beverage-9.jpg";
                                    var VideoThumbImageUrl = Model.VideoThumbImageUrl != null ? Model.VideoThumbImageUrl : "/dist/images/food-beverage-9.jpg";
                                    var ShareBackgroundImageUrl = Model.ShareBackgroundImageUrl != null ? Model.ShareBackgroundImageUrl : "/dist/images/food-beverage-9.jpg";

                                    <div class="grid grid-cols-12 gap-5 mt-5 pt-5 border-t border-theme-31">
                                        <a onclick="OpenImageSelectionModal('BannerImageId','BannerImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="BannerImageId" hidden>
                                                        <img id="BannerImageUrl" alt="" src="@BannerImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                </div>
                                                <div class="block font-medium text-center truncate mt-3">Banner</div>
                                            </div>
                                        </a>
                                        <a onclick="OpenImageSelectionModal('VideoThumbImageId','VideoThumbImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="VideoThumbImageId" hidden>
                                                        <img id="VideoThumbImageUrl" alt="" src="@VideoThumbImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                    <div class="block font-medium text-center truncate mt-3">Video Thumbnail</div>
                                                </div>

                                            </div>
                                        </a>
                                        <a onclick="OpenImageSelectionModal('ShareBackgroundImageId','ShareBackgroundImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="ShareBackgroundImageId" hidden>
                                                        <img id="ShareBackgroundImageUrl" alt="" src="@ShareBackgroundImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                </div>
                                                <div class="block font-medium text-center truncate mt-3">Share Panel Background</div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="mt-5">
                                <input asp-for="Active" type="checkbox" class="form-check-input" placeholder="IsActive" />
                                <label class="form-label text-theme-21 pl-1">Active</label>
                            </div>
                            <div class="mt-5">

                                <label class="form-label text-theme-21 pl-1">Like</label> -
                                <a class="form-label text-theme-12 pl-1" data-toggle="modal" data-target="#likesleveldatamodal" style="cursor:pointer;">@ViewBag.likes</a>
                                @* dislike *@
                                <label class="form-label text-theme-21 pl-1">Dislike</label> 
                                <a class="form-label text-theme-12 pl-1" data-toggle="modal" data-target="#dislikeleveldatamodal" style="cursor:pointer;">@ViewBag.dislikes</a>
                                <!-- BEGIN: Modal like Content -->
                                <div id="likesleveldatamodal" class="modal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- BEGIN: Modal Body -->
                                            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                <div class="col-span-12 sm:col-span-12">

                                                    <div id="single-file-upload" class="p-5">
                                                        <div class="preview">
                                                            <div data-single="true" fallback="true">
                                                                <div class="fallback">

                                                                </div>
                                                                @{
                                                                    @if (Model.LikeUser.Count != 0)
                                                                    {
                                                                        int m = 0;
                                                                        foreach (var likesuser in Model.LikeUser)
                                                                        {
                                                                            <div class="dz-message" data-dz-message>
                                                                                <div class="text-lg font-medium">@likesuser.User.Email</div>
                                                                            </div>
                                                                        }
                                                                        m++;
                                                                    }

                                                                    else
                                                                    {
                                                                        <div class="dz-message" data-dz-message>
                                                                            <div class="text-lg font-medium">*No Level Like !!!</div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END: Modal Content -->
                                <!-- BEGIN: Modal like Content -->
                                <div id="dislikeleveldatamodal" class="modal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- BEGIN: Modal Body -->
                                            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                <div class="col-span-12 sm:col-span-12">

                                                    <div id="single-file-upload" class="p-5">
                                                        <div class="preview">
                                                            <div data-single="true" fallback="true">
                                                                <div class="fallback">

                                                                </div>
                                                                @{
                                                                    @if (Model.DisLikeUser.Count != 0)
                                                                    {
                                                                        int m = 0;
                                                                        foreach (var likesuser in Model.DisLikeUser)
                                                                        {
                                                                            <div class="dz-message" data-dz-message>
                                                                                <div class="text-lg font-medium ">@likesuser.User.Email</div>
                                                                            </div>
                                                                        }
                                                                        m++;
                                                                    }

                                                                    else
                                                                    {
                                                                        <div class="dz-message">
                                                                            <div class="text-lg font-medium">*No Level Dislike!!!</div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END: Modal Content -->
                                <div>

                                </div>
                            </div>
                            <div class="mt-5">

                                <label class="form-label text-theme-21 pl-1">Comments</label> -
                                <a class="form-label text-theme-12 pl-1" data-toggle="modal" data-target="#Coomentsleveldatamodal">@*Check Comments Here - @Model.LikeComments.Count()*@</a>
                                <!-- BEGIN: Modal like Content -->
                                @*<div class="intro-y  py-5 sm:py-5 ">*@


                                <div class="intro-y box p-5 mt-6">
                                    <div class="overflow-x-auto scrollbar-hidden ">

                                         <table class="table">
                                        @if (Model.LikeComments.Count() != 0)
                                        {

                                            <thead>
                                                <tr>
                                                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                                                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Comment</th>
                                                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">User Name</th>
                                                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Date </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ int a = 1;
                                                    @foreach (var likesuser in Model.LikeComments)
                                                    {
                                                <tr>
                                                    <td class="border-b dark:border-dark-5">@a</td>
                                                    <td class="border-b dark:border-dark-5">@likesuser.Comments</td>
                                                    <td class="border-b dark:border-dark-5">@likesuser.User.Email</td>
                                                    <td class="border-b dark:border-dark-5">@likesuser.CreatedDate</td>
                                                    
                                                </tr>
                                                        a++;
                                                    }
                                                    }
                                            </tbody>
                                                    }
                                           
                                         </table>

                                    </div>
                                </div>


                                @*</div>*@


                                @*<div id="Coomentsleveldatamodal" class="modal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">


                                                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                    <div class="col-span-12 sm:col-span-12">

                                                        <div id="single-file-upload" class="p-5">
                                                            <div class="preview">
                                                                <div data-single="true" fallback="true">
                                                                    <div class="fallback">

                                                                    </div>
                                                                    @{
                                                                        @if (Model.LikeComments.Count != 0)
                                                                        {

                                                                            foreach (var likesuser in Model.LikeComments)
                                                                            {

                                                                                if (likesuser.Comments != null)
                                                                                {
                                                                                    <label for="input-wizard-1" class="form-label text-theme-21 ">* @likesuser.User.Email :</label>
                                                                                    <div class="dz-message" data-dz-message>
                                                                                        <div class="text-md font-medium">@likesuser.Comments</div>
                                                                                    </div>
                                                                                    <br />
                                                                                }


                                                                            }

                                                                        }
                                                                        else
                                                                        {
                                                                            <label for="input-wizard-1" class="form-label text-theme-21 "> *No Comments yet!!!</label>
                                                                        }


                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>*@
                                <!-- END: Modal Content -->
                            </div>
                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <div class="grid grid-cols-12  gap-y-5 mt-5">
                                    <div class="intro-y   col-span-6">
                                        <span class="pl-6px">
                                            <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                                <label class="pl-10">Back to List</label>
                                                <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="Level" asp-action="List">
                                                    <i data-feather="arrow-left" class="w-4 h-4"></i>
                                                </a>
                                            </span>
                                        </span>
                                    </div>

                                    <div class="intro-y   col-span-3 pl-5">
                                        <button type="submit" class="btn btn-primary w-24">Save</button>
                                    </div>
                                    <div class="intro-y  col-span-3 ml-auto">
                                        <div class="dropdown">
                                            <button disabled class="dropbtn  btn btn-primary w-24">Preview</button>
                                            <div class="dropdown-content">
                                                <a target="_blank" href="/Home/ExistingUser?QuoteType=@((int)Quote.Login)">English</a>
                                                <a target="_blank" href="/Home/ExistingUser?QuoteType=@((int)Quote.Login)">Spanish</a>

                                            </div>
                                        </div>
                                        @*<a target="_blank" class="btn btn-primary w-24" href="/Lesson/Index?levelno=@Model.LevelNo">Preview</a>*@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="modules" class="tab-pane @(ViewBag.ActiveTab == "Add Module" ? "active" : "")" role="tabpanel" aria-labelledby="modules-tab">
                        <form asp-controller="Level" asp-action="AddModule" method="post" id="levelForm2" onsubmit="ShowLoader('levelForm2');">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div asp-validation-summary="All" class="text-theme-6 mt-4">
                                </div>
                            }
                            <div class="grid grid-cols-12 gap-4 ">
                                <div class=" col-span-6">
                                    <div>
                                        <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>
                                        <a onclick="TranslateSpanishModule()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>

                                    </div>
                                    <div class="mt-5">
                                        <label class="form-label text-theme-21 ">title</label>
                                        <input asp-for="Id" hidden />
                                        <input asp-for="Modules.Id" hidden />
                                        <input asp-for="@Model.Modules.Title" type="text" id="titlemodule" class="form-control w-full" placeholder="Title" />
                                        <p id="Titletag" class="temp"></p>
                                    </div>

                                    <div class="mt-5">
                                        <label for="input-wizard-1" class="form-label text-theme-21 star">Description</label>
                                    </div>
                                    <div class="" id="standard-editor">
                                        <div class="preview">
                                            <textarea id="editorModuleEnglish" asp-for="Modules.FullDescription" class="editorModuleEnglish moduleEnglishdesc " required> </textarea>
                                            <p id="FullDescriptiontag" class="temp"></p>
                                        </div>
                                        <span asp-validation-for="Modules.FullDescription" class="text-theme-6 mt-2"></span>
                                    </div>
                                </div>
                                <div class="col-span-6">
                                    <div>
                                        <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                                        <a class="btn btn-primary w-40" onclick="TranslateEnglishModule()" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>

                                    </div>
                                    <div class="mt-5">
                                        <label class="form-label text-theme-21 ">title</label>
                                        <input asp-for="@Model.SpanishTitleModule" id="titlemodulespanish" type="text" class="form-control w-full" placeholder="Title" />
                                        <p id="TitletagSpan" class="temp"></p>
                                    </div>

                                    <div class="mt-5">
                                        <label for="input-wizard-1" class="form-label text-theme-21 star">Description</label>
                                    </div>
                                    <div class="" id="standard-editor">
                                        <div class="preview">
                                            <textarea id="editorModuleSpanish" asp-for="@Model.SpanishFullDescriptionModule" class="editorModuleSpanish modulespanishdec" required> </textarea>
                                            <p id="FullDescriptiontagSpan" class="temp"></p>
                                        </div>
                                        <span asp-validation-for="@Model.SpanishFullDescriptionModule" class="text-theme-6 mt-2"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-5">
                                <label class="form-label text-theme-21 ">Video</label>
                                @{
                                    Model.Modules.VideoId = Model.Modules.VideoId == null ? Model.Modules.VideoId = 0 : Model.Modules.VideoId;
                                }
                                <select asp-for="@Model.Modules.VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="form-control select2 select2-hidden-accessible w-full" placeholder="video name"></select>

                            </div>
                            <div class="mt-5">
                                @{
                                    var ModuleBannerImageUrl = Model.Modules.BannerImageUrl != null ? Model.Modules.BannerImageUrl : "/dist/images/food-beverage-9.jpg";
                                    var ModuleVideoThumbImageUrl = Model.Modules.VideoThumbImageUrl != null ? Model.Modules.VideoThumbImageUrl : "/dist/images/food-beverage-9.jpg";
                                    var ModuleShareBackgroundImageUrl = Model.Modules.ShareBackgroundImageUrl != null ? Model.Modules.ShareBackgroundImageUrl : "/dist/images/food-beverage-9.jpg";

                                    <div class="grid grid-cols-12 gap-5 mt-5 pt-5 border-t border-theme-31">
                                        <a onclick="OpenImageSelectionModal('Modules_BannerImageId','ModuleBannerImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="Modules.BannerImageId" hidden>
                                                        <img id="ModuleBannerImageUrl" alt="" src="@ModuleBannerImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                </div>
                                                <div class="block font-medium text-center truncate mt-3">Banner</div>
                                            </div>
                                        </a>
                                        <a onclick="OpenImageSelectionModal('Modules_VideoThumbImageId','ModuleVideoThumbImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="Modules.VideoThumbImageId" hidden>
                                                        <img id="ModuleVideoThumbImageUrl" alt="" src="@ModuleVideoThumbImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                    <div class="block font-medium text-center truncate mt-3">Video Thumbnail</div>
                                                </div>

                                            </div>
                                        </a>
                                        <a onclick="OpenImageSelectionModal('Modules_ShareBackgroundImageId','ModuleShareBackgroundImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="Modules.ShareBackgroundImageId" hidden>
                                                        <img id="ModuleShareBackgroundImageUrl" alt="" src="@ModuleShareBackgroundImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                </div>
                                                <div class="block font-medium text-center truncate mt-3">Share Panel Background</div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="mt-5">

                                <label class="form-label text-theme-21 pl-1">Like</label> -
                                <a class="form-label text-theme-12 pl-1" data-toggle="modal" data-target="#likemodulesdatamodal" style="cursor:pointer;">@ViewBag.modulelikes</a>
                                @*//dislikes*@
                                <label class="form-label text-theme-21 pl-1">Dislike</label> -
                                <a class="form-label text-theme-12 pl-1" data-toggle="modal" data-target="#dislikemodulesdatamodal" style="cursor:pointer;">@ViewBag.moduledislikes</a>
                               
                                <div id="likemodulesdatamodal" class="modal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- BEGIN: Modal Body -->
                                            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                <div class="col-span-12 sm:col-span-12">

                                                    <div id="single-file-upload" class="p-5">
                                                        <div class="preview">
                                                            <div data-single="true" fallback="true">
                                                                <div class="fallback">

                                                                </div>
                                                                @{
                                                                    @if (Model.LikeModule.Count != 0)
                                                                    {

                                                                        foreach (var likesuser in Model.LikeModule)
                                                                        {

                                                                            <div class="dz-message" data-dz-message>
                                                                                <div class="text-lg font-medium">@likesuser.User.Email</div>
                                                                            </div>
                                                                            <br />
                                                                        }



                                                                    }

                                                                    else
                                                                    {
                                                                        <div class="dz-message">
                                                                            <div class="text-lg font-medium">*No Module Like!!!</div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                               
                                <!-- BEGIN: Modal Content -->
                                <div id="dislikemodulesdatamodal" class="modal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- BEGIN: Modal Body -->
                                            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                <div class="col-span-12 sm:col-span-12">

                                                    <div id="single-file-upload" class="p-5">
                                                        <div class="preview">
                                                            <div data-single="true" fallback="true">
                                                                <div class="fallback">

                                                                </div>
                                                                @{
                                                                    @if (Model.DisLikeModule.Count != 0)
                                                                    {

                                                                        foreach (var likesuser in Model.DisLikeModule)
                                                                        {
                                                                            <div class="dz-message" data-dz-message>
                                                                                <div class="text-lg font-medium">@likesuser.User.Email</div>
                                                                            </div>
                                                                        }



                                                                    }

                                                                    else
                                                                    {
                                                                        <div class="dz-message">
                                                                            <div class="text-lg font-medium">*No Module Dislike !!!</div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END: Modal Content -->
                                <div>

                                </div>
                            </div>
                            <div class="mt-5">

                                <label class="form-label text-theme-21 pl-1">Comments</label> -
                                <a class="form-label text-theme-12 pl-1" data-toggle="modal" data-target="#Coomentsmoduledatamodal"></a>
                               

                                   <div class="intro-y box p-5 mt-6">
                                    <div class="overflow-x-auto scrollbar-hidden ">
                                         <table class="table">
                                    @{
                                        @if (Model.CommentsModule.Count() != 0)
                                        {
                                            int b = 1;
                                            <thead>
                                                <tr>
                                                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                                                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Comment</th>
                                                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">User Name</th>
                                                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Date </th>
                                                    
                                                </tr>
                                            </thead>

                                           
                                            <tbody>
                                                
                                                    @foreach (var data in Model.CommentsModule)
                                                    {
                                                <tr>
                                                    <td class="border-b dark:border-dark-5">@b</td>
                                                    <td class="border-b dark:border-dark-5">@data.Comments</td>
                                                    <td class="border-b dark:border-dark-5">@data.User.Email</td>
                                                    <td class="border-b dark:border-dark-5">@data.CreatedDate</td>
                                                    
                                                </tr>
                                                        b++;
                                                    }
                                                   
                                            </tbody>
                                           

                                        }
                                        }
                                         </table>
                                    </div>
                                </div>



                                <!--<div id="Coomentsmoduledatamodal" class="modal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">-->

                                          
                                            @*<div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                <div class="col-span-12 sm:col-span-12">

                                                    <div id="single-file-upload" class="p-5">
                                                        <div class="preview">
                                                            <div data-single="true" fallback="true">
                                                                <div class="fallback">

                                                                </div>
                                                                @{
                                                                    @if (Model.CommentsModule.Count != 0)
                                                                    {

                                                                        foreach (var likesuser in Model.CommentsModule)
                                                                        {

                                                                            if (likesuser.Comments != null)
                                                                            {
                                                                                <label for="input-wizard-1" class="form-label text-theme-21 "> * @likesuser.User.Email :</label>
                                                                                <div class="dz-message" data-dz-message>
                                                                                    <div class="text-md font-medium">@likesuser.Comments</div>
                                                                                </div>
                                                                                <br />
                                                                            }


                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        <label for="input-wizard-1" class="form-label text-theme-21 "> *No Comments yet!!!</label>
                                                                    }

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@

                                        <!--</div>
                                    </div>
                                </div>-->
                               
                            </div>
                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <span class="mr-5">
                                    <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                        <label class="pl-10">Back to List</label>

                                        <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="Level" asp-action="List" asp-route-roleName="@_workContext.CurrentUser.UserRole.Name">

                                            <i data-feather="arrow-left" class="w-4 h-4"></i>
                                        </a>
                                    </span>
                                </span>

                                <button type="submit" class="btn btn-primary mr-2 w-24">Save</button>

                                @if (Model.Modules.Id != 0)
                                {
                                    <div class="dropdown">
                                        <button disabled class="dropbtn  btn btn-primary w-24">Preview</button>
                                        <div class="dropdown-content">
                                            <a target="_blank" href="/Module/Index/@Model.Modules.Id">English</a>
                                            <a target="_blank" href="/Module/Index/@Model.Modules.Id">Spanish</a>

                                        </div>
                                    </div>
                                    @*<a target="_blank" class="btn btn-primary w-24" href="/Module/Index/@Model.Modules.Id">Preview</a>*@
                                }

                            </div>
                        </form>
                    </div>

                    <div id="view-modules" class="tab-pane @(ViewBag.ActiveTab=="View-Module" ? "active":"")" role="tabpanel" aria-labelledby="view-modules-tab">
                        <div class="p-5" id="basic-table">
                            <div class="preview">
                                <div class="overflow-x-auto">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Title</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Like</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Dislike</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Video</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int i = 1;
                                                foreach (var item in Model.ModuleDataList)
                                                {
                                                    <tr>
                                                        <td class="border-b dark:border-dark-5">@i</td>
                                                        <td class="border-b dark:border-dark-5">@item.Title</td>
                                                        <td class="border-b dark:border-dark-5">@(item.LikeId == null ? 0 : item.LikeId)</td>
                                                        <td class="border-b dark:border-dark-5">@(item.DisLikeId == null ? 0 : item.DisLikeId)</td>
                                                        <td class="border-b dark:border-dark-5">@(item.VideoName == null ? "Not Available" : item.VideoName)</td>
                                                        <td class="border-b dark:border-dark-5 text-theme-10"><a asp-controller="Level" asp-action="Edit" asp-route-ModuleId="@item.Id"><i data-feather="edit"></i></a></td>
                                                        <td class="border-b dark:border-dark-5 text-theme-24"><a onclick="ShowDeleteConfirmation('PostDeleteModule(@item.Id)')"><i data-feather="trash-2"></i></a></td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="source-code hidden">
                                <button data-target="#copy-basic-table" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@await Component.InvokeAsync("ImageSelection")

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script>
    $('.select2').select2({ closeOnSelect: true, width: '100%' });
</script>
<script src="~/dist/js/Level.js"></script>
<link href="~/assets/css/PreviewDropdown.css" rel="stylesheet" />
<script src="~/dist/js/CustomJs/Delete.js"></script>
<link href="~/assets/css/StyleSheet.css" rel="stylesheet" />
<script type="text/javascript">

    function TranslateSpanish() {

        var Title = document.getElementById('Title').value;
        var Subtitle = document.getElementById('subtitlespanish').value;
        var FullDescription = document.getElementById('editorEnglish').value;
        $.ajax({
            url: "/Admin/Level/TranslateSpanish",
            type: "POST",
            data: { Title, Subtitle, FullDescription },

            success: function (data, status) {
                $("#titleSpanish").val(data.title);
                $(".SpanishSubtitle").val(data.subtitle);
                /*$(".SpanishFullDescription").val(data.fullDescription);*/
                CKEDITOR.instances['editorSpanish'].setData(data.fullDescription);
            },


        });
    }

</script>
<script>
    function TranslateEnglish() {

        var Title = document.getElementById('titleSpanish').value;
        var Subtitle = document.getElementsByClassName('SpanishSubtitle').value;
        var FullDescription = document.getElementsByClassName('editorSpanish').value;
        $.ajax({
            url: "/Admin/Level/TranslateEnglish",
            type: "POST",
            data: { Title, Subtitle, FullDescription },

            success: function (data, status) {
                $("#Title").val(data.title);
                $(".subtitle").val(data.subtitle);

                CKEDITOR.instances['editorEnglish'].setData(data.fullDescription);

            },


        });
    }
</script>
<script type="text/javascript">

    function TranslateSpanishModule() {
        debugger
        var Title = document.getElementById('titlemodule').value;
        var FullDescription = CKEDITOR.instances.editorModuleEnglish.getData();
        //var FullDescription = document.getElementById('editorModuleEnglish').value;
        if (Title == null || Title == '') {
            document.getElementById("Titletag").innerHTML = "Please Enter Title.";
        }

        if (FullDescription == null || FullDescription == '') {
            document.getElementById("FullDescriptiontag").innerHTML = "Please Enter Description.";
        }
        else if (Title != null || Title != '' && FullDescription != null || FullDescription != '') {
            $.ajax({
                url: "/Admin/Level/TranslateSpanishModule",
                type: "POST",
                data: { Title, FullDescription },

                success: function (data, status) {
                    $("#titlemodulespanish").val(data.title);
                    CKEDITOR.instances['editorModuleSpanish'].setData(data.fullDescription);
                },


            });
        }
    }

</script>
<script type="text/javascript">

    function TranslateEnglishModule() {

        var Title = document.getElementById('titlemodulespanish').value;
        var FullDescription = CKEDITOR.instances.editorModuleSpanish.getData();
        //var FullDescription = document.getElementById('editorModuleSpanish').value;
        if (Title == null || Title == '') {
            document.getElementById("TitletagSpan").innerHTML = "Please Enter Title.";
        }

        if (FullDescription == null || FullDescription == '') {
            document.getElementById("FullDescriptiontagSpan").innerHTML = "Please Enter Description.";
        }
        else if (Title != null || Title != '' && FullDescription != null || FullDescription != '') {
            $.ajax({
                url: "/Admin/Level/TranslateEnglishModule",
                type: "POST",
                data: { Title, FullDescription },

                success: function (data, status) {
                    $("#titlemodule").val(data.title);
                    CKEDITOR.instances['editorModuleEnglish'].setData(data.fullDescription);
                },


            });
        }
    }

</script>

<script>
    $(document).ready(function () {

        // $("#quotes").attr('disabled','disabled');

        // $("#quotes").removeClass("hidden",true);

        $("#randomquote").change(function () {
            if ($(this).is(':checked')) {
                $("#quotesedit").removeAttr('hidden');
document.getElementById("selectcheck").value=1;
            }
            else {
                $("#quotesedit").attr('hidden', true);

document.getElementById("selectcheck").value=2;

            }

        });
    });

</script>
<script>
function showdropdown(){

    

}
</script>