@model DeVeeraApp.ViewModels.LevelModel
@using DeVeeraApp.ViewModels.Enum

@{
    ViewData["Title"] = "Edit";
}
<style>
    .pl-6px {
        padding-left: 7rem;
    }
</style>

<div class="intro-y inbox py-10 sm:py-20 ">
    <div class="px-5 ">
        <div class="font-medium text-center text-lg">Edit Level</div>
        <div class="text-gray-600 text-center mt-2">Please add Level name and description</div>
    </div>
    <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
            <div class="intro-y box p-5 col-span-12">
                <div class="intro-y pr-1">
                    <div class="p-2">
                        <div class="pos__tabs nav nav-tabs justify-center" role="tablist">
                            <a id="level-tab" data-toggle="tab" data-target="#level" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab == "Level" ? "active" : "")" role="tab" aria-controls="level" aria-selected="true">Level</a>
                            <a id="modules-tab" data-toggle="tab" data-target="#modules" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab == "Add Module" ? "active" : "")" role="tab" aria-controls="modules" aria-selected="false">Add / Edit Module</a>
                            <a id="view-modules-tab" data-toggle="tab" data-target="#view-modules" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab == "View-Module" ? "active" : "")" role="tab" aria-controls="view-modules" aria-selected="false">View Modules</a>

                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="level" class="tab-pane @(ViewBag.ActiveTab == "Level" ? "active" : "")" role="tabpanel" aria-labelledby="level-tab">
                        <form asp-controller="Level" asp-action="Edit" method="post" id="levelForm" onsubmit="ShowLoader('levelForm');">
                            <input type="hidden" asp-for="@Model.srno" />
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div asp-validation-summary="All" class="text-theme-6 mt-4">
                                </div>
                            }
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Level No.</label>
                                <input id="input-wizard-1" asp-for="@Model.LevelNo" type="number" class="form-control" placeholder="title">
                                <span asp-validation-for="LevelNo" class="text-theme-6 mt-2"></span>
                            </div>
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input id="input-wizard-1" asp-for="@Model.Title" type="text" class="form-control" placeholder="title">
                                <span asp-validation-for="Title" class="text-theme-6 mt-2"></span>
                            </div>
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Subtitle</label>
                                <input id="input-wizard-1" asp-for="@Model.Subtitle" type="text" class="form-control" placeholder="title">
                                <span asp-validation-for="Subtitle" class="text-theme-6 mt-2"></span>
                            </div>

                            <div class="mt-5">
                                <label class="form-label text-theme-21 star">Video</label>
                                <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>

                            </div>
                            <div class="mt-5">

                                <label class="form-label text-theme-21 star">Emotion</label>
                                @Html.ListBoxFor(m => m.SelectedEmotions, @Model.AvailableEmotions, new { @Id = "post-form-3", @class = "tail-select w-full", @placeholder = "Select Emotions" })

                            </div>

                            <div class="mt-5">
                                @{  
                                    var BannerImageUrl =Model.BannerImageUrl!=null? Model.BannerImageUrl : "/dist/images/food-beverage-9.jpg";
                                    var VideoThumbImageUrl = Model.VideoThumbImageUrl != null ? Model.VideoThumbImageUrl : "/dist/images/food-beverage-9.jpg";
                                    var ShareBackgroundImageUrl = Model.ShareBackgroundImageUrl != null ? Model.ShareBackgroundImageUrl : "/dist/images/food-beverage-9.jpg";

                                <div class="grid grid-cols-12 gap-5 mt-5 pt-5 border-t border-theme-31">
                                    <a onclick="OpenImageSelectionModal('BannerImageId','BannerImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="BannerImageId" hidden>
                                                    <img id="BannerImageUrl" alt="" src="@BannerImageUrl" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Banner</div>
                                        </div>
                                    </a>
                                    <a onclick="OpenImageSelectionModal('VideoThumbImageId','VideoThumbImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="VideoThumbImageId" hidden>
                                                    <img id="VideoThumbImageUrl" alt="" src="@VideoThumbImageUrl" style="Width:100%;height:100%">
                                                </div>
                                                <div class="block font-medium text-center truncate mt-3">Video Thumbnail</div>
                                            </div>

                                        </div>
                                    </a>
                                    <a onclick="OpenImageSelectionModal('ShareBackgroundImageId','ShareBackgroundImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="ShareBackgroundImageId" hidden>
                                                    <img id="ShareBackgroundImageUrl" alt="" src="@ShareBackgroundImageUrl" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Share Panel Background</div>
                                        </div>
                                    </a>
                                </div>
                                }
                            </div>
                            <div class="mt-5">
                                <input asp-for="Active" type="checkbox" class="form-check-input" placeholder="IsActive" />
                                <label class="form-label text-theme-21 pl-1">Active</label>
                            </div>
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                            </div>
                            <div class="" id="standard-editor">
                                <div class="preview">
                                    <textarea id="editor2" asp-for="FullDescription" class="editor2"> </textarea>

                                </div>
                            </div>
                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <div class="grid grid-cols-12  gap-y-5 mt-5">
                                    <div class="intro-y   col-span-6">
                                        <span class="pl-6px">
                                            <span class="btn btn-outline-secondary relative justify-end rounded-full h-10 w-32">
                                                Back to List
                                                <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="Level" asp-action="List">
                                                    <i data-feather="arrow-left" class="w-4 h-4"></i>
                                                </a>
                                            </span>
                                        </span>
                                    </div>

                                    <div class="intro-y   col-span-3 pl-5">
                                        <button type="submit" class="btn btn-primary w-24">Save</button>
                                    </div>
                                    <div class="intro-y  col-span-3 ml-auto">


                                        <a target="_blank" class="btn btn-primary w-24" href="/Lesson/Index/@Model.Id">Preview</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="modules" class="tab-pane @(ViewBag.ActiveTab=="Add Module" ? "active":"")" role="tabpanel" aria-labelledby="modules-tab">
                        <form asp-controller="Level" asp-action="AddModule" method="post" id="levelForm2" onsubmit="ShowLoader('levelForm2');">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div asp-validation-summary="All" class="text-theme-6 mt-4">
                                </div>
                            }

                            <div class="mt-5">
                                <label class="form-label text-theme-21 ">title</label>
                                <input asp-for="Id" hidden />
                                <input asp-for="Modules.Id" hidden />
                                <input asp-for="@Model.Modules.Title" type="text" class="form-control w-full" placeholder="Title" />

                            </div>
                            <div class="mt-5">
                                <label class="form-label text-theme-21 ">Video</label>
                                @{
                                    Model.Modules.VideoId = Model.Modules.VideoId == null ? Model.Modules.VideoId = 0 : Model.Modules.VideoId;
                                }
                                <select asp-for="@Model.Modules.VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>

                            </div>
                            <div class="mt-5">
                                @{
                                    var ModuleBannerImageUrl = Model.Modules.BannerImageUrl != null ? Model.Modules.BannerImageUrl : "/dist/images/food-beverage-9.jpg";
                                    var ModuleVideoThumbImageUrl = Model.Modules.VideoThumbImageUrl != null ? Model.Modules.VideoThumbImageUrl : "/dist/images/food-beverage-9.jpg";
                                    var ModuleShareBackgroundImageUrl = Model.Modules.ShareBackgroundImageUrl != null ? Model.Modules.ShareBackgroundImageUrl : "/dist/images/food-beverage-9.jpg";

                                    <div class="grid grid-cols-12 gap-5 mt-5 pt-5 border-t border-theme-31">
                                        <a onclick="OpenImageSelectionModal('Modules_BannerImageId','ModuleBannerImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="Modules.BannerImageId" hidden>
                                                        <img id="ModuleBannerImageUrl" alt="" src="@ModuleBannerImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                </div>
                                                <div class="block font-medium text-center truncate mt-3">Banner</div>
                                            </div>
                                        </a>
                                        <a onclick="OpenImageSelectionModal('Modules_VideoThumbImageId','ModuleVideoThumbImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="Modules.VideoThumbImageId"  hidden>
                                                        <img id="ModuleVideoThumbImageUrl" alt="" src="@ModuleVideoThumbImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                    <div class="block font-medium text-center truncate mt-3">Video Thumbnail</div>
                                                </div>

                                            </div>
                                        </a>
                                        <a onclick="OpenImageSelectionModal('Modules_ShareBackgroundImageId','ModuleShareBackgroundImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                            <div class="box rounded-md p-3 relative zoom-in">
                                                <div class="flex-none pos-image relative block">
                                                    <div class="pos-image__preview">
                                                        <input asp-for="Modules.ShareBackgroundImageId" hidden>
                                                        <img id="ModuleShareBackgroundImageUrl" alt="" src="@ModuleShareBackgroundImageUrl" style="Width:100%;height:100%">
                                                    </div>
                                                </div>
                                                <div class="block font-medium text-center truncate mt-3">Share Panel Background</div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Description</label>
                            </div>
                            <div class="" id="standard-editor">
                                <div class="preview">
                                    <textarea id="editor3" asp-for="Modules.FullDescription" class="editor3" required> </textarea>

                                </div>
                                <span asp-validation-for="Modules.FullDescription" class="text-theme-6 mt-2"></span>
                            </div>

                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <span class="mr-5">
                                    <span class="btn btn-outline-secondary relative justify-end rounded-full h-10 w-32">
                                        Back to List
                                        <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="Level" asp-action="List">
                                            <i data-feather="arrow-left" class="w-4 h-4"></i>
                                        </a>
                                    </span>
                                </span>

                                <button type="submit" class="btn btn-primary mr-2 w-24">Save</button>

                                @if (Model.Modules.Id != 0)
                                {
                                    <a target="_blank" class="btn btn-primary w-24" href="/Module/Index/@Model.Modules.Id">Preview</a>
                                }

                            </div>
                        </form>
                    </div>

                    <div id="view-modules" class="tab-pane @(ViewBag.ActiveTab=="View-Module" ? "active":"")" role="tabpanel" aria-labelledby="view-modules-tab">
                        <div class="p-5" id="basic-table">
                            <div class="preview">
                                <div class="overflow-x-auto">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Title</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Video</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int i = 1;
                                                foreach (var item in Model.ModuleList)
                                                {
                                                    <tr>
                                                        <td class="border-b dark:border-dark-5">@i</td>
                                                        <td class="border-b dark:border-dark-5">@item.Title</td>
                                                        <td class="border-b dark:border-dark-5">@(item.Video?.Name == null ? "Not Available" : item.Video?.Name)</td>
                                                        <td class="border-b dark:border-dark-5 text-theme-10"><a asp-controller="Level" asp-action="Edit" asp-route-ModuleId="@item.Id"><i data-feather="edit"></i></a></td>
                                                        <td class="border-b dark:border-dark-5 text-theme-24"><a onclick="ShowDeleteConfirmation('PostDeleteModule(@item.Id)')"><i data-feather="trash-2"></i></a></td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="source-code hidden">
                                <button data-target="#copy-basic-table" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@await Component.InvokeAsync("ImageSelection")
<script src="~/dist/js/Level.js"></script>
