@model DeVeeraApp.ViewModels.WeeklyUpdateModel

@{
    ViewData["Title"] = "Create";
}

<form asp-controller="WeeklyUpdate" asp-action="Create" method="post" id="RegistartionForm" onsubmit="ShowLoader('RegistartionForm');">
    <div class="intro-y inbox py-10 sm:py-20 ">

        @if (ViewBag.QuoteType == "Login")
        {
            <input type="hidden" asp-for="@Model.QuoteType" value="@Quote.Login" />
            <div class="px-5 ">
                <div class="font-medium text-center text-lg">Create Login Video</div>
                <div class="text-gray-600 text-center mt-2">Please add video to show weekly video after user login</div>
            </div>
            <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    <div class="intro-y box p-5 col-span-12">
                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div asp-validation-summary="All" class="text-theme-6 mt-4">
                            </div>
                        }

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                            <input asp-for="Title" type="text" class="form-control w-full" placeholder="Title" />
                            <span asp-validation-for="Title" class="text-theme-6 mt-2"></span>
                        </div>

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                            <input asp-for="Subtitle" type="text" class="form-control w-full" placeholder="Quote" />
                            <span asp-validation-for="Subtitle" class="text-theme-6 mt-2"></span>
                        </div>

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Video</label>
                            <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                            <span asp-validation-for="VideoId" class="text-theme-6 mt-2"></span>
                        </div>

                        @*<div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Banner Image</label>
                            <select asp-for="BannerImageId" asp-items="Model.AvailableBannerImage" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                            <span asp-validation-for="BannerImageId" class="text-theme-6 mt-2"></span>
                        </div>*@


                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star"> Image</label>
                            @*<select asp-for="BannerImageId" asp-items="Model.AvailableBannerImage" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>*@
                            <div class="grid grid-cols-12 gap-4 mt-5 pt-5 border-t border-theme-31">

                                <a onclick="OpenImageSelectionModal('BannerImageId','BannerImageIdLoginUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                    <div class="box rounded-md p-3 relative zoom-in">
                                        <div class="flex-none pos-image relative block">
                                            <div class="pos-image__preview">
                                                <input asp-for="BannerImageId" hidden>
                                                <img id="BannerImageIdLoginUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                            </div>
                                        </div>
                                        <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                    </div>
                                    <span asp-validation-for="BannerImageId" class="text-theme-6 mt-2"></span>
                                </a>


                                <a onclick="OpenImageSelectionModal('BodyImageId','BodyImageIdloginUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                    <div class="box rounded-md p-3 relative zoom-in">
                                        <div class="flex-none pos-image relative block">
                                            <div class="pos-image__preview">
                                                <input asp-for="BodyImageId" hidden>
                                                <img id="BodyImageIdloginUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                            </div>
                                        </div>
                                        <div class="block font-medium text-center truncate mt-3">Body Image</div>
                                    </div>
                                    <span asp-validation-for="BodyImageId" class="text-theme-6 mt-2"></span>
                                </a>


                            </div>

                        </div>

                        @*<div class="mt-5">
            <label for="input-wizard-1" class="form-label text-theme-21 star">Body Image</label>
            <select asp-for="BodyImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
            <span asp-validation-for="BodyImageId" class="text-theme-6 mt-2"></span>
        </div>*@


                        <div class="mt-5">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox">
                            <label for="input-wizard-1" class="form-label text-theme-21 pl-1">Active</label>
                            <span asp-validation-for="IsActive" class="text-theme-6 mt-2"></span>

                        </div>

                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                            <div class="grid grid-cols-12  gap-y-5 mt-5">
                                <div class="intro-y   col-span-6">
                                    @*<a asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Login)" class="btn btn-primary w-24"> List</a>*@
                                    <span class="btn btn-outline-secondary relative justify-end rounded-full h-10 w-32">
                                        Back to List
                                        <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Login)">
                                            <i data-feather="arrow-left" class="w-4 h-4"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="intro-y  col-span-6 ml-auto">

                                    <button type="submit" class="btn btn-primary w-24">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        }
        else if (ViewBag.QuoteType == "Registration")
        {
            <input type="hidden" asp-for="@Model.QuoteType" value="@Quote.Registration" />
            <div class="px-5 ">
                <div class="font-medium text-center text-lg">Create Registration Video</div>
                <div class="text-gray-600 text-center mt-2">Please add video to show on the weekly video after user Registration</div>
            </div>
            <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    <div class="intro-y box p-5 col-span-12">
                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div asp-validation-summary="All" class="text-theme-6 mt-4">
                            </div>
                        }

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                            <input asp-for="Title" type="text" class="form-control w-full" placeholder="Title" />
                            <span asp-validation-for="Title" class="text-theme-6 mt-2"></span>
                        </div>

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                            <input asp-for="Subtitle" type="text" class="form-control w-full" placeholder="Quote" />
                            <span asp-validation-for="Subtitle" class="text-theme-6 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Video</label>

                            <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                            <span asp-validation-for="VideoId" class="text-theme-6 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star"> Image</label>
                            @*<select asp-for="BannerImageId" asp-items="Model.AvailableBannerImage" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>*@
                        <div class="grid grid-cols-12 gap-4 mt-5 pt-5 border-t border-theme-31">

                            <a onclick="OpenImageSelectionModal('BannerImageId','BannerImageIdUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="BannerImageId" hidden>
                                            <img id="BannerImageIdUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                </div>
                                <span asp-validation-for="BannerImageId" class="text-theme-6 mt-2"></span>
                            </a>
                           

                            <a onclick="OpenImageSelectionModal('BodyImageId','BodyImageIdUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="BodyImageId" hidden>
                                            <img id="BodyImageIdUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Body Image</div>
                                </div>
                                <span asp-validation-for="BodyImageId" class="text-theme-6 mt-2"></span>
                            </a>
                           

                        </div>
                        
                        </div>
                        <!--<div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Body Image</label>-->
                            @*<select asp-for="BodyImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>*@
                        <!--<div class="grid grid-cols-12 gap-4 mt-5 pt-5 border-t border-theme-31">
                            <a onclick="OpenImageSelectionModal('BodyImageId','BodyImageIdUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="BodyImageId" hidden>
                                            <img id="BodyImageIdUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Body Image</div>
                                </div>
                            </a>
                            <span asp-validation-for="BodyImageId" class="text-theme-6 mt-2"></span>
                        </div>
                        </div>-->

                        <div class="mt-5">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox">
                            <label for="input-wizard-1" class="form-label text-theme-21 pl-1">Active</label>
                            <span asp-validation-for="IsActive" class="text-theme-6 mt-2"></span>

                        </div>

                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                            <div class="grid grid-cols-12  gap-y-5 mt-5">
                                <div class="intro-y   col-span-6">
                                    @*<a asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Registration)" class="btn btn-primary w-24"> List</a>*@
                                    <span class="btn btn-outline-secondary relative justify-end rounded-full h-10 w-32">
                                        Back to List
                                        <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Registration)">
                                            <i data-feather="arrow-left" class="w-4 h-4"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="intro-y  col-span-6 ml-auto">

                                    <button type="submit" class="btn btn-primary w-24">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        }
        else
        {

            <div class="px-5 ">
                <div class="font-medium text-center text-lg">Create Landing Page </div>
                <div class="text-gray-600 text-center mt-2">Please add video to show on the landing page</div>
            </div>
            <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    <div class="intro-y box p-5 col-span-12">
                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div asp-validation-summary="All" class="text-theme-6 mt-4">
                            </div>
                        }

                        <input type="hidden" asp-for="@Model.QuoteType" value="@Quote.Landing" />
                        <div class="px-5 ">
                            <div class="font-medium text-center  text-theme-21">Sliders</div>
                        </div>
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-4 mt-5">
                                <div class="mt-5">
                                    <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 1</label>
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                    <input asp-for="SliderOneTitle" type="text" class="form-control w-full" placeholder="Title 1" required />
                                    <span asp-validation-for="SliderOneTitle" class="text-theme-6 mt-2"></span>
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Image</label>
                                    @*<select asp-for="SliderOneImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                    <a onclick="OpenImageSelectionModal('SliderOneImageId','SliderOneImageIdUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="SliderOneImageId" hidden>
                                                    <img id="SliderOneImageIdUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Slider Image 1</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Description</label>
                                    <textarea asp-for="SliderOneDescription" rows="4" class="form-control w-full" placeholder="Description 1" required></textarea>
                                    <span asp-validation-for="SliderOneDescription" class="text-theme-6 mt-2"></span>

                                </div>
                            </div>
                            <div class="col-span-4 mt-5">
                                <div class="mt-5">
                                    <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 2</label>
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 ">Title</label>
                                    <input asp-for="SliderTwoTitle" type="text" class="form-control w-full" placeholder="Title 2" />
                                    <span asp-validation-for="SliderTwoTitle" class="text-theme-6 mt-2"></span>
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21">Image</label>
                                    @*<select asp-for="SliderTwoImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                    <a onclick="OpenImageSelectionModal('SliderTwoImageId','SliderTwoImageIdIdUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="SliderTwoImageId" hidden>
                                                    <img id="SliderTwoImageIdIdUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Slider Image 2</div>
                                        </div>
                                    </a>
                                </div>

                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                                    <textarea asp-for="SliderTwoDescription" rows="4" class="form-control w-full" placeholder="Description 2"></textarea>
                                    <span asp-validation-for="SliderTwoDescription" class="text-theme-6 mt-2"></span>
                                </div>
                            </div>
                            <div class="col-span-4 mt-5">
                                <div class="mt-5">
                                    <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 3</label>
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21">Title</label>
                                    <input asp-for="SliderThreeTitle" type="text" class="form-control w-full" placeholder="Title 3" />
                                    <span asp-validation-for="SliderThreeTitle" class="text-theme-6 mt-2"></span>
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21">Image</label>
                                    @*<select asp-for="SliderThreeImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                    <a onclick="OpenImageSelectionModal('SliderThreeImageId','SliderThreeImageIdIdIdUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="SliderThreeImageId" hidden>
                                                    <img id="SliderThreeImageIdIdIdUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Slider Image 3</div>
                                        </div>
                                    </a>
                                </div>

                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21">Description</label>
                                    <textarea asp-for="SliderThreeDescription" rows="4" class="form-control w-full" placeholder="Description 3"></textarea>
                                    <span asp-validation-for="SliderThreeDescription" class="text-theme-6 mt-2"></span>

                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <div class="form-label text-theme-21  border-b-2 w-full"></div>
                        </div>
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-6 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input asp-for="Title" type="text" class="form-control w-full" placeholder="Title" id="LandingTitle" required />
                                <span asp-validation-for="Title" class="text-theme-6 mt-2"></span>
                            </div>

                            <div class="col-span-6 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                                <input id="Landingquote" asp-for="LandingQuote" class="form-control w-full" required />
                                <span asp-validation-for="LandingQuote" class="text-theme-6 mt-2"></span>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-12 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Video</label>
                                <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                            </div>
                        </div>

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Description Image</label>
                            <div class="grid grid-cols-12 gap-4 mt-5 pt-5 border-t border-theme-31">                             
                                    @*<select asp-for="DescriptionImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                    <a onclick="OpenImageSelectionModal('DescriptionImageId','DescriptioncreateImageIdUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="DescriptionImageId" hidden>
                                                    <img id="DescriptioncreateImageIdUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Description Image</div>
                                        </div>
                                    </a>
                               
                            </div>
                        </div>
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                            </div>
                            <div class="" id="standard-editor">
                                <div class="preview">
                                    <textarea id="editor2" asp-for="Subtitle" class="editor2"> </textarea>
                                </div>
                                <span asp-validation-for="Subtitle" class="text-theme-6 mt-2"></span>

                            </div>
                            <div class="mt-5">
                                <input asp-for="IsActive" class="form-check-input" type="checkbox">
                                <label for="input-wizard-1" class="form-label text-theme-21 pl-1">Active</label>
                            </div>

                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <div class="grid grid-cols-12  gap-y-5 mt-5">
                                    <div class="intro-y   col-span-6">
                                        @*<a asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Landing)" class="btn btn-primary w-24"> List</a>*@
                                        <span class="btn btn-outline-secondary relative justify-end rounded-full h-10 w-32">
                                            Back to List
                                            <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Landing)">
                                                <i data-feather="arrow-left" class="w-4 h-4"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="intro-y  col-span-6 ml-auto">

                                        <button type="submit" class="btn btn-primary w-24" onclick="ShowLoader('RegistartionForm');">Save</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

            </div>

        }

    </div>

</form>

@await Component.InvokeAsync("ImageSelection")