@model DeVeeraApp.ViewModels.WeeklyUpdateModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 60px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 58px;
        /* margin-bottom: 14px; */
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 56px;
        position: absolute;
        top: 0px;
        right: 1px;
        width: 24px;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #eeeeee;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: #eee transparent transparent transparent;
            /* border-style: solid; */
            border-width: 5px 4px 0 4px;
            height: 0;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }
</style>
<form asp-controller="WeeklyUpdate" asp-action="Edit" method="post" id="Registrationform" onsubmit="ShowLoader('Registrationform');">
    <div class="intro-y inbox  py-10 sm:py-20 ">

        @if (Enum.GetName(typeof(Quote), Model.QuoteType) == "Login")
        {
            <input type="hidden" asp-for="@Model.QuoteType" value="@Quote.Login" />
            <div class="px-5 ">
                <div class="font-medium text-center text-lg">Edit Welcome Back Screen </div>
                <div class="text-gray-600 text-center mt-2">Please edit  below detail to show on Welcome back screen</div>
            </div>
            <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    <div class="intro-y box p-5 col-span-12">
                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div asp-validation-summary="All" class="text-theme-6 mt-4">
                            </div>
                        }

                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-6 mt-5">
                                <div>
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>

                                    <a onclick="TranslateSpanishEditLogin()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>
                                </div>

                            </div>

                            <div class="col-span-6 mt-5">
                                <div>
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                                    <a class="btn btn-primary w-40" onclick="TranslateEnglishEditLogin()" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>
                                </div>

                            </div>
                            <div class="col-span-6 mt-5">

                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input asp-for="Title" id="titlelogin" type="text" class="form-control w-full" placeholder="Title" />
                                <span asp-validation-for="Title" class="text-theme-21  mt-2"></span>
                            </div>

                            <div class="col-span-6 mt-5">

                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                @*<input id="input-wizard-1" asp-for="@Model.Title" type="text" class="form-control" placeholder="title">*@
                                @*<span asp-validation-for="Title" class="text-theme-21 mt-2"></span>*@
                                <input asp-for="@Model.SpanishTitleLogin" id="titleSpanishLogin" type="text" class="form-control ">
                            </div>
                           
                            <!--<div class="col-span-6 mt-5">-->
                                @*<label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                                <input id="randomquotespanish" asp-for="IsRandom" class="form-check-input ml-4 mr-1" type="checkbox" onclick="hideshowqoutetrans();" />
                                <label class="form-label text-theme-21 star">Random Quote</label>
                                <input id="quotesspanish" asp-for="SpanishSubtitleLogin" type="text" class="form-control w-full @((Model.IsRandom==true)? "hidden":"")" placeholder="Quote" ) />
                                <span asp-validation-for="Subtitle" class="text-theme-6 mt-2"></span>*@

                                 @*@if (Model.QuoteId != 0)
                                 {
                                <div id="quotesSpanishuseredit"   class="mt-5" >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuoteSpanish" value="" onchange="TranslateQuoteuserEng(this)" id="quotedropdownspanedit" type="text"  data-search="true" class="tail-select w-full"  placeholder="video name"></select>
                    </div>
                }
                else
                {
 <div id="quotesSpanishuseredit"  hidden class="mt-5" >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuoteSpanish" value="" onchange="TranslateQuoteuserEng(this)" id="quotedropdownspanedit" type="text"  data-search="true" class="tail-select w-full"  placeholder="video name"></select>
                    </div>
                }*@

                            @*</div>*@


                        </div>
                         <div class=" mt-3">
                                @*<label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                                <input id="randomquote" asp-for="IsRandom" class="form-check-input ml-4 mr-1" type="checkbox" onclick="hideshowqoute();" />
                                <label class="form-label text-theme-21 star">Random Quote</label>
                                <input id="quotes" asp-for="Subtitle" type="text" class="form-control w-full @((Model.IsRandom==true)? "hidden":"")" placeholder="Quote" ) />
                                <span asp-validation-for="Subtitle" class="text-theme-6 mt-2"></span>*@

                                     @if (Model.QuoteId != 0)
                {
  <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                    <input id="randomquotelogin" asp-for="IsRandom" class="form-check-input ml-4 mr-1 "  type="checkbox" name="randomquote" checked />
                    <label class="form-label text-theme-21 star">Random Quote</label>
                    <div id="quoteseditlogin"  >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuote"  id="quotedropdownengedit"  type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                    </div>
                }
                else { 
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                    <input id="randomquotelogin" asp-for="IsRandom" class="form-check-input ml-4 mr-1 "  type="checkbox" name="randomquote" />
                    <label class="form-label text-theme-21 star">Random Quote</label>
                    <div id="quoteseditlogin" hidden >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuote"  id="quotedropdownengedit"  type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                    </div>
                                }
                             <input  type="text" value="" id="userlogin" name="userlogin" hidden/>
                            </div>
                        
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Video</label>
                            <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" id="video" class="form-control select2 select2-hidden-accessible w-full" placeholder="video name"></select>
                            <span asp-validation-for="VideoId" class="text-theme-21  mt-2"></span>

                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Subtitle</label>
                            <input asp-for="Subtitle" type="text" class="form-control w-full" placeholder="Subtitle" />
                            <span asp-validation-for="Subtitle" class="text-theme-21 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Video Header</label>
                            <input asp-for="VideoHeader" type="text" class="form-control w-full" placeholder="Video Header" />
                            <span asp-validation-for="VideoHeader" class="text-theme-21 mt-2"></span>
                        </div>

                        <div class="mt-5">
                            @{
                                var BannerImageURL = Model.BannerImageURL == null ? "/dist/images/food-beverage-5.jpg" : Model.BannerImageURL;
                                var BodyImageURL = Model.BodyImageURL == null ? "/dist/images/food-beverage-5.jpg" : Model.BodyImageURL;

                            }
                            <label for="input-wizard-1" class="form-label text-theme-21 star"> Image</label>
                            @*<select asp-for="BannerImageId" asp-items="Model.AvailableBannerImage" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>*@
                            <div class="grid grid-cols-12 gap-4 mt-5 pt-5 border-t border-theme-31">

                                <a onclick="OpenImageSelectionModal('BannerImageId','BannerImageIdEditUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                    <div class="box rounded-md p-3 relative zoom-in">
                                        <div class="flex-none pos-image relative block">
                                            <div class="pos-image__preview">
                                                <input asp-for="BannerImageId" hidden>
                                                <img id="BannerImageIdEditUrl" alt="" src="@BannerImageURL" style="Width:100%;height:100%">
                                            </div>
                                        </div>
                                        <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                    </div>
                                    <span asp-validation-for="BannerImageId" class="text-theme-6 mt-2"></span>
                                </a>


                                <a onclick="OpenImageSelectionModal('BodyImageId','BodyImageIdEditUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                    <div class="box rounded-md p-3 relative zoom-in">
                                        <div class="flex-none pos-image relative block">
                                            <div class="pos-image__preview">
                                                <input asp-for="BodyImageId" hidden>
                                                <img id="BodyImageIdEditUrl" alt="" src="@BodyImageURL" style="Width:100%;height:100%">
                                            </div>
                                        </div>
                                        <div class="block font-medium text-center truncate mt-3">Body Image</div>
                                    </div>
                                    <span asp-validation-for="BodyImageId" class="text-theme-6 mt-2"></span>
                                </a>


                            </div>

                        </div>



                        <div class="mt-5">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox">
                            <label for="input-wizard-1" class="form-label text-theme-21 ">Active</label>
                            <span asp-validation-for="IsActive" class="text-theme-21  mt-2"></span>

                        </div>
                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                            <div class="grid grid-cols-12  gap-y-5 mt-5">
                                <div class="intro-y   col-span-6">
                                    @*<a asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Login)" class="btn btn-primary w-24"> List</a>*@
                                    <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                        <label class="pl-10">Back to List</label>
                                        <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Login)">
                                            <i data-feather="arrow-left" class="w-4 h-4"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="intro-y  col-span-6 ml-auto">

                                    <button type="submit" class="btn btn-primary w-24">Save</button>
                                    <div class="dropdown">
                                        <button disabled class="dropbtn  btn btn-primary w-24">Preview</button>
                                        <div class="dropdown-content">
                                            <a target="_blank" href="/Home/ExistingUser?QuoteType=@((int)Quote.Login)&Lang=English">English</a>
                                            <a target="_blank" href="/Home/ExistingUser?QuoteType=@((int)Quote.Login)&Lang=Spanish">Spanish</a>

                                        </div>
                                    </div>
                                    @*<a target="_blank" class="btn btn-primary w-24" href="/Home/ExistingUser?QuoteType=@((int)Quote.Login)">Preview</a>*@
                                </div>
                                @*<div class="intro-y  col-span-3 ml-auto">*@



                                @*</div>*@
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        }
        else if (Enum.GetName(typeof(Quote), Model.QuoteType) == "Registration")
        {

            //Edit Registration Video
            <input type="hidden" asp-for="@Model.QuoteType" value="@Quote.Registration" />
            <div class="px-5 ">
                <div class="font-medium text-center text-lg">Edit Welcome Screen</div>
                <div class="text-gray-600 text-center mt-2">Please edit below details to show on Welcome screen</div>
            </div>
            <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    <div class="intro-y box p-5 col-span-12">
                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div asp-validation-summary="All" class="text-theme-6 mt-4">
                            </div>
                        }
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-6 mt-5">
                                <div>
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>
                                    <a onclick="TranslateSpanish()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>
                                </div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input asp-for="Title" type="text" id="titleRegistration" class="form-control w-full" placeholder="Title" />
                                <span asp-validation-for="Title" class="text-theme-21 mt-2"></span>
                            </div>

                            <div class="col-span-6 mt-5">
                                <div>
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                                    <a onclick="TranslateEnglishCreate()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>
                                </div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input asp-for="TitleRegistration" type="text" id="titleSpanishregistration" titleSpanish class="form-control w-full" placeholder="Title" />
                                <span asp-validation-for="TitleRegistration" class="text-theme-21 mt-2"></span>
                            </div>
                            <div class="col-span-6 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Subtitle</label>
                                <input asp-for="Subtitle" type="text" id="Subtilteregistration" class="form-control w-full" placeholder="SubTitle" />
                                <span asp-validation-for="Subtitle" class="text-theme-21 mt-2"></span>
                            </div>
                            <div class="col-span-6 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Subtitle</label>
                                <input asp-for="SubtitleRegistration" type="text" id="SubtitleSpanishregistration" class="form-control w-full" />
                                <span asp-validation-for="SubtitleRegistration" class="text-theme-21 mt-2"></span>
                            </div>
                           
                            @*<div class="col-span-6 mt-5">*@
                                @*<label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                                <input id="randomquoteSpanish" asp-for="IsRandom" class="form-check-input ml-4 mr-1" type="checkbox" onclick="hideshowqouteSpanish();" />
                                <label class="form-label text-theme-21 star">Random Quote</label>
                                <input id="quotesSpanishregistration" asp-for="Quote" type="text" class="form-control w-full @((Model.IsRandom==true)? "hidden":"")" placeholder="Quote" />
                                <span asp-validation-for="QuoteRegistration" class="text-theme-6 mt-2"></span>*@
                                 @*@if (Model.QuoteId != 0)
                                 {
                                <div id="quotesSpanishedit"   class="mt-5" >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuoteSpanish" value="" onchange="TranslateQuotedropdEng(this)" id="quotedropdownspanedit" type="text"  data-search="true" class="tail-select w-full"  placeholder="video name"></select>
                    </div>
                }
                else
                {
 <div id="quotesSpanishedit"  hidden class="mt-5" >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuoteSpanish" value="" onchange="TranslateQuotedropdEng(this)" id="quotedropdownspanedit" type="text"  data-search="true" class="tail-select w-full"  placeholder="video name"></select>
                    </div>
                }*@
                            @*</div>*@
                            <div class="col-span-6 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Video Header</label>
                                <input asp-for="VideoHeader" type="text" id="videoheaderregistation" class="form-control w-full" placeholder="Video Header" />
                                <span asp-validation-for="VideoHeader" class="text-theme-21 mt-2"></span>
                            </div>
                            <div class="col-span-6 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Video Header</label>
                                <input asp-for="VideoHeader" type="text" class="form-control w-full VideoHeaderSpanishR" placeholder="Video Header" />
                                <span asp-validation-for="VideoHeaderRegistration" class="text-theme-21 mt-2"></span>
                            </div>
                        </div>

                         <div class=" mt-3">
                                @*<label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                                <input id="randomquote" asp-for="IsRandom" class="form-check-input ml-4 mr-1" type="checkbox" onclick="hideshowqoute();" />
                                <label class="form-label text-theme-21 star">Random Quote</label>
                                <input id="quotesregistraion" asp-for="Quote" type="text" class="form-control w-full @((Model.IsRandom==true)? "hidden":"")" placeholder="Quote" />
                                <span asp-validation-for="Quote" class="text-theme-6 mt-2"></span>*@
                                @if (Model.QuoteId!=0)
                {
  <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                    <input id="randomquote" asp-for="IsRandom" class="form-check-input ml-4 mr-1 "  type="checkbox" name="randomquote" checked />
                    <label class="form-label text-theme-21 star">Random Quote</label>
                    <div id="quotesedit"  >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuote"  id="quotedropdownengedit"  type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                    </div>
                }
                else { 
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                    <input id="randomquote" asp-for="IsRandom" class="form-check-input ml-4 mr-1 "  type="checkbox" name="randomquote" />
                    <label class="form-label text-theme-21 star">Random Quote</label>
                    <div id="quotesedit" hidden >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuote"  id="quotedropdownengedit"  type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                    </div>
                                }
                            </div>
                         <input  type="text" value="" id="userRegistration" name="userRegistration" hidden/>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Video</label>
                            <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" id="video" class="form-control select2 select2-hidden-accessible w-full" placeholder="video name"></select>
                            <span asp-validation-for="VideoId" class="text-theme-21  mt-2"></span>

                        </div>

                        @{
                            var BannerImageURL = Model.BannerImageURL == null ? "/dist/images/food-beverage-5.jpg" : Model.BannerImageURL;
                            var BodyImageURL = Model.BodyImageURL == null ? "/dist/images/food-beverage-5.jpg" : Model.BodyImageURL;

                        }
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 "> Image</label>
                            <div class="grid grid-cols-12 gap-4 mt-5 pt-5 border-t border-theme-31">

                                <a onclick="OpenImageSelectionModal('BannerImageId','BannerImageIdEditUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                    <div class="box rounded-md p-3 relative zoom-in">
                                        <div class="flex-none pos-image relative block">
                                            <div class="pos-image__preview">
                                                <input asp-for="BannerImageId" hidden>
                                                <img id="BannerImageIdEditUrl" alt="" src="@BannerImageURL" style="Width:100%;height:100%">
                                            </div>
                                        </div>
                                        <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                    </div>
                                    <span asp-validation-for="BannerImageId" class="text-theme-6 mt-2"></span>
                                </a>


                                <a onclick="OpenImageSelectionModal('BodyImageId','BodyImageIdEditUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                    <div class="box rounded-md p-3 relative zoom-in">
                                        <div class="flex-none pos-image relative block">
                                            <div class="pos-image__preview">
                                                <input asp-for="BodyImageId" hidden>
                                                <img id="BodyImageIdEditUrl" alt="" src="@BodyImageURL" style="Width:100%;height:100%">
                                            </div>
                                        </div>
                                        <div class="block font-medium text-center truncate mt-3">Body Image</div>
                                    </div>
                                    <span asp-validation-for="BodyImageId" class="text-theme-6 mt-2"></span>
                                </a>


                            </div>
                        </div>

                        @*<div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Body Image</label>
                                <select asp-for="BodyImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                                <span asp-validation-for="BodyImageId" class="text-theme-6 mt-2"></span>
                            </div>*@

                        <div class="mt-5">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox">
                            <label for="input-wizard-1" class="form-label text-theme-21 ">Active</label>
                            <span asp-validation-for="IsActive" class="text-theme-21 mt-2"></span>

                        </div>

                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                            <div class="grid grid-cols-12  gap-y-5 mt-5">
                                <div class="intro-y   col-span-6">
                                    @*<a asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Registration)" class="btn btn-primary w-24"> List</a>*@
                                    <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                        <label class="pl-10">Back to List</label>
                                        <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Registration)">
                                            <i data-feather="arrow-left" class="w-4 h-4"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="intro-y  col-span-6 ml-auto">

                                    <button type="submit" class="btn btn-primary w-24">Save</button>
                                    @{ 
                                        var i = 3;
                                        var j = 5;
                                    }
                                    <div class="dropdown">
                                        <button disabled class="dropbtn  btn btn-primary w-24">Preview</button>
                                        <div class="dropdown-content">
                                            @{ var English = 3;var Spanish = 5;
                                             <a target="_blank" href="/Home/NewUser?QuoteType=@((int)Quote.Registration)&PreviewLangId=@English">English</a>
                                             <a target="_blank" href= "/Home/NewUser?QuoteType=@((int)Quote.Registration)&PreviewLangId=@Spanish" > Spanish</a>
                                            }
                                        </div>
                                    </div>
                                    @*<a target="_blank" class="btn btn-primary w-24" href="/Home/NewUser?QuoteType=@((int)Quote.Registration)">Preview</a>*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        }
        else
        {
            //Edit Landing Page Video

            <input type="hidden" asp-for="@Model.QuoteType" value="@Quote.Landing" />
            <div class="px-5 ">
                <div class="font-medium text-center text-lg">Edit Landing Page</div>
                <div class="text-gray-600 text-center mt-2">Please edit below details to show on the landing page</div>
            </div>
            <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    <div class="intro-y box p-5 col-span-12">
                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div asp-validation-summary="All" class="text-theme-6 mt-4">
                            </div>
                        }

                        <div class="px-5 ">
                            <div class="font-medium text-center  text-theme-21">Sliders</div>
                        </div>
                        <div class="grid grid-cols-12 gap-4">

                            <div class="col-span-4 mt-5">
                                <div class="mt-5">
                                    <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 1</label>
                                </div>
                                <div class="mt-5">
                                    <!--<label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                    <input asp-for="SliderOneTitle" type="text" class="form-control w-full" placeholder="Title 1" />-->
                                    @*<span asp-validation-for="SliderOneTitle" class="text-theme-21 mt-2"></span>*@
                                </div>
                                <div class="mt-5">
                                    @{
                                        var imagesliderOne = Model.landingImageOneUrl == null ? "/dist/images/food-beverage-5.jpg" : Model.landingImageOneUrl;
                                        var imageslidertwo = Model.landingImageTwoUrl == null ? "/dist/images/food-beverage-5.jpg" : Model.landingImageTwoUrl;
                                        var imagesliderthree = Model.landingImageThreeUrl == null ? "/dist/images/food-beverage-5.jpg" : Model.landingImageThreeUrl;
                                        var descriptionimageurl = Model.DescriptionImageUrl == null ? "/dist/images/food-beverage-5.jpg" : Model.DescriptionImageUrl;
                                    }
                                    <label for="input-wizard-1" class="form-label text-theme-21 ">Image</label>
                                    @*<select asp-for="SliderOneImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                    <a onclick="OpenImageSelectionModal('SliderOneImageId','SliderOneImageIdEditUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="SliderOneImageId" hidden>
                                                    <img id="SliderOneImageIdEditUrl" alt="" src="@imagesliderOne" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Slider Image 1</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="mt-5">
                                    @*<label for="input-wizard-1" class="form-label text-theme-21 star ">Description</label>
                                        <textarea asp-for="SliderOneDescription" rows="4" class="form-control w-full" placeholder="Description 1" required></textarea>
                                        <span asp-validation-for="SliderOneDescription" class="text-theme-21 mt-2"></span>*@

                                </div>
                            </div>
                            <div class="col-span-4 mt-5">
                                <div class="mt-5">
                                    <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 2</label>
                                </div>
                                <div class="mt-5">
                                    @*<label for="input-wizard-1" class="form-label text-theme-21 star ">Title</label>
                                        <input asp-for="SliderTwoTitle" type="text" class="form-control w-full" placeholder="Title 2" />*@
                                    @*<span asp-validation-for="SliderTwoTitle" class="text-theme-21 mt-2"></span>*@
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21">Image</label>
                                    @*<select asp-for="SliderTwoImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                    <a onclick="OpenImageSelectionModal('SliderTwoImageId','SliderTwoImageIdEditUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="SliderTwoImageId" hidden>
                                                    <img id="SliderTwoImageIdEditUrl" alt="" src="@imageslidertwo" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Slider Image 2</div>
                                        </div>
                                    </a>
                                </div>

                                <div class="mt-5">
                                    @*<label for="input-wizard-1" class="form-label text-theme-21 star ">Description</label>
                                        <textarea asp-for="SliderTwoDescription" rows="4" class="form-control w-full" placeholder="Description 2"></textarea>
                                        <span asp-validation-for="SliderTwoDescription" class="text-theme-21 mt-2"></span>*@
                                </div>
                            </div>
                            <div class="col-span-4 mt-5">
                                <div class="mt-5">
                                    <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 3</label>
                                </div>
                                <div class="mt-5">
                                    @*<label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                        <input asp-for="SliderThreeTitle" type="text" class="form-control w-full" placeholder="Title 3" />*@
                                    @*<span asp-validation-for="SliderThreeTitle" class="text-theme-21 mt-2"></span>*@
                                </div>
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21">Image</label>
                                    @*<select asp-for="SliderThreeImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                    <a onclick="OpenImageSelectionModal('SliderThreeImageId','SliderThreeImageIdEditUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="SliderThreeImageId" hidden>
                                                    <img id="SliderThreeImageIdEditUrl" alt="" src="@imagesliderthree" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Slider Image 3</div>
                                        </div>
                                    </a>
                                </div>

                                @*<div class="mt-5">
                                        <label for="input-wizard-1" class="form-label text-theme-21 star">Description</label>
                                        <textarea asp-for="SliderThreeDescription" rows="4" class="form-control w-full" placeholder="Description 3"></textarea>
                                        <span asp-validation-for="SliderThreeDescription" class="text-theme-21 mt-2"></span>

                                    </div>*@
                            </div>
                        </div>

                        <div class="mt-5">
                            <div class="form-label text-theme-21  border-b-2 w-full"></div>
                        </div>
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-6 mt-5">
                                <div>
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>
                                    <a onclick="TranslateSpanishLanding()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>
                                </div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input asp-for="Title" type="text" class="form-control w-full" placeholder="Title" id="LandingTitle" required />
                                <span asp-validation-for="Title" class="text-theme-21 mt-2"></span>
                            </div>

                            <div class="col-span-6 mt-5">
                                <div>
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                                    <a onclick="TranslateEnglishCreate()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>
                                </div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input asp-for="TitleSpanishLanding" type="text" id="titleSpanishlanding" class="form-control w-full" placeholder="Title" />
                                <span asp-validation-for="TitleSpanishLanding" class="text-theme-21 mt-2"></span>
                            </div>
                            <div class="col-span-6 mt-5">
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                                </div>
                                <div class="" id="standard-editor">
                                    <div class="preview">
                                        <textarea id="editorEnglish" asp-for="Subtitle" class="editorEnglish"> </textarea>
                                    </div>
                                    <span asp-validation-for="Subtitle" class="text-theme-21  mt-2"></span>

                                </div>
                            </div>
                            <div class="col-span-6 mt-5">
                                <div class="mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                                </div>
                                <div class="" id="standard-editor">
                                    <div class="preview">
                                        <textarea id="editorSpanish" asp-for="SubtitleSpanishLanding" class="editorSpanish"> </textarea>
                                    </div>
                                    <span asp-validation-for="SubtitleSpanishLanding" class="text-theme-21  mt-2"></span>

                                </div>
                            </div>

                        </div>
                        @*old*@
                        <div class="grid grid-cols-12 gap-4">
                            @*<div class="col-span-6 mt-5">
                                    <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                    <input asp-for="Title" type="text" class="form-control w-full" placeholder="Title" id="LandingTitle" required />
                                    <span asp-validation-for="Title" class="text-theme-21 mt-2"></span>
                                </div>*@

                            @*<div class="col-span-6 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                                <input id="randomquote" asp-for="IsRandom" class="form-check-input ml-4 mr-1" type="checkbox" onclick="hideshowqoute();" />
                                <label class="form-label text-theme-21 star">Random Quote</label>
                                <div id="quotes" class="@((Model.IsRandom==true)? "hidden":"")">
                                    <select asp-for="QuoteId" asp-items="Model.AvilableQuote" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                                </div>
                            </div>*@

                            @if (Model.QuoteId == 0) {
                            <div class="col-span-12 mt-5">
                                   <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                    <input id="randomquotelandingedit" asp-for="IsRandom" class="form-check-input ml-4 mr-1 "  type="checkbox" name="randomquotelandingedit" />
                    <label class="form-label text-theme-21 star">Random Quote</label>
                    <div id="quoteslandingedit" hidden >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuote" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                    </div>
                        </div>
}
                else { 

                             <div class="col-span-12 mt-5">
                                   <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                    <input id="randomquotelandingedit" asp-for="IsRandom" class="form-check-input ml-4 mr-1 "  type="checkbox" name="randomquotelandingedit" checked/>
                    <label class="form-label text-theme-21 star">Random Quote</label>
                    <div id="quoteslandingedit"  >
                        <select asp-for="QuoteId" asp-items="Model.AvilableQuote" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>
                    </div>
                        </div>
                            }
                             

                        </div>
                          <input  type="text" value="" id="userlanding" name="userlanding" hidden/>
                        <div class="grid grid-cols-12 gap-4">
                            <div class="col-span-12 mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Video</label>
                                <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" id="video" class="form-control select2 select2-hidden-accessible w-full" placeholder="video name"></select>
                                <span asp-validation-for="VideoId" class="text-theme-21 mt-2"></span>
                            </div>

                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 ">Description Image</label>
                            <div class="grid grid-cols-12 gap-4 mt-5 pt-5 border-t border-theme-31">

                                @*<select asp-for="DescriptionImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                <a onclick="OpenImageSelectionModal('DescriptionImageId','DescriptionImageIdUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                    <div class="box rounded-md p-3 relative zoom-in">
                                        <div class="flex-none pos-image relative block">
                                            <div class="pos-image__preview">
                                                <input asp-for="DescriptionImageId" hidden>
                                                <img id="DescriptionImageIdUrl" alt="" src="@descriptionimageurl" style="Width:100%;height:100%">
                                            </div>
                                        </div>
                                        <div class="block font-medium text-center truncate mt-3">Description Image</div>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="mt-5">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox">
                            <label for="input-wizard-1" class="form-label text-theme-21 pl-1">Active</label>
                        </div>



                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                            <span class="mr-5">
                                <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                    <label class="pl-10">Back to List</label>
                                    <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Landing)">
                                        <i data-feather="arrow-left" class="w-4 h-4"></i>
                                    </a>
                                </span>
                            </span>

                            <button type="submit" class="btn btn-primary mr-2 w-24">Save</button>
                            @*<a target="_blank" class="btn btn-primary w-24" href="/Home/Index">Preview</a>*@
                            @*<div class="intro-y  col-span-3 ml-auto">*@
                            <div class="dropdown">
                                <button disabled class="dropbtn  btn btn-primary w-24">Preview</button>
                                <div class="dropdown-content">
                                    @{ var English = 3;var Spanish = 5;
                                    <a target="_blank" href="/Home/index?QuoteType=@((int)Quote.Landing)&PreviewLangId=@English">English</a>
                                    <a href="/Home/index?QuoteType=@((int)Quote.Landing)&PreviewLangId=@Spanish">Spanish</a>
                                    }
                                </div>
                            </div>

                            @*<a target="_blank" class="btn btn-primary w-24" href="/Home/index?QuoteType=@((int)Quote.Landing)">Preview</a>*@
                            @*</div>*@
                        </div>

                    </div>

                </div>

            </div>

        }

    </div>

</form>
@await Component.InvokeAsync("ImageSelection")
<link href="~/assets/css/PreviewDropdown.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script>
    $('select').select2({ closeOnSelect: true, width: '100%'
    });
</script>
@* Login *@
<script type="text/javascript">

    function TranslateSpanishEditLogin() {
        debugger
        var Title = document.getElementById('titlelogin').value;

        $.ajax({
            url: "/Admin/WeeklyUpdate/TranslateEnglishEditLogin",
            type: "POST",
            data: { Title },

            success: function (data, status) {

                $("#titleSpanishLogin").val(data.title);

            },


        });
    }

</script>
<script type="text/javascript">

    function TranslateEnglishEditLogin() {
        debugger
        var Title = document.getElementById('titleSpanishLogin').value;
        var Quote = document.getElementById('quotesspanish').value;
        $.ajax({
            url: "/Admin/WeeklyUpdate/TranslateSpanishCreateLogin",
            type: "POST",
            data: { Title, Quote },

            success: function (data, status) {

                $("#titlelogin").val(data.title);
                $("#quotes").val(data.quote);
            },


        });
    }

</script>
@* Registration *@
<script type="text/javascript">

    function TranslateSpanish() {

        var Title = document.getElementById('titleRegistration').value;
        var Subtitle = document.getElementById('Subtilteregistration').value;

        var VideoHeader = document.getElementById('videoheaderregistation').value;

        $.ajax({
            url: "/Admin/WeeklyUpdate/TranslateSpanishEditRegistration",
            type: "POST",
            data: { Title, Subtitle, VideoHeader },

            success: function (data, status) {
                debugger
                $("#titleSpanishregistration").val(data.title);
                $("#SubtitleSpanishregistration").val(data.subtitle);
                $(".VideoHeaderSpanishR").val(data.videoHeader);

            },


        });
    }




</script>
<script type="text/javascript">

    function TranslateEnglishCreate() {
        debugger
        var Title = document.getElementById('titleSpanishregistration').value;
        var Subtitle = document.getElementById('SubtitleSpanishregistration').value;
        var Quote = document.getElementById('quotesSpanishregistration').value;
        var VideoHeader = document.getElementById('VideoHeaderSpanishR').value;

        $.ajax({
            url: "/Admin/WeeklyUpdate/TranslateEnglishCreateRegistration",
            type: "POST",
            data: { Title, Subtitle, Quote, VideoHeader },

            success: function (data, status) {

                $("#titleRegistration").val(data.title);
                $("#Subtilteregistration").val(data.subtitle);
                $("#quotesregistraion").val(data.quote);
                $("#videoheaderregistation").val(data.videoheader);

            },


        });
    }

</script>
@* landing *@
<script type="text/javascript">

    function TranslateSpanishLanding() {

        var Title = document.getElementById('LandingTitle').value;
        var Subtitle = document.getElementById('editorEnglish').value;


        $.ajax({
            url: "/Admin/WeeklyUpdate/TranslateLanding",
            type: "POST",
            data: { Title, Subtitle },

            success: function (data, status) {

                $("#titleSpanishlanding").val(data.title);
                CKEDITOR.instances['editorSpanish'].setData(data.subtitle);
            },


        });
    }

</script>
<script>
    $(document).ready(function() {

 // $("#quotes").attr('disabled','disabled');

// $("#quotes").removeClass("hidden",true);

  $("#randomquotelandingedit").change(function(){
      if ($(this).is(':checked')) {
          $("#quoteslandingedit").removeAttr('hidden');

document.getElementById("userlanding").value=1;
      }
else
{
 $("#quoteslandingedit").attr('hidden',true);document.getElementById("userlanding").value=2;
}

  });
});

</script>
<script>

       function TranslateQuotedropdSpanish(sel) {

        var Quote = sel.options[sel.selectedIndex].text;//document.getElementById('quotedropdowneng').innerText;
       if (Quote != null || Quote != '') {
            $.ajax({
                url: "/Admin/WeeklyUpdate/TranslateQuoteDropSpanish",
                type: "POST",
                data: { Quote },

                success: function (data, status) {

                    $('#quotesSpanishedit .select2-selection__rendered').text(data.quote);
                },


            });
        }
    }

</script>

<script>


 function TranslateQuotedropdEng(sel) {

        var Quote = sel.options[sel.selectedIndex].text;//document.getElementById('quotedropdowneng').innerText;


       if (Quote != null || Quote != '') {
            $.ajax({
                url: "/Admin/WeeklyUpdate/TranslateQuotedropEng",
                type: "POST",
                data: { Quote },

                success: function (data, status) {
                    $('#quotesedit .select2-selection__rendered').text(data.quote);
                },


            });
        }
    }
</script>
<script>
    $(document).ready(function() {

 // $("#quotes").attr('disabled','disabled');

// $("#quotes").removeClass("hidden",true);

  $("#randomquote").change(function(){
      if ($(this).is(':checked')) {
          $("#quotesedit").removeAttr('hidden');
document.getElementById("userRegistration").value=1;

      }
else
{
 $("#quotesedit").attr('hidden',true);

 document.getElementById("userRegistration").value=1;
}

  });
});

</script>
<script>

function TranslateQuoteloginSpanish(sel) {

        var Quote = sel.options[sel.selectedIndex].text;//document.getElementById('quotedropdowneng').innerText;
       if (Quote != null || Quote != '') {
            $.ajax({
                url: "/Admin/WeeklyUpdate/TranslateQuoteDropSpanish",
                type: "POST",
                data: { Quote },

                success: function (data, status) {
                    $('#quotesSpanishuseredit .select2-selection__rendered').text(data.quote);
                },


            });
        }
    }

</script>
<script>


 function TranslateQuoteuserEng(sel) {

        var Quote = sel.options[sel.selectedIndex].text;//document.getElementById('quotedropdowneng').innerText;


       if (Quote != null || Quote != '') {
            $.ajax({
                url: "/Admin/WeeklyUpdate/TranslateQuotedropEng",
                type: "POST",
                data: { Quote },

                success: function (data, status) {
                    $('#quoteseditlogin .select2-selection__rendered').text(data.quote);
                },


            });
        }
    }
</script>

<script>
    $(document).ready(function() {

 // $("#quotes").attr('disabled','disabled');

// $("#quotes").removeClass("hidden",true);

  $("#randomquotelogin").change(function(){
      if ($(this).is(':checked')) {
          $("#quoteseditlogin").removeAttr('hidden');
 document.getElementById("userlogin").value=1;

      }
else
{
 $("#quoteseditlogin").attr('hidden',true);
 document.getElementById("userlogin").value=2;
}

  });
});

</script>