@model DeVeeraApp.ViewModels.LayoutSetups.LayoutSetupModel
@{
    ViewData["Title"] = "Create";
}
<style>
    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        height: 38px;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 28px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #eeeeee;
        border-radius: 4px;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 60px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 6px;
        height: 36px;
        /* line-height: 11px; */
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 60px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 58px;
        /* margin-bottom: 14px; */
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 56px;
        position: absolute;
        top: 0px;
        right: 1px;
        width: 24px;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #eeeeee;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: #eee transparent transparent transparent;
            /* border-style: solid; */
            border-width: 5px 4px 0 4px;
            height: 0;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }
    .camelclass {
        text-transform: capitalize;
    }
</style>
<form asp-controller="LayoutSetup" asp-action="Create" method="post" id="LayoutSetupForm" onsubmit="ShowLoader('LayoutSetupForm');">
    <div class="intro-y inbox py-10 sm:py-20 "></div>
    <div class="px-5 ">
        <div class="font-medium text-center text-lg">Create Layout Setup </div>
        <div class="text-gray-600 text-center mt-2 camelclass">Please add below details to create layout setup to show on dashboard</div>
    </div>
    <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
            <div class="intro-y box p-5 col-span-12">
                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div asp-validation-summary="All" class="text-theme-6 mt-4">
                    </div>
                }

                <div class="px-5 ">
                    <div class="font-medium text-center  text-theme-21">User Dashboard</div>
                </div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6 mt-5">
                        <div>
                            <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>

                            <a onclick="TranslateSpanishHome()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>
                        </div>

                    </div>

                    <div class="col-span-6 mt-5">
                        <div>
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                            <a class="btn btn-primary w-40" onclick="TranslateHomeEngilsh()" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>
                        </div>

                    </div>
                    <div class="col-span-6 mt-5">

                        <label for="input-wizard-1" class="form-label text-theme-21 star">Home Title</label>
                        <input asp-for="HomeTitle" id="homeTitle" type="text" class="form-control w-full" placeholder=" Home Title" />

                    </div>

                    <div class="col-span-6 mt-5">

                        <label for="input-wizard-1" class="form-label text-theme-21 star">Home Title</label>
                        @*<input id="input-wizard-1" asp-for="@Model.Title" type="text" class="form-control" placeholder="title">*@
                        @*<span asp-validation-for="Title" class="text-theme-21 mt-2"></span>*@
                        <input asp-for="@Model.HomeTitleSpanish" id="homeTitleSpanish" type="text" class="form-control ">
                    </div>
                    <div class="col-span-6 mt-5">

                        <label for="input-wizard-1" class="form-label text-theme-21 star">Home SubTitle</label>
                        <input asp-for="HomeSubTitle" id="homeSubTitle" type="text" class="form-control w-full" placeholder=" Home sub Title" />

                    </div>

                    <div class="col-span-6 mt-5">

                        <label for="input-wizard-1" class="form-label text-theme-21 star">Home SubTitle</label>
                        @*<input id="input-wizard-1" asp-for="@Model.Title" type="text" class="form-control" placeholder="title">*@
                        @*<span asp-validation-for="Title" class="text-theme-21 mt-2"></span>*@
                        <input asp-for="@Model.HomeSubTitleSpanish" id="HomeSubTitleSpanish" type="text" class="form-control ">
                    </div>
                    <div class="col-span-6 mt-5">
                        <label for="input-wizard-1" class="form-label text-theme-21 star">Home Description</label>
                        <div class="" id="standard-editor">
                            <div class="preview">
                                <textarea id="editorModuleEnglish" asp-for="HomeDescription" class="editorModuleEnglish editorEnglishLevel"> </textarea>
                                <p id="FullDescriptiontag" class="temp"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-6 mt-5">
                        <label for="input-wizard-1" class="form-label text-theme-21 star">Home Description</label>
                        <div class="" id="standard-editor">
                            <div class="preview">
                                <textarea id="editorModuleSpanish" asp-for="HomeSpanishDescription" class="editorModuleSpanish SpanishFullDescription"> </textarea>
                                <p id="FullDescriptiontagSpan" class="temp"></p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="mt-5">

                    <label class="form-label text-theme-21 star">Video</label>
                    <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="form-control select2 select2-hidden-accessible w-full" placeholder="video name"></select>
                    <span asp-validation-for="VideoId" class="text-theme-21 mt-2"></span>

                </div>
                <div class="mt-5">
                    <div class="grid grid-cols-12 gap-5 mt-5 pt-5 border-t border-theme-31">
                        <a onclick="OpenImageSelectionModal('BannerImageId','BannerImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                            <div class="box rounded-md p-3 relative zoom-in">
                                <div class="flex-none pos-image relative block">
                                    <div class="pos-image__preview">
                                        <input asp-for="BannerImageId" hidden>
                                        <img id="BannerImageUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                    </div>
                                </div>
                                <div class="block font-medium text-center truncate mt-3">Banner</div>
                            </div>
                        </a>
                        <a onclick="OpenImageSelectionModal('VideoThumbImageId','VideoThumbImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                            <div class="box rounded-md p-3 relative zoom-in">
                                <div class="flex-none pos-image relative block">
                                    <div class="pos-image__preview">
                                        <input asp-for="VideoThumbImageId" hidden>
                                        <img id="VideoThumbImageUrl" alt="" src="~/dist/images/food-beverage-19.jpg" style="Width:100%;height:100%">
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Video Thumbnail</div>
                                </div>

                            </div>
                        </a>
                        <a onclick="OpenImageSelectionModal('ShareBackgroundImageId','ShareBackgroundImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                            <div class="box rounded-md p-3 relative zoom-in">
                                <div class="flex-none pos-image relative block">
                                    <div class="pos-image__preview">
                                        <input asp-for="ShareBackgroundImageId" hidden>
                                        <img id="ShareBackgroundImageUrl" alt="" src="~/dist/images/food-beverage-5.jpg" style="Width:100%;height:100%">
                                    </div>
                                </div>
                                <div class="block font-medium text-center truncate mt-3">Share Panel Background</div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-4 mb-4">
                        <div class="mt-5">
                            <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 1</label>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                            <input asp-for="SliderOneTitle" type="text" class="form-control w-full" placeholder="Title 1" required />
                            <span asp-validation-for="SliderOneTitle" class="text-theme-21 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Image 1</label>
                            @*<select asp-for="SliderOneImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                            <a onclick="OpenImageSelectionModal('SliderOneImageId','SliderOneImageIdnUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="SliderOneImageId" hidden>
                                            <img id="SliderOneImageIdnUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Slider Image 1</div>
                                </div>
                                <span asp-validation-for="SliderOneImageId" class="text-theme-6 mt-2"></span>
                            </a>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                            <textarea asp-for="SliderOneDescription" rows="4" class="form-control w-full" placeholder="Description 1"></textarea>
                            <span asp-validation-for="SliderOneDescription" class="text-theme-21  mt-2"></span>
                        </div>
                    </div>
                    <div class="col-span-4 mb-4">
                        <div class="mt-5">
                            <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 2</label>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                            <input asp-for="SliderTwoTitle" type="text" class="form-control w-full" placeholder="Title 2" />
                            <span asp-validation-for="SliderTwoTitle" class="text-theme-21 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Image 2</label>
                            @*<select asp-for="SliderTwoImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                            <a onclick="OpenImageSelectionModal('SliderTwoImageId','SliderTwoImageIdnUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="SliderTwoImageId" hidden>
                                            <img id="SliderTwoImageIdnUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Slider Image 2</div>
                                </div>
                                <span asp-validation-for="SliderTwoImageId" class="text-theme-6 mt-2"></span>
                            </a>
                        </div>

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                            <textarea asp-for="SliderTwoDescription" rows="4" class="form-control w-full" placeholder="Description 2"></textarea>
                            <span asp-validation-for="SliderTwoDescription" class="text-theme-21  mt-2"></span>
                        </div>
                    </div>
                    <div class="col-span-4 mb-4">
                        <div class="mt-5">
                            <label for="input-wizard-1 " class="form-label text-theme-21  border-b-2 w-full">Slider 3</label>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                            <input asp-for="SliderThreeTitle" type="text" class="form-control w-full" placeholder="Title 3" />
                            <span asp-validation-for="SliderThreeTitle" class="text-theme-21 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Image 3</label>
                            @*<select asp-for="SliderThreeImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                            <a onclick="OpenImageSelectionModal('SliderThreeImageId','SliderThreeImageIdnUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="SliderThreeImageId" hidden>
                                            <img id="SliderThreeImageIdnUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Slider Image 3</div>
                                </div>
                                <span asp-validation-for="SliderThreeImageId" class="text-theme-6 mt-2"></span>
                            </a>
                        </div>

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21">Description</label>
                            <textarea asp-for="SliderThreeDescription" rows="4" class="form-control w-full" placeholder="Description 3"></textarea>
                            <span asp-validation-for="SliderThreeDescription" class="text-theme-21  mt-2"></span>
                        </div>
                    </div>
                </div>
                @*<div class="grid grid-cols-12 gap-4">
                        <div class="col-span-12 mb-4">
                            <div class="mt-5 ">
                                <div class="font-medium text-center text-theme-21">Registration Page</div>
                                <div class="form-label text-theme-21  border-b-2 w-full"></div>
                            </div>
                            <div class="mt-2">
                                <label for="input-wizard-1" class="form-label text-theme-21">Banner Image</label>
                                <select asp-for="BannerOneImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>
                            </div>
                        </div>
                    </div>*@
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-4 ">
                        <div class="font-medium text-center text-theme-21">Registration Page</div>
                        <div class="grid grid-cols-4 gap-4 mt-2 pt-3 border-t border-theme-31">
                            <a onclick="OpenImageSelectionModal('BannerOneImageId','BannerOneImageIdlayoutUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3 pt-2">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="BannerOneImageId" hidden>
                                            <img id="BannerOneImageIdlayoutUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                </div>
                                <span asp-validation-for="BannerOneImageId" class="text-theme-6 mt-2"></span>
                            </a>

                        </div>
                    </div>

                    <div class="col-span-4 ">
                        <div class="font-medium text-center text-theme-21">Login Page</div>
                        <div class="grid grid-cols-4 gap-4 mt-2 pt-3 border-t border-theme-31">
                            <a onclick="OpenImageSelectionModal('BannerTwoImageId','BannerTwoImageIdlayoutUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3 pt-2">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="BannerTwoImageId" hidden>
                                            <img id="BannerTwoImageIdlayoutUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                </div>
                                <span asp-validation-for="BannerTwoImageId" class="text-theme-6 mt-2"></span>
                            </a>

                        </div>
                    </div>

                    <div class="col-span-4 ">
                        <div class="font-medium text-center text-theme-21">Diary Page</div>
                        <div class="grid grid-cols-4 gap-4 mt-2 pt-3 border-t border-theme-31">
                            <a onclick="OpenImageSelectionModal('DiaryHeaderImageId','DiaryHeaderImageIdlayoutUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3 pt-2">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="DiaryHeaderImageId" hidden>
                                            <img id="DiaryHeaderImageIdlayoutUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Header Image</div>
                                </div>
                                <span asp-validation-for="DiaryHeaderImageId" class="text-theme-6 mt-2"></span>
                            </a>

                        </div>
                    </div>
                </div>

                @*<div class="grid grid-cols-12 gap-4">
                        <div class="col-span-12 mb-4">
                            <div class="mt-5 ">
                                <div class="font-medium text-center text-theme-21">Login Page</div>
                                <div class="form-label text-theme-21  border-b-2 w-full"></div>
                            </div>
                            <div class="mt-2">
                                <label for="input-wizard-1" class="form-label text-theme-21">Banner Image</label>
                                <select asp-for="BannerTwoImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>
                            </div>
                        </div>
                    </div>*@

                @*<div class="grid grid-cols-12 gap-4">
                        <div class="col-span-12 mb-4">
                            <div class="mt-5 ">
                                <div class="font-medium text-center text-theme-21">Diary Page</div>
                                <div class="form-label text-theme-21  border-b-2 w-full"></div>
                            </div>
                            <div class="mt-2">
                                <label for="input-wizard-1" class="form-label text-theme-21">Header Image</label>
                                <select asp-for="DiaryHeaderImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>
                            </div>
                        </div>
                    </div>*@





                <div class="px-5 pt-5">
                    <div class="font-medium text-center  text-theme-21 mt-5">Quick Links</div>
                    <div class="form-label text-theme-21  border-b-2 w-full"></div>

                </div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-4 mb-4">

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Link 1</label>
                            <input asp-for="Link_1" type="text" class="form-control w-full" placeholder="Title 1" required />
                            <span asp-validation-for="Link_1" class="text-theme-21 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Image 1</label>
                            @*<select asp-for="SliderOneImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                            <a onclick="OpenImageSelectionModal('Link_1_BannerImageId','Link1imageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="Link_1_BannerImageId" hidden>
                                            <img id="Link1imageUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                </div>
                                <span asp-validation-for="Link_1_BannerImageId" class="text-theme-6 mt-2"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-span-4 mb-4">
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Link 2</label>
                            <input asp-for="Link_2" type="text" class="form-control w-full" placeholder="Title 1" required />
                            <span asp-validation-for="Link_2" class="text-theme-21 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Image 2</label>
                            @*<select asp-for="SliderOneImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                            <a onclick="OpenImageSelectionModal('Link_2_BannerImageId','link2ImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="Link_2_BannerImageId" hidden>
                                            <img id="link2ImageUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                </div>
                                <span asp-validation-for="Link_2_BannerImageId" class="text-theme-6 mt-2"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-span-4 mb-4">
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Link 3</label>
                            <input asp-for="Link_3" type="text" class="form-control w-full" placeholder="Title 1" required />
                            <span asp-validation-for="Link_3" class="text-theme-21 mt-2"></span>
                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Image 3</label>
                            @*<select asp-for="SliderOneImageId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                            <a onclick="OpenImageSelectionModal('Link_3_BannerImageId','Link3ImageUrl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
                                <div class="box rounded-md p-3 relative zoom-in">
                                    <div class="flex-none pos-image relative block">
                                        <div class="pos-image__preview">
                                            <input asp-for="Link_3_BannerImageId" hidden>
                                            <img id="Link3ImageUrl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                        </div>
                                    </div>
                                    <div class="block font-medium text-center truncate mt-3">Banner Image</div>
                                </div>
                                <span asp-validation-for="Link_3_BannerImageId" class="text-theme-6 mt-2"></span>
                            </a>
                        </div>
                    </div>


                </div>





                <div class="mt-5 ">
                    <div class="font-medium text-center text-theme-21 mt-5 pt-5">Complete Registration Page</div>
                    <div class="form-label text-theme-21  border-b-2 w-full"></div>



                    <div class="grid grid-cols-12 gap-4 ">
                        <div class="col-span-4 mb-4">
                            <div class="mt-2">
                                <label for="input-wizard-1" class="form-label text-theme-21">Header Image</label>
                                @*<select asp-for="CompleteRegistrationHeaderImgId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                                <div class="grid grid-cols-4 gap-4   border-theme-31">
                                    <a onclick="OpenImageSelectionModal('CompleteRegistrationHeaderImgId','CompleteRegistrationHdrImgIdurl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3 pt-2">
                                        <div class="box rounded-md p-3 relative zoom-in">
                                            <div class="flex-none pos-image relative block">
                                                <div class="pos-image__preview">
                                                    <input asp-for="CompleteRegistrationHeaderImgId" hidden>
                                                    <img id="CompleteRegistrationHdrImgIdurl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                                </div>
                                            </div>
                                            <div class="block font-medium text-center truncate mt-3">Header Image</div>
                                        </div>
                                        <span asp-validation-for="CompleteRegistrationHeaderImgId" class="text-theme-6 mt-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-8 mb-4"></div>

                    </div>

                    <div class="grid grid-cols-12 gap-4 mt-5">
                        <div class="col-span-12 mb-4">
                            <div class="mt-2">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Reason to submit the form</label>
                                <textarea asp-for="ReasonToSubmit" type="text" class="form-control w-full " placeholder="Reason" required></textarea>
                                <span asp-validation-for="ReasonToSubmit" class="text-theme-21 mt-2"></span>
                            </div>
                        </div>
                    </div>
                </div>

                @*For Module Description*@
                <div class="mt-5 ">
                    <div class="font-medium text-center text-theme-21 mt-5 pt-5">Module Section Header</div>
                    <div class="form-label text-theme-21  border-b-2 w-full"></div>
                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6 mt-5">
                            <div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>

                                <a onclick="TranslateSpanishModule()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>
                            </div>

                        </div>

                        <div class="col-span-6 mt-5">
                            <div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                                <a class="btn btn-primary w-40" onclick="TranslateEnglishEditLogin()" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>
                            </div>

                        </div>
                        <div class="col-span-6 mt-5">

                            <label for="input-wizard-1" class="form-label text-theme-21 star">Module Title</label>
                            <input asp-for="Title" id="moduleTitle" type="text" class="form-control w-full" placeholder=" Module Title" />

                        </div>

                        <div class="col-span-6 mt-5">

                            <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                            @*<input id="input-wizard-1" asp-for="@Model.Title" type="text" class="form-control" placeholder="title">*@
                            @*<span asp-validation-for="Title" class="text-theme-21 mt-2"></span>*@
                            <input asp-for="@Model.ModuleSpanishTitle" id="titleSpanishModule" type="text" class="form-control ">
                        </div>
                        <div class="col-span-6 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Module Description</label>
                            <textarea asp-for="Description" id="moduleDescription" rows="4" class="form-control w-full" placeholder="Module Description "></textarea>
                        </div>
                        <div class="col-span-6 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Module Description</label>
                            <textarea asp-for="ModuleSpanishDescription" id="moduleSpanishDescription" rows="4" class="form-control w-full" placeholder="Module Description "></textarea>
                        </div>


                    </div>
                    @* old *@
                    @*<div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Module Title</label>
                            <input asp-for="Title" type="text" class="form-control w-full" placeholder=" Module Title" />

                        </div>
                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Module Description</label>
                            <textarea asp-for="Description" rows="4" class="form-control w-full" placeholder="Module Description "></textarea>
                        </div>*@

                </div>
                <div class="mt-5 ">
                    <div class="font-medium text-center text-theme-21 mt-5 pt-5">Footer</div>
                    <div class="form-label text-theme-21  border-b-2 w-full"></div>
                    <div class="grid grid-cols-12 gap-4">

                        <div class="col-span-6 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>

                            <a onclick="TranslateSpanishFooter()" class="btn btn-primary w-40" style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>
                        </div>
                        <div class="col-span-6 mt-5">
                            <div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                                <a class="btn btn-primary w-40" onclick="TranslateEnglishCreate()" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>
                            </div>
                            @*<label for="input-wizard-1" class="form-label text-theme-21 star">Level No.</label>
                                <input asp-for="@Model.LevelNo" type="number" class="form-control ">
                                <span asp-validation-for="LevelNo" class="text-theme-21 mt-2"></span>*@

                        </div>
                        <div class="col-span-6 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Footer Description</label>
                            <textarea asp-for="FooterDescription" id="FooterDescription" rows="4" class="form-control w-full" placeholder="Footer Description "></textarea>
                        </div>
                        <div class="col-span-6 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Footer Description</label>
                            <textarea asp-for="FooterDescriptionSpanish" id="footerDescriptionSpanish" rows="4" class="form-control w-full" placeholder="Footer Description "></textarea>
                        </div>
                        <div class="col-span-6 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Location</label>
                            <textarea asp-for="Location" id="Location" rows="4" class="form-control w-full" placeholder="Location "></textarea>
                        </div>
                        <div class="col-span-6 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Location</label>
                            <textarea asp-for="LocationSpanish" id="LocationSpanish" rows="4" class="form-control w-full" placeholder="Location "></textarea>
                        </div>


                    </div>
                    <div class="grid grid-cols-6 gap-4">
                        <div class="col-span-12 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Phone No</label>
                            <input asp-for="PhoneNo" type="text" class="form-control w-full" placeholder="Phone No" />
                        </div>
                        <div class="col-span-12 mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Email</label>
                            <input asp-for="Email" type="email" class="form-control w-full" placeholder="Email" />

                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-4 mt-6">
                        <div class="col-span-4 mb-4">
                            <label for="input-wizard-1" class="form-label text-theme-21">Footer Image</label>
                            @*<select asp-for="CompleteRegistrationHeaderImgId" asp-items="Model.AvailableImages" type="text" data-search="true" class="tail-select w-full" placeholder=""></select>*@
                            <div class="grid grid-cols-4 gap-4   border-theme-31">
                                <a onclick="OpenImageSelectionModal('FooterImageId','FooterImgIdurl')" data-toggle="modal" data-target="#superlarge-modal-size-preview" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3 pt-2">
                                    <div class="box rounded-md p-3 relative zoom-in">
                                        <div class="flex-none pos-image relative block">
                                            <div class="pos-image__preview">
                                                <input asp-for="FooterImageId" hidden>
                                                <img id="FooterImgIdurl" alt="" src="~/dist/images/food-beverage-9.jpg" style="Width:100%;height:100%">
                                            </div>
                                        </div>
                                        <div class="block font-medium text-center truncate mt-3">Footer Image</div>
                                    </div>
                                    @*<span asp-validation-for="CompleteRegistrationHeaderImgId" class="text-theme-6 mt-2"></span>*@
                                </a>
                            </div>
                        </div>



                    </div>


                    <div class="mt-5">
                        <input asp-for="IsActive" class="form-check-input" type="checkbox">
                        <label for="input-wizard-1" class="form-label text-theme-21 pl-1">Active</label>
                        <span asp-validation-for="IsActive" class="text-theme-21 mt-2"></span>

                    </div>
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <div class="grid grid-cols-12  gap-y-5 mt-5">
                            <div class="intro-y   col-span-6">

                                <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                    <label class="pl-10">Back to List</label>
                                    <a asp-controller="LayoutSetup" asp-action="List" class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding ">
                                        <i data-feather="arrow-left" class="w-4 h-4"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="intro-y  col-span-6 ml-auto">
                                <button type="submit" class="btn btn-primary w-24" onclick="ShowLoader('RegistartionForm');">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@await Component.InvokeAsync("ImageSelection")
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script>
    $('.select2').select2({ closeOnSelect: true, width: '100%' });
</script>
@* Module *@
<script type="text/javascript">

    function TranslateSpanishModule() {

        var Title = document.getElementById('moduleTitle').value;
        var Description = document.getElementById('moduleDescription').value;


        $.ajax({
            url: "/Admin/LayoutSetup/TranslateModule",
            type: "POST",
            data: { Title, Description },

            success: function (data, status) {

                $("#titleSpanishModule").val(data.title);
                $("#moduleSpanishDescription").val(data.description);
            },


        });
    }

</script>

@* Footer *@
<script type="text/javascript">

    function TranslateSpanishFooter() {

        var FooterDescription = document.getElementById('FooterDescription').value;
        var Location = document.getElementById('Location').value;


        $.ajax({
            url: "/Admin/LayoutSetup/TranslateFooter",
            type: "POST",
            data: { FooterDescription, Location },

            success: function (data, status) {

                $("#footerDescriptionSpanish").val(data.footerDescription);
                $("#LocationSpanish").val(data.location);
            },


        });
    }

</script>
@* dashboard *@
<script type="text/javascript">

    function TranslateSpanishHome() {

        var HomeTitle = document.getElementById('homeTitle').value;
        var HomeDescription = CKEDITOR.instances.editorModuleEnglish.getData();
        var HomeSubTitle = document.getElementById('homeSubTitle').value;

        $.ajax({
            url: "/Admin/LayoutSetup/TranslateHome",
            type: "POST",
            data: { HomeTitle, HomeDescription, HomeSubTitle },

            success: function (data, status) {

                $("#homeTitleSpanish").val(data.homeTitle);
                CKEDITOR.instances['editorModuleSpanish'].setData(data.homeDescription);
                $("#HomeSubTitleSpanish").val(data.homeSubTitle);
            },


        });
    }

</script>
<script type="text/javascript">

    function TranslateHomeEngilsh() {

        var HomeTitleSpanish = document.getElementById('homeTitleSpanish').value;
        var HomeSubTitleSpanish = document.getElementById('HomeSubTitleSpanish').value;
        var HomeSpanishDescription = CKEDITOR.instances.editorModuleSpanish.getData();
        $.ajax({
            url: "/Admin/LayoutSetup/TranslateHomeEngilsh",
            type: "POST",
            data: { HomeTitleSpanish, HomeSubTitleSpanish, HomeSpanishDescription },

            success: function (data, status) {

                $("#homeTitle").val(data.homeTitleSpanish);
                CKEDITOR.instances['editorModuleEnglish'].setData(data.homeSpanishDescription);
                $("#homeSubTitle").val(data.homeSubTitleSpanish);
            },


        });
    }

</script>