@model List<DeVeeraApp.ViewModels.DashboardQuoteModel>
@{
    ViewData["Title"] = "List";
}

<div class="intro-y  py-5 sm:py-5 ">

    <div class="px-5 ">
        <div class="font-medium text-center text-lg">Quote List</div>
        <div class="text-gray-600 text-center mt-2">Below are the list of Quotes</div>

    </div>
    <div class="pt-5 border-t border-gray-200 dark:border-dark-5">
        <div class="intro-y col-span-12">
            <div class="grid grid-cols-12">
                <div class="intro-y col-span-12 pr-5 text-right">
                    <a data-toggle="modal" data-target="#ImportExcel" class="btn btn-primary w-40"><i data-feather="file-plus" class="mr-2"></i>Import Excel</a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
            <div class="intro-y p-5 col-span-12">
                <div class="intro-y box">

                    <div class="p-5" id="basic-table">
                        <div class="preview">
                            <div class="overflow-x-auto">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Quote</th>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Author</th>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Level</th>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Dashboard Quote</th>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Random Quote</th>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="border-b dark:border-dark-5">@i</td>
                                                    <td class="border-b dark:border-dark-5">@item.Title</td>
                                                    <td class="border-b dark:border-dark-5">@item.Author</td>
                                                    <td class="border-b dark:border-dark-5">@item.Level</td>
                                                    <td class="border-b dark:border-dark-5">@(item.IsDashboardQuote == true ? "Yes" : "No")</td>
                                                    <td class="border-b dark:border-dark-5">@(item.IsRandom == true ? "Yes" : "No")</td>
                                                    <td class="border-b dark:border-dark-5 text-theme-10"><a asp-controller="DashboardQuote" asp-action="Edit" asp-route-Id="@item.Id"><i data-feather="edit"></i></a></td>
                                                    <td class="border-b dark:border-dark-5 text-theme-24"><a onclick="ShowDeleteConfirmation('PostDeleteDashboardQuote(@item.Id)')"><i data-feather="trash-2"></i></a></td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="source-code hidden">
                            <button data-target="#copy-basic-table" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- BEGIN: Modal Content -->
<div id="ImportExcel" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- BEGIN: Modal Header -->
            <div class="modal-header">
                <h2 class="font-medium text-base mr-auto">
                    Import
                </h2>
            </div>
            <!-- END: Modal Header -->
            <!-- BEGIN: Modal Body -->
            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                <div class="col-span-12 sm:col-span-12">
                    <div class="flex flex-col sm:flex-row items-center  border-gray-200 dark:border-dark-5">
                        <label class="font-label ml-5 text-theme-21">
                            Import File
                        </label>
                    </div>
                    <div id="single-file-upload" class="p-5">
                        <div class="preview">
                            <div data-single="true" fallback="true" action="/DashboardQuote/UploadExcel" class="dropzone">
                                <div class="fallback">

                                </div>
                                <div class="dz-message" data-dz-message>
                                    <div class="text-lg font-medium">Drop files here or click to upload.</div>
                                    <div class="text-gray-600"> This is just a demo dropzone. Selected files are <span class="font-medium">not</span> actually uploaded. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Modal Body -->
            <!-- BEGIN: Modal Footer -->
            <div class="modal-footer text-right">
                <a asp-controller="DashboardQuote" asp-action="SampleExcel" class="btn btn-primary w-40">Import Sample File</a>
                <button type="submit" class="btn btn-primary w-20" onclick="ImportExcel();">Import</button>
            </div>
            <!-- END: Modal Footer -->
        </div>
    </div>
</div>
<!-- END: Modal Content -->
<script src="~/dist/js/Quote.js"></script>
<script src="~/dist/js/CustomJs/Delete.js"></script>

