@model DeVeeraApp.ViewModels.DashboardQuoteModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}




@* Previous Code design deleted Because some errors are getting  *@

<!-- Start Main Slides Area -->
<div class="main-slides-area">
    <div class="home-slides owl-carousel owl-theme">
        <div class="courses-details-image">
            @{
                var imageUrl2 = Model.layoutSetup?.VideoThumbImageUrl != null ? Model.layoutSetup?.VideoThumbImageUrl : "../../assets/images/courses/courses-details.jpg";
                var src = Model.VideoUrl == null ? "/dist/images/profile-14.jpg" : Model.VideoUrl;
            }

            <img src="@imageUrl2" alt="image" width="100%">

            <a href="@src" class="video-btn popup-youtube">
                <i class="flaticon-play"></i>
            </a>
        </div>

    </div>
</div>
<!-- End Main Slides Area -->
<div class="container pt-56">
    <div class="courses-details-desc">
                <div class="align-content-center">
                    <h5> @Html.Raw(Model.layoutSetup?.HomeDescription)</h5>
                </div>
    </div>
</div>
<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>@T(Model.layoutSetup?.HomeTitle)</h2>
            <p>@T(Model.layoutSetup?.HomeSubTitle)</p>
       </div>

        <div class="blog-slides owl-carousel owl-theme">

            @{

                int i = 1;
                @foreach (var item in Model.VideoModelList.OrderBy(a => a.LevelNo))
                {
                    var count = Model.VideoModelList.Count();
                    if (count == 1)
                    {
                        <div class="single-blog-item">
                            <div class="blog-image">

                                @{
                                    if (item.BannerImageUrl != null)
                                    {
                                        string imageUrl = item.BannerImageUrl;
                                        if (imageUrl != null)
                                        {
                                            <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo"><img class="img-levels-dashboard" src=@imageUrl></a>

                                        }
                                    }
                                    else
                                    {
                                        <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo"><img src="~/assets/images/blog/blog-1.jpg" alt="image"></a>

                                    }
                                }

                                <div class="tag"><span>@T(item.CreatedOn.ToString("dd MMM"))</span></div>
                            </div>

                            <div class="blog-content">


                                <h3>
                                    <a>@T(item.Title)</a>
                                </h3>
                                <div class="blog-btn">
                                    <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo" class="default-btn">@T("Read More") <i class="flaticon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-item">
                        </div>

                    }
                    else
                    {
                        <div class="single-blog-item">
                            <div class="blog-image">

                                @{
                                    if (item.BannerImageUrl != null)
                                    {
                                        string imageUrl = item.BannerImageUrl;
                                        if (imageUrl != null)
                                        {
                                            <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo"><img class="img-levels-dashboard" src=@imageUrl></a>

                                        }
                                    }
                                    else
                                    {
                                        <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo"><img src="~/assets/images/blog/blog-1.jpg" alt="image"></a>

                                    }
                                }

                                <div class="tag"><span>@T(item.CreatedOn.ToString("dd MMM"))</span></div>
                            </div>

                            <div class="blog-content">


                                <h3>
                                    <a>@T(item.Title)</a>
                                </h3>
                                <div class="blog-btn">
                                    <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo" class="default-btn">@T("Read More") <i class="flaticon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    }

                    i++;

                }
            }




        </div>
    </div>
</section>
<!-- End Blog Area -->
<!-- Start Subscribe Area -->
<div class="subscribe-area bg-top">
    <div class="container">
        <div class="subscribe-inner-box">
            <div class="subscribe-content">
                <h2> @T(Model.Title) </h2>
                <p>- @T(Model.Author)</p>

            </div>
        </div>
    </div>
</div>
<!-- End Subscribe Area -->
