@model DeVeeraApp.ViewModels.DashboardQuoteModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Start Main Slides Area -->
<div class="main-slides-area">
    <div class="home-slides owl-carousel owl-theme">
        <div class="main-slides-item" style="background-image:url('@(Model.layoutSetup?.SliderOneImageUrl != null ? Model.layoutSetup?.SliderOneImageUrl: "../../assets/images/SLIDER-BG-1.jpg")')">
            <div class="container">
                <div class="main-slides-content">
                    <h1>@Html.Raw(Model.layoutSetup?.SliderOneTitle)</h1>
                    <p>@Html.Raw(Model.layoutSetup?.SliderOneDescription)</p>

                    @*<div class="slides-btn">
                            <a href="#" class="default-btn">Book Online Session <i class="flaticon-pointer"></i></a>
                            <a href="#" class="optional-btn">Our Services <i class="flaticon-repairing-service"></i></a>
                        </div>*@
                </div>
            </div>
        </div>

        <div class="main-slides-item " style="background-image:url('@(Model.layoutSetup?.SliderTwoImageUrl != null ? Model.layoutSetup?.SliderTwoImageUrl: "../../assets/images/SLIDER-BG-3.jpg")')">
            <div class="container">
                <div class="main-slides-content">
                    <h1>@Html.Raw(Model.layoutSetup?.SliderTwoTitle)</h1>
                    <p>@Html.Raw(Model.layoutSetup?.SliderTwoDescription)</p>

                    @*<div class="slides-btn">
                            <a href="#" class="default-btn">Book Online Session <i class="flaticon-pointer"></i></a>
                            <a href="#" class="optional-btn">Our Services <i class="flaticon-repairing-service"></i></a>
                        </div>*@
                </div>
            </div>
        </div>

        <div class="main-slides-item " style="background-image:url('@(Model.layoutSetup?.SliderThreeImageUrl != null ? Model.layoutSetup?.SliderThreeImageUrl: "../../assets/images/SLIDER-BG-4.jpg")')">
            <div class="container">
                <div class="main-slides-content">
                    <h1>@Html.Raw(Model.layoutSetup?.SliderThreeTitle)</h1>
                    <p>@Html.Raw(Model.layoutSetup?.SliderThreeDescription)</p>

                    @*<div class="slides-btn">
                            <a href="#" class="default-btn">Book Online Session <i class="flaticon-pointer"></i></a>
                            <a href="#" class="optional-btn">Our Services <i class="flaticon-repairing-service"></i></a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Slides Area -->
<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>@T("Dive Into Our Sessions")</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="blog-slides owl-carousel owl-theme">

            @{

                int i = 1;
                @foreach (var item in Model.VideoModelList.OrderBy(a => a.LevelNo))
                {
                    var count = Model.VideoModelList.Count();
                    if (count == 1)
                    {
                        <div class="single-blog-item">
                            <div class="blog-image">

                                @{
                                    if (item.BannerImageUrl != null)
                                    {
                                        string imageUrl = item.BannerImageUrl;
                                        if (imageUrl != null)
                                        {
                                            <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo"><img class="img-levels-dashboard" src=@imageUrl></a>

                                        }
                                    }
                                    else
                                    {
                                        <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo"><img src="~/assets/images/blog/blog-1.jpg" alt="image"></a>

                                    }
                                }

                                <div class="tag"><span>@T(item.CreatedOn.ToString("dd MMM"))</span></div>
                            </div>

                            <div class="blog-content">


                                <h3>
                                    <a>@T(item.Title)</a>
                                </h3>
                                <div class="blog-btn">
                                    <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo" class="default-btn">@T("Read More") <i class="flaticon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-item">
                        </div>
                       
                    }
                    else
                    {
                        <div class="single-blog-item">
                            <div class="blog-image">

                                @{
                                    if (item.BannerImageUrl != null)
                                    {
                                        string imageUrl = item.BannerImageUrl;
                                        if (imageUrl != null)
                                        {
                                            <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo"><img class="img-levels-dashboard" src=@imageUrl></a>

                                        }
                                    }
                                    else
                                    {
                                        <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo"><img src="~/assets/images/blog/blog-1.jpg" alt="image"></a>

                                    }
                                }

                                <div class="tag"><span>@T(item.CreatedOn.ToString("dd MMM"))</span></div>
                            </div>

                            <div class="blog-content">


                                <h3>
                                    <a>@T(item.Title)</a>
                                </h3>
                                <div class="blog-btn">
                                    <a asp-controller="Lesson" asp-action="Index" asp-route-levelno="@item.LevelNo" class="default-btn">@T("Read More") <i class="flaticon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    }

                    i++;

                }
            }




        </div>
    </div>
</section>
<!-- End Blog Area -->
