@model DeVeeraApp.ViewModels.User.UserModel

@{ }



<link href="~/assets/css/OTPForm.css" rel="stylesheet" />
<link href="~/dist/css/Rating.css" rel="stylesheet">


<link rel="icon" type="image/png" href="~/assets/images/favicon.png">
<style>
    .colj-2 {
        flex: 0 0 auto;
        width: 83px;
        height: 66px;
        margin-left: 12px;
        border-radius: 10px;
        border: solid 1px #f38c8c;
        text-align: center;
        /* size: 24px; */
    }

    .verifybtn {
        width: 100%;
        border-radius: 15px;
        border: none;
        position: relative;
        top: 0;
        left: 0;
        padding: 20px;
    }

    .background {
        background: radial-gradient( #fff4f2 10%, #fcd2cb 90%)
    }

    .coming-soon-content .OtpForm {
        padding: 15px;
    }

    .restricte {
    }
    .fnts14 {
        font-size: 14px;
    }

    .coming-soon-content {
       
        padding: 20px 30px;
    }
</style>

<!-- Required meta tags -->
@*<body>*@

@*Start Preloader Area*@
<div class="preloader-area">
    <div class="spinner">
        <div class="inner">
            <div class="disc"></div>
            <div class="disc"></div>
            <div class="disc"></div>
        </div>
    </div>
</div>
<!-- End Preloader Area -->
<!-- Start Coming Soon Area -->

<div class="coming-soon-area">
    <div class="d-table background">
        <div class="d-table-cell">
            <div class="coming-soon-content">
                <div>
                    <img src="/assets/images/logo.png" alt="logo" style="margin-right:80px" width="300" height="300">
                </div>
                <div style="margin-right:20px">
                    <h2>@T(" Enter Your New Password")</h2>
                </div>
                @if (Model?.Email != null) {
                    TempData["Emailval"] = Model?.Email;
                <input hidden id="emailchangepwd" value="" name="username"/>
                }
                <form asp-controller="User" asp-action="ChangeForgotPassword" method="post"  >
                    <div class=" flex-wrap d-flex justify-content-center row col-lg-12 mt-3 ">
                        <div class="form-group">
                            <input type="password" asp-for="PasswordUpdate" id="EmailId" name="Password" class="form-control" placeholder="@T("Username")">
                            @*<span asp-validation-for="Email" class="text-theme-6 mt-2"></span>*@
                            <span class="text-theme-21 mt-2 capitalizetxt fnts14 " style="color:red;">@T(ViewData.ModelState["UserPassword.Password"]?.Errors.Count() != 0 ? ViewData.ModelState["UserPassword.Password"]?.Errors[0].ErrorMessage : "")</span>

                        </div>
                    </div>
                     <div class=" flex-wrap d-flex justify-content-center row col-lg-12 mt-3 ">
                        <div class="form-group">
                            <input type="password" asp-for="ConfirmPassword" id="EmailId" name="ConfirmPassword" class="form-control" placeholder="@T("Re-enter Username")">
                            @*<span asp-validation-for="Email" class="text-theme-6 mt-2"></span>*@
                            <span class="text-theme-21 mt-2 capitalizetxt fnts14 " style="color:red;">@T(ViewData.ModelState["ConfirmPassword"]?.Errors.Count() != 0 ? ViewData.ModelState["ConfirmPassword"]?.Errors[0].ErrorMessage : "")</span>

                        </div>
                    </div>
                      <span class="text-theme-21 mt-3 capitalizetxt fnts14 " style="color:red;">@T(ViewData.ModelState["ErrorMessage"]?.Errors.Count() != 0 ? ViewData.ModelState["ErrorMessage"]?.Errors[0].ErrorMessage : "")</span>
                    <button type="submit" class="default-btn mt-3 verifybtn">@T("Update Password")</button>
                   
                </form>
                 <a class="fnts14 text-start mt-3" style="padding-right:550px;" href="/User/Login">@T("Go Back To Login")</a>
            </div>
           
        </div>
    </div>
</div>
<script type="text/javascript">


    function resendOTP() {
            debugger
            $.ajax({
                url: "/User/ResendOTP",
                method: 'GET',
                data: {
                  channel:@Model
                },
                success: function(result) {
                    if(result.isValid === true) {
                        showMessages(['New code sent to the registered phone number']);
                    } else {
                        showMessages(result.errors);
                    }
                },
                error: function() {
                    showMessages('Request failed: check your internet connection');
                }
            })
        }

    function showMessages(messages) {
        $('#messages').html(
            '<ul>' + messages.map(function(message){ return '<li>'+message+'</li>' }).join('') + '</ul>'
        );
    }

    function moveCursor(fromTextbox, toTextbox,currenttxtbox)
    {

var currenttext=document.getElementById(currenttxtbox).value;

if(currenttext!=null&& currenttext!=""){
        var length = fromTextbox.value.length;
        var maxLength = fromTextbox.getAttribute("maxLength");
        if (length=maxLength) {
            document.getElementById(toTextbox).focus();
        }}
    }
</script>
<script>

 function resendOTP1() {
        var project=@Model;
        $.ajax({
            url: "/User/ResendOTP",
            datatype: "text",
            type: "Get",
            data: JSON.stringify(@Model),
           success: function (data) {
                alert(data.message);
            },
            error: function () {
                // $("#testarea").html("ERROR");
                alert("Error");
            }
        })
    }

</script>
<script>
document.querySelector(".input-newsletter").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
</script>