@model DeVeeraApp.ViewModels.User.UserModel

@{ }
<!doctype html>

@*<html lang="zxx">*@
@*<head>*@
<!-- Required meta tags -->
<!--<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!-- Bootstrap CSS -->
<!--<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">-->
<!-- Animate CSS -->
<!--<link rel="stylesheet" href="~/assets/css/animate.min.css">-->
<!-- Meanmenu CSS -->
<!--<link rel="stylesheet" href="~/assets/css/meanmenu.css">-->
<!-- Boxicons CSS -->
<!--<link rel="stylesheet" href="~/assets/css/boxicons.min.css">-->
<!-- Flaticon CSS -->
<!--<link rel="stylesheet" href="~/assets/css/flaticon.css">-->
<!-- Odometer CSS -->
<!--<link rel="stylesheet" href="~/assets/css/odometer.min.css">-->
<!-- Slick Min CSS -->
<!--<link rel="stylesheet" href="~/assets/css/slick.min.css">-->
<!-- Nice Select CSS -->
<!--<link rel="stylesheet" href="~/assets/css/nice-select.min.css">-->
<!-- Carousel CSS -->
<!--<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">-->
<!-- Carousel Default CSS -->
<!--<link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">-->
<!-- Magnific Popup CSS -->
<!--<link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">-->
<!-- Fancybox CSS -->
<!--<link rel="stylesheet" href="~/assets/css/fancybox.min.css">-->
<!-- Style CSS -->
<!--<link rel="stylesheet" href="~/assets/css/styleUser.css">-->
<!-- Responsive CSS -->
<!--<link rel="stylesheet" href="~/assets/css/responsive.css">-->
<link href="~/assets/css/OTPForm.css" rel="stylesheet" />
<link href="~/dist/css/Rating.css" rel="stylesheet">


<link rel="icon" type="image/png" href="~/assets/images/favicon.png">
<style>
    .colj-2 {
        flex: 0 0 auto;
        width: 83px;
        height: 66px;
        margin-left: 12px;
        border-radius: 10px;
        border: solid 1px #f38c8c;
        text-align: center;
        /* size: 24px; */
    }

    .verifybtn {
        width: 100%;
        border-radius: 15px;
        border: none;
        position: relative;
        top: 0;
        left: 0;
        padding: 20px;
    }

    .background {
        background: radial-gradient( #fff4f2 10%, #fcd2cb 90%)
    }

    .coming-soon-content .OtpForm {
        padding: 15px;
    }

    .restricte {
    }
    .fnts12 {
        font-size: 12px;
    }
    .fnts14 {
        font-size: 14px;
    }
</style>
@*</head>*@
<!-- Required meta tags -->
@*<body>*@

@*Start Preloader Area*@
<div class="preloader-area">
    <div class="spinner">
        <div class="inner">
            <div class="disc"></div>
            <div class="disc"></div>
            <div class="disc"></div>
        </div>
    </div>
</div>
<!-- End Preloader Area -->
<!-- Start Coming Soon Area -->

<div class="coming-soon-area">
    <div class="d-table background">
        <div class="d-table-cell">
            <div class="coming-soon-content">
                <div>
                    <img src="/assets/images/logo.png" alt="logo" style="margin-right:80px" width="300" height="300">
                </div>
                <div style="margin-right:20px">
                    <h2>@T(" Enter Your Username")</h2>
                </div>

                <form asp-controller="User" asp-action="ForgotPasswordEmailAsk" method="post"  class="OtpForm ">
                     @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div asp-validation-summary="All"  hidden class="text-theme-6 mt-4">
                        </div>
                    }
                    <div class=" flex-wrap d-flex justify-content-center row col-lg-12 ">
                      <div class="form-group">
                    <input type="email" asp-for="Email" id="EmailId" name="username" class="form-control" placeholder="@T("Username")">
                    @*<span asp-validation-for="Email" class="text-theme-6 mt-2"></span>*@
                    <span class="text-theme-21 mt-5 capitalizetxt fnts14 " style="color:red;">@T(ViewData.ModelState["ErrorMessage"]?.Errors.Count() != 0 ? ViewData.ModelState["ErrorMessage"]?.Errors[0].ErrorMessage : "")</span>
                   
                </div>                        
                    </div>
                    <button type="submit" class="default-btn mt-3 verifybtn">@T("Verify")</button>
                     
                </form>
                <span class="capitalizetxt text-start fnts12" style="color:red;">@T("Note:You Will Receive Otp On Your Registered Mobile Number")</span>
            </div>
        </div>
    </div>
</div>
<!-- End Coming Soon Area -->
<!-- Jquery Slim JS -->
<!--<script src="~/assets/js/jquery.min.js"></script>-->
<!-- Bootstrap Bundle JS -->
<!--<script src="~/assets/js/bootstrap.bundle.min.js"></script>-->
<!-- Meanmenu JS -->
<!--<script src="~/assets/js/jquery.meanmenu.js"></script>-->
<!-- Owl Carousel JS -->
<!--<script src="~/assets/js/owl.carousel.min.js"></script>-->
<!-- Jquery Appear JS -->
<!--<script src="~/assets/js/jquery.appear.js"></script>-->
<!-- Odometer JS -->
<!--<script src="~/assets/js/odometer.min.js"></script>-->
<!-- Slick Min JS -->
<!--<script src="~/assets/js/slick.min.js"></script>-->
<!-- Nice Select JS -->
<!--<script src="~/assets/js/nice-select.min.js"></script>-->
<!-- Magnific Popup JS -->
<!--<script src="~/assets/js/jquery.magnific-popup.min.js"></script>-->
<!-- Fancybox JS -->
<!--<script src="~/assets/js/fancybox.min.js"></script>-->
<!-- Ajaxchimp JS -->
<!--<script src="~/assets/js/jquery.ajaxchimp.min.js"></script>-->
<!-- Form Validator JS -->
<!--<script src="~/assets/js/form-validator.min.js"></script>-->
<!-- Contact JS -->
<!--<script src="~/assets/js/contact-form-script.js"></script>-->
<!-- Wow JS -->
<!--<script src="~/assets/js/wow.min.js"></script>-->
<!-- Custom JS -->
<!--<script src="~/assets/js/main.js"></script>
</body>
</html>-->
<script type="text/javascript">


    function resendOTP() {
            debugger
            $.ajax({
                url: "/User/ResendOTP",
                method: 'GET',
                data: {
                  channel:@Model
                },
                success: function(result) {
                    if(result.isValid === true) {
                        showMessages(['New code sent to the registered phone number']);
                    } else {
                        showMessages(result.errors);
                    }
                },
                error: function() {
                    showMessages('Request failed: check your internet connection');
                }
            })
        }

    function showMessages(messages) {
        $('#messages').html(
            '<ul>' + messages.map(function(message){ return '<li>'+message+'</li>' }).join('') + '</ul>'
        );
    }

    function moveCursor(fromTextbox, toTextbox,currenttxtbox)
    {

var currenttext=document.getElementById(currenttxtbox).value;

if(currenttext!=null&& currenttext!=""){
        var length = fromTextbox.value.length;
        var maxLength = fromTextbox.getAttribute("maxLength");
        if (length=maxLength) {
            document.getElementById(toTextbox).focus();
        }}
    }
</script>
<script>

 function resendOTP1() {
        var project=@Model;
        $.ajax({
            url: "/User/ResendOTP",
            datatype: "text",
            type: "Get",
            data: JSON.stringify(@Model),
           success: function (data) {
                alert(data.message);
            },
            error: function () {
                // $("#testarea").html("ERROR");
                alert("Error");
            }
        })
    }

</script>
<script>
document.querySelector(".input-newsletter").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
</script>