@model DeVeeraApp.ViewModels.User.LoginModel


@{
    ViewData["Title"] = "Login";
}

<!-- Start Page Banner Area -->
<div class="page-banner-with-full-image" style="background-image:url('@(Model.BannerImageUrl != null ? Model.BannerImageUrl: "../../assest/images/page-banner/login.jpg")')">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>Login</h2>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">@T("Home")</a>
                </li>
                <li>@T("Login")</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Login Area -->
<section class="login-area ptb-100">
    <div class="container">
        <div class="login-form">
            <h2>@T("Login")</h2>

            <form asp-controller="User" asp-action="Login" method="post">
                <div class="form-group">
                    <label>@T("Username")</label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="@T("Username")">
                    <span asp-validation-for="Email" class="text-theme-6 mt-2"></span>
                </div>

              

                <div class="form-group">
                    <label>@T("Password")</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="@T("Password")">
                    <span asp-validation-for="Password" class="text-theme-6 mt-2"></span>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkme">
                            <label class="form-check-label" for="checkme">@T("Remember me")</label>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 lost-your-password">
                        <a href="#" class="lost-your-password">@T("Forgot your password?")</a>
                    </div>
                </div>

                <button type="submit">@T("Login")</button>
            </form>
        </div>
    </div>
</section>
<!-- End Login Area -->

