@model DeVeeraApp.ViewModels.User.UserModel
@using DeVeeraApp.ViewModels.User
@{

}

<!-- Start Page Banner Area -->
<div class="page-banner-with-full-image item-bg4">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>Register</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Register</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Register Area -->

    <section class="register-area ptb-100">
        <div class="container">
            <div class="register-form">
                <h2>Register</h2>

                <form asp-controller="User" asp-action="Register" method="post">
                    <input type="hidden" asp-for="UserRoleId" value="1" />
                  

                    <div class="form-group">
                        <label>@T("User Name")</label>
                        <input asp-for="@Model.Email" type="email"  class="form-control" placeholder="@T("User Name")">
                    </div>

                    <div class="form-group">
                        <label>@T("Mobile Number")</label>
                        <input asp-for="@Model.MobileNumber" type="number" class="form-control" placeholder="Phone">
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input asp-for="@Model.UserPassword.Password" type="password" class="form-control" placeholder="Password">
                        <span asp-validation-for="UserPassword.Password" class="text-theme-6 mt-2"></span>
                    </div>

                    <p class="description">The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & )</p>

                    <button type="submit">@T("Register Now")</button>
                </form>
            </div>
        </div>
    </section>

    <!-- End Register Area -->


   