@model DeVeeraApp.ViewModels.User.TwoFactorAuthModel
@{
    ViewData["Title"] = "TwoFactorAuthentication";
  
}

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- Slick Min CSS -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets/css/nice-select.min.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="~/assets/css/fancybox.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/styleUser.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <link href="~/dist/css/Rating.css" rel="stylesheet" />


    <title>Psylo - Life Coach & Psychologist HTML Template</title>

    <link rel="icon" type="image/png" href="~/assets/images/favicon.png">
    <style>
        .background {
            background: radial-gradient( #fff4f2 10%, #fcd2cb 90%)
        }
    </style>
</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader-area">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Coming Soon Area -->

    <div class="coming-soon-area" style="background-color:lightgray">
        <div class="d-table background">
            <div class="d-table-cell">
                <div class="coming-soon-content">
                    <h1>
                        <a href="#">@T("Two Factor Authentication")</a>
                    </h1>

                    <h2>@T("Please enter one time password (OTP).")</h2>



                    <section class="login-area mt-5">
                        <div class="container">
                            <div class="login-form">
                                <form asp-controller="User" asp-action="TwoFactorAuthentication" method="post">
                                    <input type="hidden" asp-for="@Model.LevelId" />
                                    <input type="hidden" asp-for="@Model.ModuleId" />
                                    <input type="hidden" asp-for="@Model.UserId" />
                                    @{ string mobnumber = Model.MobileNumber?.ToString();
                                        if (mobnumber != "" && Model.MobileNumber!=null)
                                        {
                                            var value = Model.MobileNumber.Count() - 4;
                                            mobnumber = mobnumber.Substring(value, 4);
                                            mobnumber = "XXXXXX" + mobnumber;
                                        }
                                        <h5 class="txt-lightblack  ml-4 mt-3 text-center">@mobnumber</h5>
                                    }
                                    <div class="form-group">
                                        <input type="text" asp-for="@Model.OTP" onkeydown="return isNumberKey(this, event);" class="form-control" placeholder="@T("Enter passcode")" required >
                                        <span class="text-theme-6 mt-2">  @T(ViewData.ModelState["OTP"]?.Errors[0].ErrorMessage ?? "")</span>

                                      

                                    </div>
                                    <button type="submit">@T("Submit")</button>
                                      <div class="text-start mt-4 mb-0" >
                           <a   href="/User/ResendotpTwoFactorAuth"   id="resendotptwo"   class="text-start"  style="color: #f0b9b2;font:800;">@T("Resend otp")</a>
                          
                       </div>

                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- End Coming Soon Area -->
    <!-- Jquery Slim JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Jquery Appear JS -->
    <script src="~/assets/js/jquery.appear.js"></script>
    <!-- Odometer JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <!-- Slick Min JS -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/assets/js/nice-select.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Fancybox JS -->
    <script src="~/assets/js/fancybox.min.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/assets/js/contact-form-script.js"></script>
    <!-- Wow JS -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/main.js"></script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG7gNHAhDzgYmq4-EHvM4bqW1DNj2UCuk&amp;libraries=places"></script>
    <script>
        function isNumberKey(txt, evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            //console.log(charCode);
            if (charCode == 46) {
                //Check if the text already contains the . character
                if (txt.value.indexOf('.') === -1) {
                    return true;
                } else {
                    return false;
                }
            } else {
                //if (charCode > 31 &&
                //    (charCode < 48 || charCode > 57))
                //    return false;
                if ((charCode == 8) //backspace
                    || (charCode >= 48 && charCode <= 57) //keypad: 0 to 9
                    || (charCode >= 96 && charCode <= 105)) //numpad: 0 to 9
                    return true;
            }
            return false;
        }

    </script>
</body>
</html>