@model DeVeeraApp.ViewModels.User.UserModel
@using DeVeeraApp.ViewModels.User
@inject CRM.Core.IWorkContext _workContext

@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var dataProperty = _workContext.CurrentUser.UserRole.Name == "Admin" ? "disabled" : "";
}
<div class="page-banner-with-full-image item-bg3">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>@T("My Account")</h2>
            <ul>
                <li>
                    <a asp-controller="Dashboard" asp-action="Index" >@T("Home")</a>
                </li>
                <li>@T("My Account")</li>
            </ul>
        </div>
    </div>
</div>
<section class="courses-details-area ptb-100">
    <div class="container">
      
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="courses-details-desc">
                    <ul class="nav nav-tabs"  role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview">@T("My Profile")</a></li>
                        <li class="nav-item"><a class="nav-link" id="curriculum-tab" data-bs-toggle="tab" href="#curriculum" role="tab" aria-controls="curriculum">@T("Change Password")</a></li>
                        <li class="nav-item"><a class="nav-link" id="instructor-tab" data-bs-toggle="tab" href="#instructor" role="tab" aria-controls="instructor">@T("Change Language")</a></li>
                        <li class="nav-item"><a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews">@T("Reviews")</a></li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel">
                            <div class="courses-overview">
                              
                                <!-- Start Book Online Area -->
                                <section class="book-online-area">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="book-online-form">
                                                    <h3>@T("My Profile")</h3>

                                                    <form asp-controller="User" asp-action="UserProfile" method="post">
                                                        <input asp-for="Id" hidden />
                                                        <div class="form-group">
                                                            <input type="text" asp-for="@Model.Email" class="form-control" placeholder="@T("Username")">
                                                        </div>

                                                        <div class="form-group">
                                                            <select type="text" asp-for="@Model.GenderType" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
                                                        </div>

                                                        <div class="form-group">
                                                            <input type="text" asp-for="@Model.Age" class="form-control" placeholder="@T("age")">
                                                        </div>
                                                        <div class="form-group">
                                                            <select type="text" asp-for="@Model.EducationType" asp-items="@Html.GetEnumSelectList<Education>()" class="form-control"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" asp-for="@Model.Occupation" class="form-control" placeholder="@T("Phone Number")">
                                                        </div>
                                                        <div class="form-group">
                                                            <select type="text" asp-for="@Model.FamilyOrRelationshipType" asp-items="@Html.GetEnumSelectList<FamilyOrRelationship>()" class="form-control"></select>
                                                        </div>
                                                        <div class="book-online-btn">
                                                            <button type="submit" class="default-btn">@T("Save") <i class="flaticon-pointer"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="book-online-image"></div>
                                            </div>
                                        </div>
                                    </div>

                                  
                                </section>
                                <!-- End Book Online Area -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="curriculum" role="tabpanel">
                            <!-- Start Book Online Area -->
                            <section class="book-online-area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="book-online-form">
                                                <h3>@T("Change Password")</h3>

                                                <form asp-controller="User" asp-action="UserProfile" method="post">
                                                    <input asp-for="Id" hidden />
                                                    <input asp-for="@Model.Email" id="hiddenEmail" hidden />

                                                    <div class="form-group">
                                                        <input type="text" asp-for="@Model.UserPassword.Password" class="form-control" placeholder="@T("password")">
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="text" asp-for="@Model.ConfirmPassword" class="form-control" placeholder="@T("Confirm Password")">
                                                    </div>
                                                    <span class="text-theme-6 mt-2" style="color:red;"> @T(ViewData.ModelState["ErrorMessage"]?.Errors.Count() != 0 ? ViewData.ModelState["ErrorMessage"]?.Errors[0].ErrorMessage : "")</span>
                                                    <div class="book-online-btn">
                                                        <button type="submit" class="default-btn">@T("Save") <i class="flaticon-pointer"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                       
                                    </div>
                                </div>

                             
                            </section>
                            <!-- End Book Online Area -->
                        </div>

                        <div class="tab-pane fade" id="instructor" role="tabpanel">
                            <section class="book-online-area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="book-online-form">
                                                <h3>@T("Change Language")</h3>
                                                <div class="form-group">
                                                    @await Component.InvokeAsync("SelectLanguage", Model)
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>


                            </section>
                        </div>

                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="courses-reviews">
                                <h3>@T("Course Rating")</h3>
                                <div class="rating">
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star"></span>
                                </div>
                                <div class="rating-count">
                                    <span>4.1 @T("average based on") 4 @T("reviews").</span>
                                </div>
                                <div class="row">
                                    <div class="side">
                                        <div>5 @T("star")</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>02</div>
                                    </div>
                                    <div class="side">
                                        <div>4  @T("star")</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>03</div>
                                    </div>
                                    <div class="side">
                                        <div>3  @T("star")</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>04</div>
                                    </div>
                                    <div class="side">
                                        <div>2  @T("star")</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>05</div>
                                    </div>
                                    <div class="side">
                                        <div>1  @T("star")</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-1"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>00</div>
                                    </div>
                                </div>
                            </div>

                            <div class="courses-review-comments">
                                <h3>3 @T("Reviews")</h3>
                                <div class="user-review">
                                    <img src="assets/images/courses/images-1.jpg" alt="image">

                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                        </div>

                                        <span class="d-inline-block">James Anderson</span>
                                    </div>

                                    <span class="d-block sub-comment">Excellent</span>
                                    <p>Very well built theme, couldn't be happier with it. Can't wait for future updates to see what else they add in.</p>
                                </div>

                                <div class="user-review">
                                    <img src="assets/images/courses/images-2.jpg" alt="image">

                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>

                                        <span class="d-inline-block">Sarah Taylor</span>
                                    </div>

                                    <span class="d-block sub-comment">Video Quality!</span>
                                    <p>Was really easy to implement and they quickly answer my additional questions!</p>
                                </div>

                                <div class="user-review">
                                    <img src="assets/images/courses/images-3.jpg" alt="image">

                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                        </div>

                                        <span class="d-inline-block">David Warner</span>
                                    </div>

                                    <span class="d-block sub-comment">Perfect Coding!</span>
                                    <p>Stunning design, very dedicated crew who welcome new ideas suggested by customers, nice support.</p>
                                </div>

                                <div class="user-review">
                                    <img src="assets/images/courses/images-4.jpg" alt="image">

                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>

                                        <span class="d-inline-block">King Kong</span>
                                    </div>

                                    <span class="d-block sub-comment">Perfect Video!</span>
                                    <p>Stunning design, very dedicated crew who welcome new ideas suggested by customers, nice support.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
