@model DeVeeraApp.ViewModels.User.UserModel
@using DeVeeraApp.ViewModels.User
@inject CRM.Core.IWorkContext _workContext

@{
    ViewData["Title"] = "UserProfile";

    var dataProperty = _workContext.CurrentUser.UserRole.Name == "Admin" ? "disabled" : "";
}


<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        @T("Update Profile")
    </h2>
</div>
<div class="grid grid-cols-12 gap-6">
    <!-- BEGIN: Profile Menu -->
    <div class="col-span-12 lg:col-span-4 xxl:col-span-3 flex lg:block flex-col-reverse">
        <div class="intro-y box mt-5">
            <div class="relative flex items-center p-5">
                <div class="w-12 h-12 image-fit">
                    <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full" src="~/dist/images/profile-15.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium text-base">@Model.Email</div>
                    <div class="text-gray-600">@Model.UserRoleName</div>
                </div>
            </div>
            <div class="p-5 border-t border-gray-200 dark:border-dark-5">

                <a class="flex items-center text-theme-17 dark:text-gray-300 font-medium"  data-toggle="tab" data-target="#accountInfo"> <i data-feather="activity" class="w-4 h-4 mr-2"></i> @T("Personal Information") </a>
                <a class="flex items-center text-theme-17 dark:text-gray-300 font-medium mt-5"  data-toggle="tab" data-target="#changePassword"> <i data-feather="lock" class="w-4 h-4 mr-2"></i> @T("Change Password") </a>
                <a class="flex items-center text-theme-17 dark:text-gray-300 font-medium mt-5"  data-toggle="tab" data-target="#questionAnswerResponse"> <i data-feather="lock" class="w-4 h-4 mr-2"></i> @T("User Question Answer") </a>
                <a class="flex items-center text-theme-17 dark:text-gray-300 font-medium mt-5"  data-toggle="tab" data-target="#changeLanguage"> <i data-feather="settings" class="w-4 h-4 mr-2"></i> @T("Choose Language") </a>
                <a asp-controller="Home" asp-action="Help" class="flex items-center text-theme-17 dark:text-gray-300 font-medium mt-5"> <i data-feather="help-circle" class="w-4 h-4 mr-2"></i> @T("Help") </a>
           @if (Model.TwoFactorAuthentication==true && _workContext.CurrentUser.UserRole.Name !="Admin")
                {
                    <a asp-controller="User" asp-action="ChangePasscode" class="flex items-center text-theme-17 dark:text-gray-300 font-medium mt-5"> <i data-feather="settings" class="w-4 h-4 mr-2"></i> Change Passcode </a>
                }
            </div>

        </div>
        @if (_workContext.CurrentUser.UserRole.Name == "Admin")
        {
            @if (Model.LevelTitle != null)
            {
                <div class="intro-y box p-5 bg-theme-31  text-theme-26 mt-5">
                    <div class="flex items-center">
                        <div class="font-medium text-lg">@Model.LevelTitle</div>
                        <div class="text-xs bg-white dark:bg-theme-17 dark:text-white text-gray-800 px-1 rounded-md ml-auto">Last Level</div>
                    </div>

                </div>

            }
            @if (Model.ModuleTitle != null)
            {
                <div class="intro-y box p-5 bg-theme-17 text-white mt-5">
                    <div class="flex items-center">
                        <div class="font-medium text-lg">@Model.ActiveModuleLevelName: @Model.ModuleTitle</div>
                        <div class="text-xs bg-white dark:bg-theme-17 dark:text-white text-gray-800 px-1 rounded-md ml-auto">Active Module</div>
                    </div>

                </div>

            }

        }
    </div>
    <div class="col-span-12 lg:col-span-8 xxl:col-span-9">

        <div class="tab-content">

            <div id="changePassword" class="tab-pane" role="tabpanel" aria-labelledby="profile-tab">
                <form asp-controller="User" asp-action="UserProfile" method="post" id="Userprofile1" onsubmit="ShowLoaderUser('Userprofile1');">
                    <input asp-for="Id" hidden />
                    <input asp-for="@Model.Email" id="hiddenEmail" hidden />
                    <div class="intro-y box lg:mt-5">
                        <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
                            <h2 class="font-medium text-base mr-auto">
                                @T("Change Password")
                            </h2>
                        </div>
                        <div class="p-5">
                            <div class="flex flex-col-reverse xl:flex-row flex-col">
                                <div class="flex-1 mt-6 xl:mt-0">
                                    <div class="grid grid-cols-12 gap-x-5">
                                        <div class="col-span-12 xxl:col-span-6">
                                            <div>
                                                <label class="form-label">@T("New Password")</label>
                                                <input asp-for="@Model.UserPassword.Password" type="password" class="form-control" placeholder=@T("Password")>
                                                <span asp-validation-for="UserPassword.Password" class="text-theme-6 mt-2"></span>

                                            </div>
                                            <div class="mt-3">
                                                <label class="form-label">@T("Confirm Password")</label>
                                                <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" placeholder=@T("Confirm Password")>
                                                <span asp-validation-for="ConfirmPassword" class="text-theme-6 mt-2"></span>

                                            </div>
                                        </div>
                                    </div>
                                   

                                    <button type="submit" class="btn btn-primary w-20 mt-3" onclick="LoadLoader()">@T("Save")</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div id="accountInfo" class="tab-pane active" role="tabpanel" aria-labelledby="profile-tab">
                <form asp-controller="User" asp-action="UserProfile" method="post" id="Userprofile2" onsubmit="ShowLoaderUser('Userprofile2');">
                    <!-- BEGIN: Display Information -->
                    <div class="intro-y box lg:mt-5">
                        <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
                            <h2 class="font-medium text-base mr-auto">
                                @T("Display Information")
                            </h2>
                        </div>
                        <div class="p-5">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                // Bootstrap 2 = "alert-error", Bootstrap 3 and 4 = "alert-danger"
                                <div asp-validation-summary="ModelOnly" class="text-theme-6 mt-4">
                                    @*<a class="close" data-dismiss="alert">&times;</a>*@
                                </div>
                            }
                            <div class="flex flex-col-reverse xl:flex-row flex-col">
                                <div class="flex-1 mt-6 xl:mt-0">
                                    <div class="grid grid-cols-12 gap-x-5">
                                        <div class="col-span-12 xxl:col-span-6">
                                            <div>
                                                <label class="form-label">@T("User Name")</label>
                                                <input asp-for="Email" type="text" class="form-control" placeholder=@T("example@gmail.com") readonly>
                                                <span asp-validation-for="Email" class="text-theme-6 mt-2"></span>

                                            </div>
                                            <div class="mt-3">
                                                <label class="form-label">@T("Gender")</label>
                                                <select asp-for="@Model.GenderType" asp-items="@Html.GetEnumSelectList<Gender>()" class="tail-select w-full">
                                                </select>
                                                <span asp-validation-for="GenderType" class="text-theme-6 mt-2"></span>

                                            </div>
                                        </div>
                                        <div class="col-span-12 xxl:col-span-6">
                                            <div class="mt-3 xxl:mt-0">
                                                <label class="form-label">@T("Age")</label>
                                                <input asp-for="Age" type="number" class="form-control" placeholder=@T("your age")>
                                                <span asp-validation-for="Age" class="text-theme-6 mt-2"></span>

                                            </div>
                                            <div class="mt-3">
                                                <label class="form-label">@T("Education")</label>
                                                <select asp-for="@Model.EducationType" asp-items="@Html.GetEnumSelectList<Education>()" class="tail-select w-full">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-span-12">
                                            <div class="mt-3">
                                                <label class="form-label">@T("Occupation")</label>
                                                <input asp-for="Occupation" class="form-control" placeholder=@T("your occupation") />

                                            </div>
                                            <div class="mt-3">
                                                <label class="form-label">@T("Family Or Relationship")</label>
                                                <select asp-for="@Model.FamilyOrRelationshipType" asp-items="@Html.GetEnumSelectList<FamilyOrRelationship>()" class="tail-select w-full">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-20 mt-3" onclick="LoadLoader()">@T("Save")</button>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END: Display Information -->

                </form>


            </div>
            <div id="questionAnswerResponse" class="tab-pane">
                <div class="intro-y inbox box mt-5">
                    @if (Model.UserQuestionAnswerResponse.Count > 0)
                    {
                        <div class="p-5 flex flex-col-reverse sm:flex-row text-gray-600 border-b border-gray-200 dark:border-dark-1">
                            <div class="flex items-center mt-3 sm:mt-0 border-t sm:border-0 border-gray-200 pt-5 sm:pt-0 mt-5 sm:mt-0 -mx-5 sm:mx-0 px-5 sm:px-0">
                                <div class="font-medium text-base">@T("User Question Answer")</div>                            </div>
                          
                        </div>

                        foreach (var item in Model.UserQuestionAnswerResponse)
                        {
                            <div class="overflow-x-auto sm:overflow-x-visible">
                                <div class="intro-y">
                                    <div class="inbox__item inline-block sm:block text-gray-700 dark:text-gray-500 bg-gray-100 dark:bg-dark-1 border-b border-gray-200 dark:border-dark-1">
                                        <div class="flex px-5 py-3">
                                            <div class="w-72 flex-none flex items-center mr-5">
                                                <div class="inbox__item--sender truncate ml-3"><b>Question:</b>&nbsp;@item.Question?</div>
                                            </div>
                                            <div class="w-64 sm:w-auto truncate"> <span class="inbox__item--highlight"><b>Answer:</b>&nbsp;@item.Answer</span> </div>
                                            <div class="inbox__item--time whitespace-nowrap ml-auto pl-10"><b>Module:</b>&nbsp;@item.ModuleName</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        <div class="p-5 flex flex-col sm:flex-row items-center text-center sm:text-left text-gray-600">
                            <div class="dark:text-gray-300">Total Questions Answered: @Model.UserQuestionAnswerResponse.Count</div>
                            <div class="sm:ml-auto mt-2 sm:mt-0 dark:text-gray-300">Last Update By User: @Model.UserQuestionAnswerResponse.Max(a => a.AnsweredOn)</div>
                        </div>
                    }
                    else
                    {
                        <div class="intro-y inbox box mt-5">
                            <div class="p-5 flex flex-col-reverse sm:flex-row text-gray-600 border-b border-gray-200 dark:border-dark-1">
                                <div class="flex items-center mt-3 sm:mt-0 border-t sm:border-0 border-gray-200 pt-5 sm:pt-0 mt-5 sm:mt-0 -mx-5 sm:mx-0 px-5 sm:px-0">
                                    <h2>User&nbsp;<b>(@Model.Email)</b>&nbsp; has not responded to any questions yet.</h2>
                                </div>
                            </div>
                        </div>
                    }
                </div>


            </div>
            <div id="changeLanguage" class="tab-pane">
                <form asp-controller="GeneralSetting" asp-action="Create" method="post">
                    <input type="hidden" asp-for="@Model.Id" value="@_workContext.CurrentUser.Id" />
                    <input type="hidden" asp-for="@Model.LandingPageModel.Language.ReturnUrl" value=@($"{Context.Request.Path}?userId={_workContext.CurrentUser.Id}") />
                    <div class="intro-y box lg:mt-5">
                        <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
                            <h2 class="font-medium text-base mr-auto">
                                @T("Choose Language")
                            </h2>
                        </div>
                        <div class="p-5">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                // Bootstrap 2 = "alert-error", Bootstrap 3 and 4 = "alert-danger"
                                <div asp-validation-summary="All" class="text-theme-6 mt-4">
                                    
                                </div>
                            }
                            <div class="flex flex-col-reverse xl:flex-row flex-col">
                                <div class="flex-1 mt-6 xl:mt-0">
                                    <div class="grid grid-cols-12 gap-x-5">
                                        <div class="col-span-12 xxl:col-span-6">
                                            <div class="mt-3">
                                                <label class="form-label">@T("Choose Language")</label>
                                                <select asp-for="@Model.LandingPageModel.Language.Id" asp-items="@Model.LandingPageModel.Language.AvailableLanguages" class="tail-select w-full">
                                                </select>
                                                <span asp-validation-for="GenderType" class="text-theme-6 mt-2"></span>

                                            </div>
                                        </div>
                                    </div>
                            
                                    <button type="submit" class="btn btn-primary w-20 mt-3" onclick="LoadLoader(); this.form.submit();">@T("Save")</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
<!-- END: Profile Menu -->
