@model DeVeeraApp.ViewModels.LevelModel
@{
    ViewData["Title"] = "Edit";
}


<div class="intro-y inbox py-10 sm:py-20 ">
    <div class="px-5 ">
        <div class="font-medium text-center text-lg">Edit Level</div>
        <div class="text-gray-600 text-center mt-2">Please add Level name and description</div>
    </div>
    <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
            <div class="intro-y box p-5 col-span-12">
                <div class="intro-y pr-1">
                    <div class="p-2">
                        <div class="pos__tabs nav nav-tabs justify-center" role="tablist">
                            <a id="level-tab" data-toggle="tab" data-target="#level" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab=="Level" ? "active":"")" role="tab" aria-controls="level" aria-selected="true">Level</a>
                            <a id="modules-tab" data-toggle="tab" data-target="#modules" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab=="Add Module" ? "active":"")" role="tab" aria-controls="modules" aria-selected="false">Add / Edit Module</a>
                            <a id="view-modules-tab" data-toggle="tab" data-target="#view-modules" href="javascript:;" class="flex-1 py-2 rounded-md text-center @(ViewBag.ActiveTab=="View-Module" ?"active":"")" role="tab" aria-controls="view-modules" aria-selected="false">View Modules</a>

                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="level" class="tab-pane @(ViewBag.ActiveTab=="Level" ? "active":"")" role="tabpanel" aria-labelledby="level-tab">
                        <form asp-controller="Level" asp-action="Edit" method="post" id="levelForm">
                            <input type="hidden" asp-for="@Model.srno" />
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div asp-validation-summary="All" class="text-theme-6 mt-4">
                                </div>
                            }
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Level No.</label>
                                <input id="input-wizard-1" asp-for="@Model.LevelNo" type="number" class="form-control" placeholder="title">
                                <span asp-validation-for="LevelNo" class="text-theme-6 mt-2"></span>
                            </div>
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input id="input-wizard-1" asp-for="@Model.Title" type="text" class="form-control" placeholder="title">
                                <span asp-validation-for="Title" class="text-theme-6 mt-2"></span>
                            </div>
                            @*<div class="mt-5">
            <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
            <input id="input-wizard-1" asp-for="@Model.Quote" type="text" class="form-control" placeholder="quote">
            <span asp-validation-for="Quote" class="text-theme-6 mt-2"></span>
        </div>*@
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Subtitle</label>
                                <input id="input-wizard-1" asp-for="@Model.Subtitle" type="text" class="form-control" placeholder="title">
                                <span asp-validation-for="Subtitle" class="text-theme-6 mt-2"></span>
                            </div>

                            <div class="mt-5">
                                <label class="form-label text-theme-21 ">Video</label>
                                <select asp-for="VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>

                            </div>
                            <div class="mt-3">
                                <label for="post-form-3" class="form-label text-theme-21">Images</label>
                                @Html.ListBoxFor(m => m.SelectedImg, @Model.AvailableImages, new { @Id = "post-form-3", @class = "tail-select w-full", @placeholder = "Select Images" })

                            </div>
                            <div class="mt-5">
                                <input asp-for="Active" type="checkbox" class="form-check-input" placeholder="IsActive" />
                                <label class="form-label text-theme-21 pl-1">Active</label>



                            </div>
                            @*<div class="mt-5">

            <label class="form-label text-theme-21 ">Images</label>
            <div class="intro-y grid grid-cols-12 gap-3 sm:gap-6 mt-5">
                @for (int j = 0; j < Model.ImageLists.Count(); j++)
                {

                    <div class="intro-y col-span-6 sm:col-span-4 md:col-span-3 xxl:col-span-2">
                        <div class="file box rounded-md px-5 pt-8 pb-5 px-3 sm:px-5 relative zoom-in">
                            <div class="absolute left-0 top-0 mt-3 ml-3">
                                <input class="form-check-input border border-gray-500" asp-for="@Model.SelectedImages[j].Selected" type="checkbox">
                                <input type="hidden" value="@Model.ImageLists[j].Id" asp-for="@Model.SelectedImages[j].id" />
                            </div>
                            <a href="" class="w-3/5 file__icon file__icon--file mx-auto">
                                <div class="file__icon__file-name">PHP</div>
                            </a>
                            <a href="" class="block font-medium mt-4 text-center truncate">@Html.DisplayFor(m => Model.ImageLists[j].Name)</a>
                            <div class="text-gray-600 text-xs text-center mt-0.5">@Html.DisplayFor(m => Model.ImageLists[j].Key)</div>
                            <div class="absolute top-0 right-0 mr-2 mt-2 dropdown ml-auto">
                                <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false"> <i data-feather="more-vertical" class="w-5 h-5 text-gray-600"></i> </a>
                                <div class="dropdown-menu w-40">
                                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                                        <a onclick="ShowDeleteConfirmation('PostDeleteImage(@Model.ImageLists[j].Id)')" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                }
            </div>


        </div>*@


                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 ">Description</label>
                            </div>
                            <div class="" id="standard-editor">
                                <div class="preview">
                                    <textarea id="editor2" asp-for="FullDescription" class="editor2"> </textarea>

                                </div>
                            </div>
                           
                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                                    <div class="intro-y   col-span-6">
                                        <button type="submit" class="btn btn-primary w-24" onclick="LevelEditLoader()">Save</button>
                                    </div>
                                    <div class="intro-y  col-span-6 ml-auto">

                                        <a target="_blank" class="btn btn-primary w-24" href="/Lesson/Index/@Model.Id">Preview</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="modules" class="tab-pane @(ViewBag.ActiveTab=="Add Module" ? "active":"")" role="tabpanel" aria-labelledby="modules-tab">
                        <form asp-controller="Level" asp-action="AddModule" method="post">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div asp-validation-summary="All" class="text-theme-6 mt-4">
                                </div>
                            }

                            <div class="mt-5">
                                <label class="form-label text-theme-21 ">title</label>
                                <input asp-for="Id" hidden />
                                <input asp-for="Modules.Id" hidden />
                                <input asp-for="@Model.Modules.Title" type="text" class="form-control w-full" placeholder="Title" />

                            </div>
                            <div class="mt-5">
                                <label class="form-label text-theme-21 ">Video</label>
                                @{
                                    Model.Modules.VideoId = Model.Modules.VideoId == null ? Model.Modules.VideoId = 0 : Model.Modules.VideoId;
                                }
                                <select asp-for="@Model.Modules.VideoId" asp-items="Model.AvailableVideo" type="text" data-search="true" class="tail-select w-full" placeholder="video name"></select>

                            </div>

                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Description</label>
                            </div>
                            <div class="" id="standard-editor">
                                <div class="preview">
                                    <textarea id="editor3" asp-for="Modules.FullDescription" class="editor3" required> </textarea>

                                </div>
                                <span asp-validation-for="Modules.FullDescription" class="text-theme-6 mt-2"></span>
                            </div>

                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">

                                <button type="submit" class="btn btn-primary mr-2 w-24" onclick="LevelEditLoader()">Save</button>
                                @if (Model.Modules.Id != 0)
                                {                     
                                  <a target="_blank" class="btn btn-primary w-24" href="/Module/Index/@Model.Modules.Id">Preview</a>                                    
                                }
                            </div>
                        </form>
                    </div>

                    <div id="view-modules" class="tab-pane @(ViewBag.ActiveTab=="View-Module" ? "active":"")" role="tabpanel" aria-labelledby="view-modules-tab">
                        <div class="p-5" id="basic-table">
                            <div class="preview">
                                <div class="overflow-x-auto">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Title</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Video</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int i = 1;
                                                foreach (var item in Model.ModuleList)
                                                {
                                                    <tr>
                                                        <td class="border-b dark:border-dark-5">@i</td>
                                                        <td class="border-b dark:border-dark-5">@item.Title</td>
                                                        <td class="border-b dark:border-dark-5">@(item.Video?.Name == null ? "Not Available" : item.Video?.Name)</td>
                                                        <td class="border-b dark:border-dark-5 text-theme-10"><a asp-controller="Level" asp-action="Edit" asp-route-ModuleId="@item.Id"><i data-feather="edit"></i></a></td>
                                                        <td class="border-b dark:border-dark-5 text-theme-24"><a onclick="ShowDeleteConfirmation('PostDeleteModule(@item.Id)')"><i data-feather="trash-2"></i></a></td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="source-code hidden">
                                <button data-target="#copy-basic-table" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    function LevelEditLoader() {
        $('.ovalicon').css('display', 'block');
        $('.oval').css('display', 'block');
        $('.loader').removeAttr("hidden");
        setTimeout(function () {
            $("#loader").hide();
        }, 500);
    }

    function sendRequest() {


    }

</script>

