@model DeVeeraApp.ViewModels.User.UserModel
@*< !--BEGIN: Top Bar -->*@
<div class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
    <!-- BEGIN: Breadcrumb -->
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
        <a href="@ViewBag.PageUrl">@ViewBag.Page</a>
        <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        <a href="@ViewBag.ActionUrl" class="breadcrumb--active">@ViewBag.Action</a>
    </div>
    <!-- END: Breadcrumb -->
    <!-- BEGIN: Notifications -->
    <div class="intro-x dropdown mr-auto sm:mr-6">
        <div class="dropdown-toggle notification cursor-pointer" role="button" aria-expanded="false" > <i data-feather="box" class="locked dark:text-gray-300" data-title="Default Languages"></i> </div>
        <div class="notification-content pt-2 dropdown-menu">
            <div class="notification-content__box dropdown-menu__content box dark:bg-dark-6">
                <div class="notification-content__title">Default Language</div>
                <form asp-controller="Admin" asp-action="Languange" method="post">
                    <input type="hidden" asp-for="@Model.Id" value="@_workContext.CurrentUser.Id" />
                    <input type="hidden" asp-for="@Model.LandingPageModel.Language.ReturnUrl" value="refresh" />
                    <select asp-for="@Model.LandingPageModel.Language.Id" asp-items="@Model.LandingPageModel.Language.AvailableLanguages" class="form-control" onchange="this.form.submit();">
                        @*<option> Select Language</option>
                        <option value="3" id="english" onchange="this.form.submit()">English</option>
                        <option value="5" id="spanish" onchange="this.form.submit()">Spanish</option>*@
                    </select>
                </form>
            </div>
        </div>
    </div>
    <!-- END: Notifications -->
    <!-- BEGIN: Account Menu -->

    <div class="intro-x dropdown w-8 h-8">
        <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg " role="button" aria-expanded="false">
            <i class="fa fa-user fa-2x"></i>
        </div>
        <div class="dropdown-menu w-56">
            <div class="dropdown-menu__content box dark:bg-dark-6">
                <div class="p-4 border-b border-black border-opacity-5 dark:border-dark-3">
                    <div class="font-medium">@_workContext.CurrentUser.Email</div>
                    <div class="text-xs text-gray-600 mt-0.5 dark:text-gray-600">@_workContext.CurrentUser.UserRole.Name</div>
                </div>
                <div class="p-2">
                    <a asp-controller="User" asp-action="UserProfile" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md"> <i data-feather="user" class="w-4 h-4 mr-2"></i> Profile </a>
                    
                    <a asp-controller="Home" asp-action="Help" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md"> <i data-feather="help-circle" class="w-4 h-4 mr-2"></i> Help </a>
                </div>
                <div class="p-2 border-t border-black border-opacity-5 dark:border-dark-3">
                    <a asp-controller="User" asp-action="Logout" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md"> <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Account Menu -->
</div>
<!-- END: Top Bar -->

<link href="~/lib/font-awesome/css/solid.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />