@model List<DeVeeraApp.ViewModels.User.UserModel>
@{
    ViewData["Title"] = "List";
}
<div class="intro-y  py-10 sm:py-20 ">

    @if (ViewBag.roleName == "Admin")
    {

        <div class="px-5 ">
            <div class="font-medium text-center text-lg"> Admin List</div>
            <div class="text-gray-600 text-center mt-2">Below are the list of admin users.</div>

        </div>
        <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div class="intro-y box p-5 col-span-12">
                    <div class="intro-y ">

                        <div class="p-5" id="basic-table">
                            <div class="preview">
                                <div class="overflow-x-auto">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Id</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">User Name</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="border-b dark:border-dark-5">@i</td>
                                                        <td class="border-b dark:border-dark-5">@item.Email</td>
                                                        <td class="border-b dark:border-dark-5 text-theme-10"><a asp-controller="Admin" asp-action="Edit" asp-route-Id="@item.Id"><i data-feather="edit"></i></a></td>
                                                        <td class="border-b dark:border-dark-5 text-theme-24"><a onclick="ShowDeleteConfirmation('PostDeleteAdminUser(@item.Id)')"><i data-feather="trash-2"></i></a></td>
                                                    </tr>
                                                    i++;
                                                }
                                                }
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="source-code hidden">
                                <button data-target="#copy-basic-table" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    }
    else
    {
        <div class="px-5 ">
            <div class="font-medium text-center text-lg"> Registered User List</div>
            <div class="text-gray-600 text-center mt-2">Below are the list of registered users.</div>

        </div>
        <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div class="intro-y box p-5 col-span-12">
                    <div class="intro-y ">

                        <div class="p-5" id="basic-table">
                            <div class="preview">
                                <div class="overflow-x-auto">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Id</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">UserName</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Gender</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Age</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Occupation</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                                foreach (var item in Model)
                                                {
                                                    <tr>

                                                        <td class="border-b dark:border-dark-5">@i</td>
                                                        <td class="border-b dark:border-dark-5">@item.Email</td>
                                                        <td class="border-b dark:border-dark-5">@item.GenderType</td>
                                                        <td class="border-b dark:border-dark-5">@item.Age</td>
                                                        <td class="border-b dark:border-dark-5">@item.Occupation</td>
                                                        <td class="border-b dark:border-dark-5 text-theme-10"><a asp-controller="User" asp-action="UserProfile" asp-route-userId="@item.Id"><i data-feather="edit"></i></a></td>
                                                        <td class="border-b dark:border-dark-5 text-theme-24"><a onclick="ShowDeleteConfirmation('PostDeleteRegisteredUser(@item.Id)')"><i data-feather="trash-2"></i></a></td>

                                                    </tr>
                                                    i++;
                                                }
                                                }
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="source-code hidden">
                                <button data-target="#copy-basic-table" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    }
</div>


<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/dist/js/CustomJs/Delete.js"></script>


