@model DeVeeraApp.ViewModels.ModulesModel
@{
    ViewData["Title"] = "Index";
}


<div class="intro-y col-span-12 flex">
    <div class="intro-y col-span-6 mr-auto">
        <div class=" mt-10 lg:mt-0">
            <div class="intro-x mt-10 text-4xl font-medium">Level @ViewBag.LevelSrNo : Module @ViewBag.SrNo</div>

        </div>
    </div>
    <div class="intro-y col-span-6 flex items-center">
        <div class="alert alert-warning show mb-2 mt-10" role="alert">
            <div class="flex items-center">
                <div class="font-medium text-lg mr-4">Latest Diary</div>
                <div class="text-xs bg-white px-1 rounded-md text-gray-800 ml-auto">@Model.DiaryLatestUpdateDate</div>
            </div>
            <div class="mt-3">@Model.DiaryText</div>
        </div>

    </div>
</div>



<div class="intro-y news p-5 box mt-8">

    <div class="intro-y chat grid grid-cols-12 gap-5 mt-5">
        <div class="intro-y col-span-12 lg:col-span-6 xxl:col-span-6">
            <h2 class="intro-y font-medium text-xl sm:text-2xl">
            </h2>

        </div>
        <div class="col-span-12 lg:col-span-6 xxl:col-span-6 ml-auto">

            @if (_workContext?.CurrentUser.UserRole.Name == "Admin")
            {
                <a asp-controller="Level" asp-action="Edit" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" class="btn-primary intro-x btn py-3 px-4 border-white dark:border-dark-5"> Edit </a>
                <a onclick="ShowDeleteConfirmation('PostDeleteLevel(@Model.Id)')" class="btn-danger intro-x btn py-3 px-4 border-white dark:border-dark-5"> Delete </a>

            }   <a asp-controller="Diary" asp-action="Create" asp-route-levelid="@Model.Id" asp-route-srno="@ViewBag.SrNo" class="btn-warning intro-x btn py-3 px-4 border-white dark:border-dark-5"> Diary </a>

            @if (Convert.ToInt32(ViewBag.SrNo) != 1)
            {


                <a asp-controller="Module" asp-action="Previous" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" class="btn-primary intro-x btn py-3 px-4 border-white dark:border-dark-5">Previous</a>

            }
            @if (ViewBag.TotalModules > ViewBag.SrNo)
            {


                <a asp-controller="Module" asp-action="Next" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo" class="btn-primary intro-x btn py-3 px-4 border-white dark:border-dark-5">Next</a>
            }
            else
            {
                <a asp-controller="Lesson" asp-action="Next" asp-route-id="@Model.LevelId" asp-route-srno="@ViewBag.LevelSrNo" class="btn-primary intro-x btn py-3 px-4 border-white dark:border-dark-5">Next Level</a>

            }

        </div>

    </div>

    <!-- BEGIN: Blog Layout -->
    <div class="intro-y mt-6">
        <div class="news__preview image-fit">
            @{string src = Model.VideoURL;}
            <video src="@Url.Content(src)" controls style="width:100%; height:100%" loop />
        </div>
    </div>

    <div class="intro-y text-justify leading-relaxed mt-10">
        @Html.Raw(Model.FullDescription)
    </div>

    <div class="intro-x mt-10 text-2xl font-medium">Questions & Answers</div>
    <div class="mt-5">
        <label for="input-wizard-1" class="form-label">Validated questionnaire to assess effectiveness of an online research mentoring (distance learning)?</label>
        <textarea type="text" rows="2" class="form-control" placeholder="Answer"></textarea>

    </div>
    <div class="mt-5">
        <label for="input-wizard-1" class="form-label">Are you with distance learning and education in universities due to the Corona virus pandemic? What are the pros and cons of this topic ? </label>
        <textarea type="text" rows="2" class="form-control" placeholder="Answer"></textarea>

    </div>
</div>
