@model DeVeeraApp.ViewModels.ModulesModel
@inject CRM.Core.IWorkContext _workContext
@inject CRM.Services.ILevelServices _levelService
@inject CRM.Services.IVideoMasterService videoMasterService
@inject CRM.Services.IS3BucketService s3BucketService
@inject CRM.Services.Settings.ISettingService settingService
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var levelNo = _levelService.GetLevelById(Model.LevelId).LevelNo;
}
@{var video = videoMasterService.GetVideoById((int)Model.VideoId)?.Key;}
@{ var videourl = (s3BucketService.GetPreSignedURL(video) != null) ? s3BucketService.GetPreSignedURL(video) : ""; }
@{var Spanishvideo = videoMasterService.GetVideoById((int)Model.VideoId)?.SpanishKey;}
@{ var Spanishvideourl = (s3BucketService.GetPreSignedURL(video) != null) ? s3BucketService.GetPreSignedURL(Spanishvideo) : ""; }
@{var userLanguage = settingService.GetAllSetting().Where(s => s.UserId == _workContext.CurrentUser.Id).FirstOrDefault(); }
<style>
    .colbutn {
        background-color: lightgray;
        padding: 6px 24px 3px 4px;
    }

    .disbutn {
        background-color: #F0B9B2;
        padding: 6px 24px 3px 4px;
    }
</style>
<!-- Start Page Banner Area -->
<div class="page-banner-with-full-image" style="background-image:url('@(Model.BannerImageUrl != null ? Model.BannerImageUrl : "../../assets/images/page-banner/page-banner-bg-1.jpg")')">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>@T(Model.Title)</h2>
            <ul>
                <li>
                    <a asp-controller="Dashboard" asp-action="Index">@T("Home")</a>
                </li>
                <li>@T(Model.Title)</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Courses Details Area -->
<section class="courses-details-area ptb-100">
    <div class="container">
        <div class="courses-details-image">
            <img src=@(Model.VideoThumbImageUrl != null ? Model.VideoThumbImageUrl : "../../assets/images/courses/courses-details.jpg") alt="image">
            @{
                var src = Model.Video?.VideoUrl == null ? "/dist/images/profile-14.jpg" : Model.Video.VideoUrl;
                @if (userLanguage != null)
                {
                    @if (userLanguage.LanguageId == 5 && Spanishvideourl != "")
                    {
                        <a href="@Spanishvideourl" class="video-btn popup-youtube">
                            <i class="flaticon-play"></i>
                        </a>
                    }
                    else
                    {
                        <a href="@videourl" class="video-btn popup-youtube">
                            <i class="flaticon-play"></i>
                        </a>
                    }
                }
                else
                {
                    <a href="@videourl" class="video-btn popup-youtube">
                        <i class="flaticon-play"></i>
                    </a>
                }
            }
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="courses-details-desc">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview">@T("Overview")</a></li>
                        @*<li class="nav-item"><a class="nav-link" id="curriculum-tab" data-bs-toggle="tab" href="#curriculum" role="tab" aria-controls="curriculum">Curriculum</a></li>
                            <li class="nav-item"><a class="nav-link" id="instructor-tab" data-bs-toggle="tab" href="#instructor" role="tab" aria-controls="instructor">Instructor</a></li>
                            <li class="nav-item"><a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews">Reviews</a></li>*@
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel">
                            <div class="courses-overview">
                                @Html.Raw(Model.FullDescription)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="courses-details-info">
                    <div class="image">
                        <img src=@(Model.ShareBackgroundImageUrl != null ? Model.ShareBackgroundImageUrl : "../../assets/images/courses/courses-1.jpg") alt="image">

                        @*<a class="video-btn popup-youtube">
                                <i class="flaticon-play-button"></i>
                            </a>*@
                    </div>

                    @*<ul class="info">
                            <li class="price">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Price</span>
                                    $49
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Instructor</span>
                                    Sarah Taylor
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Duration</span>
                                    7 weeks
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Lessons</span>
                                    25
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Enrolled</span>
                                    255 Students
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Access</span>
                                    Lifetime
                                </div>
                            </li>
                        </ul>*@



                    @*<div class="courses-share">
                            <div class="share-info">
                                <span>@T("Share This Course")</span>

                                <ul class="social-link">
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                </ul>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="mt-4">

            @if (Model.IsLike == true && Model.IsDisLike == false)
            {
                <a class="default-btn disbutn " onclick="ModuleLikeButton(@Model.Id, true,'doubleLike');" title="like"><img src="~/assets/images/Icon material-thumb-up.png" style="margin-left: 10px;margin-bottom: 7px;" width="20" height="20" /></a>
            }
            else
            {
                <a class="default-btn colbutn" onclick="ModuleLikeButton(@Model.Id,true);" title="like"><img src="~/assets/images/Icon material-thumb-up.png" style="margin-left: 10px;margin-bottom: 7px;" width="20" height="20" /></a>
            }
            @if (Model.IsLike == false && Model.IsDisLike == true)
            {
                <a class="default-btn disbutn" onclick="ModuleLikeButton(@Model.Id, false,'doubleDislike');" title="dislike"> <img src="~/assets/images/Icon material-thumb-down.png" style="margin-left: 12px;margin-bottom: 4px;" width="23" height="23" /></a>
            }
            else
            {
                <a class="default-btn colbutn" onclick="ModuleLikeButton(@Model.Id, false);" title="dislike"><img src="~/assets/images/Icon material-thumb-down.png" style="margin-left: 12px;margin-bottom: 4px;" width="23" height="23" /></a>
            }


            @if (Model?.LikeCommentslModulelist != null)
            {
                foreach (var comments in Model.LikeCommentslModulelist.OrderByDescending(a => a.CreatedDate))
                {
                    <div class="comment-list mt-5 ">
                        <div class="comment">
                            <div class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard"></div>
                                    @if (comments.CreatedDate.ToString() == "1/1/0001 12:00:00 AM")
                                    {
                                        <div class="comment-metadata">
                                            @*<a href="#">@data.CreatedDate</a>*@
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="comment-metadata">
                                            <a href="#">@comments.CreatedDate</a>
                                        </div>
                                    }
                                </footer>

                                <div class="comment-content " style="margin-top:3px;">
                                    <p>@comments.Comments</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="comment-respond mt-4">
                <h3 class="comment-reply-title " style="font-weight:200;font-size:18px;">@T("Leave A Comment")</h3>

                <form class="comment-form">
                    <div class="row">

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="comments" placeholder="@T("Your Comment")"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="default-btn " style="margin-top:7px;" onclick="ModuleComments(@Model.Id);">@T("Submit") <i class="flaticon-right-arrow"></i></button>
                </form>
            </div>



            @*<div class="col-3 mt-5">
                    <label for="input-wizard-1" class="form-check-label ">Add a Comments here..</label>
                    <textarea rows="4" class="form-check" id="comments" placeholder="Add Comments here......"> </textarea>
                </div>


                <a class="default-btn" onclick="ModuleComments(@Model.Id);">@T("Submit") <i class="flaticon-anxiety-1"></i></a>*@
        </div>

        <div class="psylo-post-navigation">


            @if (Convert.ToInt32(ViewBag.SrNo) != 1)
            {
                var prevImageUrl = Model.PrevImageUrl == null ? "../../assets/images/blog/blog-1.jpg" : Model.PrevImageUrl;
                <div class="prev-link-wrapper">
                    <div class="info-prev-link-wrapper">
                        <a asp-controller="Module" asp-action="Previous" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo">
                            <span class="image-prev">
                                <img src="@prevImageUrl" alt="image">
                                <span class="post-nav-title">@T("Prev")</span>
                            </span>

                            <span class="prev-link-info-wrapper">
                                <span class="prev-title">
                                    @*@T("How Does A Psychologist Help To Maintain A Good Mental Health")*@
                                    @T(Model.PrevTitle)
                                </span>
                            </span>
                        </a>
                        <a asp-controller="Module" asp-action="Previous" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo" class="default-btn">@T("Previous Module") <i class="flaticon-left-arrow"></i></a>
                    </div>
                </div>


            }
            @{
                if (Convert.ToInt32(TempData["Previousmodule"]) == 1)
                {
                    TempData["totalmodulefirstidcount"] = 0;
                }
                else
                {
                    TempData["totalmodulefirstidcount"] = 1;
                }
            }
            @if (ViewBag.TotalModules > ViewBag.SrNo)

            {

                var nextImageUrl = Model.NextImageUrl == null ? "../../assets/images/blog/blog-2.jpg" : Model.NextImageUrl;

                <div class="next-link-wrapper">
                    <div class="info-next-link-wrapper">
                        <a asp-controller="Module" asp-action="Next" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo">
                            <span class="next-link-info-wrapper">
                                <span class="next-title">
                                    @*@T("How Does Consulting A Psychologist Help To Solve Your Problem?")*@
                                    @T(Model.NextTitle)
                                </span>
                            </span>

                            <span class="image-next">
                                <img src="@nextImageUrl" alt="image">
                                <span class="post-nav-title">@T("Next")</span>
                            </span>
                        </a>
                        <a asp-controller="Module" asp-action="Next" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo" class="default-btn">@T("Next Module") <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

            }
            else if (Model.NextLeveltitle == null)
            {
            }
            else
            {
                var nextImageUrl = Model.NextLevelUrl == null ? "../../assets/images/blog/blog-2.jpg" : Model.NextLevelUrl;
                <div class="next-link-wrapper">
                    <div class="info-next-link-wrapper">

                        <a asp-controller="Lesson" asp-action="Next" asp-route-levelno="@levelNo">
                            <span class="next-link-info-wrapper">
                                <span class="next-title">
                                    @*@T("How Does Consulting A Psychologist Help To Solve Your Problem?")*@
                                    @T(Model.NextLeveltitle)
                                </span>
                            </span>

                            <span class="image-next">
                                <img src="@nextImageUrl" alt="image">
                                <span class="post-nav-title">@T("Next")</span>
                            </span>
                        </a>
                        <a asp-controller="Lesson" asp-action="Next" asp-route-levelno="@levelNo" class="default-btn">@T("Next Level") <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

            }


        </div>

    </div>
</section>
<!-- End Courses Details Area -->
<script>

    function ModuleLikeButton(InputId, status, getvalue) {
        debugger
        var Id = InputId;
        var islike = status;
        var value = getvalue;
        var url = '/Module/ModuleLike';
        $.ajax({
            url: url,
            type: "POST",
            data: { Id, islike, value },

            success: function (data, status) {
                location.reload();
            },

        });

    }
</script>
<script>

    function ModuleComments(id) {
        debugger
        var id = id;
        var comments = document.getElementById('comments').value;

if(comments==null || comments==""){
alert("Please add comment !!!.");

}
        var url = '/Module/ModuleComments';
        $.ajax({
            url: url,
            type: "POST",
            data: { id, comments },

            success: function (data, status) {
                location.reload();
            },

        });

    }
</script>
