@model DeVeeraApp.ViewModels.ModulesModel
@inject CRM.Core.IWorkContext _workContext
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Start Page Banner Area -->
<div class="page-banner-with-full-image">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>@Model.Title</h2>
            <ul>
                <li>
                    <a asp-controller="Dashboard" asp-action="Index">Home</a>
                </li>
                <li>@Model.Title</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Courses Details Area -->
<section class="courses-details-area ptb-100">
    <div class="container">
        <div class="courses-details-image">
            <img src="~/UserAssets/images/courses/courses-details.jpg" alt="image">
            @{
                var src = Model.Video?.VideoUrl == null ? "/dist/images/profile-14.jpg" : Model.Video.VideoUrl;

                @*<video src="@Url.Content(src)" controls style="width:100%;" loop />*@

                <a href="@src" class="video-btn popup-youtube">
                    <i class="flaticon-play"></i>
                </a>
            }

        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="courses-details-desc">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview">Overview</a></li>
                        @*<li class="nav-item"><a class="nav-link" id="curriculum-tab" data-bs-toggle="tab" href="#curriculum" role="tab" aria-controls="curriculum">Curriculum</a></li>
                            <li class="nav-item"><a class="nav-link" id="instructor-tab" data-bs-toggle="tab" href="#instructor" role="tab" aria-controls="instructor">Instructor</a></li>
                            <li class="nav-item"><a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews">Reviews</a></li>*@
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel">
                            <div class="courses-overview">
                                @Html.Raw(Model.FullDescription)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="courses-details-info">
                    <div class="image">
                        <img src="~/UserAssets/images/courses/courses-1.jpg" alt="image">

                        <a class="video-btn popup-youtube">
                            <i class="flaticon-play-button"></i>
                        </a>
                    </div>

                    @*<ul class="info">
                            <li class="price">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Price</span>
                                    $49
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Instructor</span>
                                    Sarah Taylor
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Duration</span>
                                    7 weeks
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Lessons</span>
                                    25
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Enrolled</span>
                                    255 Students
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Access</span>
                                    Lifetime
                                </div>
                            </li>
                        </ul>*@



                    <div class="courses-share">
                        <div class="share-info">
                            <span>Share This Course</span>

                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="psylo-post-navigation">


            @if (Convert.ToInt32(ViewBag.SrNo) != 1)
            {
                <div class="prev-link-wrapper">
                    <div class="info-prev-link-wrapper">
                        <a asp-controller="Module" asp-action="Previous" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo">
                            <span class="image-prev">
                                <img src="~/UserAssets/images/blog/blog-1.jpg" alt="image">
                                <span class="post-nav-title">Prev</span>
                            </span>

                            <span class="prev-link-info-wrapper">
                                <span class="prev-title">
                                    How Does A Psychologist Help To Maintain A Good Mental Health
                                </span>
                            </span>
                        </a>
                        <a asp-controller="Module" asp-action="Previous" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo" class="default-btn">Previous <i class="flaticon-left-arrow"></i></a>
                    </div>
                </div>


            }
            @if (ViewBag.TotalModules > ViewBag.SrNo)
            {
                <div class="next-link-wrapper">
                    <div class="info-next-link-wrapper">
                        <a asp-controller="Module" asp-action="Next" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo">
                            <span class="next-link-info-wrapper">
                                <span class="next-title">
                                    How Does Consulting A Psychologist Help To Solve Your Problem?
                                </span>
                            </span>

                            <span class="image-next">
                                <img src="~/UserAssets/images/blog/blog-2.jpg" alt="image">
                                <span class="post-nav-title">Next</span>
                            </span>
                        </a>
                        <a asp-controller="Module" asp-action="Next" asp-route-id="@Model.Id" asp-route-srno="@ViewBag.SrNo" asp-route-levelSrno="@ViewBag.LevelSrNo" class="default-btn">Next <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

            }
            else
            {
                <div class="next-link-wrapper">
                    <div class="info-next-link-wrapper">
                        <a asp-controller="Lesson" asp-action="Next" asp-route-id="@Model.LevelId" asp-route-srno="@ViewBag.LevelSrNo" asp-route-levelSrno="@ViewBag.LevelSrNo">
                            <span class="next-link-info-wrapper">
                                <span class="next-title">
                                    How Does Consulting A Psychologist Help To Solve Your Problem?
                                </span>
                            </span>

                            <span class="image-next">
                                <img src="~/UserAssets/images/blog/blog-2.jpg" alt="image">
                                <span class="post-nav-title">Next</span>
                            </span>
                        </a>
                        <a asp-controller="Lesson" asp-action="Next" asp-route-id="@Model.LevelId" asp-route-srno="@ViewBag.LevelSrNo" asp-route-levelSrno="@ViewBag.LevelSrNo" class="default-btn">Next <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

            }

           
        </div>

    </div>
</section>
<!-- End Courses Details Area -->


