@model DeVeeraApp.ViewModels.Diaries.DiaryListModel
@using DeVeeraApp.Areas.Admin.ViewComponents
@using DeVeeraApp.ViewModels.Enum
@inject CRM.Services.Users.IUserService _userService 
@{
    ViewData["Title"] = "Create";
}

<div class="grid grid-cols-12 p-10">
    <div class="col-span-12 lg:col-span-12 xl:col-span-12 md:col-span-12 intro-y box p-5 mt-10">
        <form asp-controller="Diary" asp-action="Create" method="Post" class="search-form">
            <div class="grid grid-cols-12 ">
                <div class="col-span-4">
                    <div class="intro-y flex items-center h-10">
                        <h2 class="text-lg font-medium truncate ml-4">
                            Recent Diaries
                        </h2>
                    </div>
                </div>
                <div class="col-span-4 text-right">
                    <div class="lg:flex intro-y">
                        <div class="relative text-gray-700 dark:text-gray-300">
                            <input id="date" asp-for="SearchByDate" type="text" class="form-control py-3 px-4 w-full lg:w-64 box pr-10 placeholder-theme-13" onchange="this.form.submit()" placeholder="Search">
                            <a class=""><i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-span-4 text-right">
                    <label>Sort By :</label>
                    <select class="form-control w-48" asp-for="SortTypeId" asp-items="Html.GetEnumSelectList<SortType>()" onchange="this.form.submit()"></select>
                </div>
            </div>
        </form>
            <div class="intro-y col-span-12">
                <!-- BEGIN: Recent Activities -->
                <div class="col-span-12 md:col-span-6 xl:col-span-4 xxl:col-span-12 mt-3">

                    @foreach (var item in Model.DiaryList.Results)
                    {
                        <div class="intro-x relative flex items-center mb-3">

                            <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                                <div class="flex items-center">
                                    <div class="font-medium line-clamp1">@Html.Raw(item.Title)</div>
                                </div>
                                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-1">
                                    <div class="intro-y  col-span-6">
                                        <div class="text-xs text-gray-500 ">Created On : @item.CreatedOn.ToShortDateString() @item.CreatedOn.ToShortTimeString()</div>
                                        <div class="text-xs text-gray-500 mt-1">Updated On : @item.LastUpdatedOn.ToShortDateString() @item.LastUpdatedOn.ToShortTimeString()</div>
                                    </div>
                                </div>
                                <div class="flex items-center mt-1">
                                    <div class="font-medium text-theme-24 line-clamp2 mt-1">~ @(_userService.GetUserById(item.UserId).Email)</div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!-- END: Recent Activities -->
            </div>
            <div class="mt-4">
                <form asp-controller="Diary" asp-action="Create" method="get">
                    @(await Component.InvokeAsync<PaginationViewComponent>(Model.DiaryList))
                </form>

            </div>
        </div>
        </div>


<script src="~/dist/js/Diary.js"></script>


