@model DeVeeraApp.ViewModels.Diaries.DiaryListModel
@using DeVeeraApp.Areas.Admin.ViewComponents
@using DeVeeraApp.ViewModels.Enum
@inject CRM.Services.Users.IUserService _userService 
@{
    ViewData["Title"] = "Create";
}

<div class="grid grid-cols-12 p-10">
    <div class="col-span-12 lg:col-span-12 xl:col-span-12 md:col-span-12 intro-y box p-5 mt-10">
        <form asp-controller="Diary" asp-action="Create" method="Post" class="search-form">
            <div class="grid grid-cols-12 ">
                <div class="col-span-4">
                    <div class="intro-y flex items-center h-10">
                        <h2 class="text-lg font-medium truncate ml-4">
                            Recent Diaries
                        </h2>
                    </div>
                </div>
                <div class="col-span-4 text-right">
                    <div class="lg:flex intro-y">
                        <div class="relative text-gray-700 dark:text-gray-300">
                            <input id="date" asp-for="SearchByDate" type="text" class="form-control py-3 px-4 w-full lg:w-64 box pr-10 placeholder-theme-13" onchange="this.form.submit()" placeholder="Search">
                            <a class=""><i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-span-4 text-right">
                    <label>Sort By :</label>
                    <select class="form-control w-48" asp-for="SortTypeId" asp-items="Html.GetEnumSelectList<SortType>()" onchange="this.form.submit()"></select>
                </div>
            </div>
        </form>
            <div class="intro-y col-span-12">
                <!-- BEGIN: Recent Activities -->
                <div class="col-span-12 md:col-span-6 xl:col-span-4 xxl:col-span-12 mt-3">
                    @{var i = 0; var Id = 0;
                        @foreach (var item in Model.DiaryList.Results)
                        {

                        <div class="intro-x relative flex items-center mb-3">

                            <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                                <div class="flex items-center">
                                
                                    <div class="font-medium line-clamp1"> <a class="form-label text-theme-12 pl-1" data-toggle="modal" data-target="#DiaryDetail"  id="clickdiary" onclick="test(@item.Id);" >@Html.Raw(item.Title)</a></div>
                                </div>
                                <input id="diarytitle_@item.Id" hidden value="@item.Title"/>   <input id="diarycomment_@item.Id" hidden value="@item.Comment"/>
                                <input id="diarycreatedDate_@item.Id" hidden value="@item.CreatedOn"/>
                                 <input id="diaryupdatedate_@item.Id" hidden value="@item.LastUpdatedOn"/>
                                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-1">
                                    <div class="intro-y  col-span-6">
                                        <div class="text-xs text-gray-500 ">Created On : @item.CreatedOn.ToShortDateString() @item.CreatedOn.ToShortTimeString()</div>
                                        <div class="text-xs text-gray-500 mt-1">Updated On : @item.LastUpdatedOn.ToShortDateString() @item.LastUpdatedOn.ToShortTimeString()</div>
                                    </div>
                                </div>
                                <div class="flex items-center mt-1">
                                    <div class="font-medium text-theme-24 line-clamp2 mt-1">~ @(_userService.GetUserById(item.UserId).Email)</div>
                                </div>
                            </div>

                        </div>

                            i++;
             
              

                        }
           <div class="modal fade"id="DiaryDetail" tabindex="-1" role="dialog" aria-labelledby="DiaryDetail" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content">
                             <div class="modal-header"> <h5 class="modal-title" 
                            id="exampleModalLabel">
                            Diary Details
                        </h5></div> <button type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            aria-label="Close">
                            <span aria-hidden="true">
                              x
                            </span>
                        </button>

                            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                <div class="col-span-12 sm:col-span-12">
                             <p id="modal_body"></p>
                                   @*@Model.DiaryList.Results.Where(a=>a.Id==Id).FirstOrDefault().Title<br />
                                   @Model.DiaryList.Results.Where(a=>a.Id==Id).FirstOrDefault().Comment<br />
                                      @Model.DiaryList.Results.Where(a=>a.Id==Id).FirstOrDefault().CreatedOn.ToShortDateString()<br>
                                  @Model.DiaryList.Results.Where(a=>a.Id==Id).FirstOrDefault().LastUpdatedOn.ToShortTimeString()*@
                                  
                                </div>
                            </div>
                        </div>
                     </div>
                   </div>
     
                   }
                </div>
                 

                <!-- END: Recent Activities -->
            </div>
            <div class="mt-4">
                <form asp-controller="Diary" asp-action="Create" method="get">
                    @(await Component.InvokeAsync<PaginationViewComponent>(Model.DiaryList))
                </form>

            </div>
        </div>
        </div>


<script src="~/dist/js/Diary.js"></script>
<script type="text/javascript">
        $("#clickdiary").click(function () {alert("text");
            var title = $("#diarytitle").val();
            var diarycomment = $("#diarycomment").val();
  var createDate = $("#diarycreatedDate").val();
            var updateDate = $("#diaryupdatedate").val();

            var str =  title  + diarycomment+createDate+updateDate;
               
            $("#modal_body").html(str);
        });
    </script>
<script>
function test(Id){
var title=(document.getElementById('diarytitle_'+Id).value);

var comment=(document.getElementById('diarycomment_'+Id).value);

var createDate=(document.getElementById('diarycreatedDate_'+Id).value);
var updateDate=(document.getElementById('diaryupdatedate_'+Id).value);



            var str =  "Title  :"+title+"<br/>"+"Comment  :"+comment+"<br/>"+"Create Date  :"+createDate+"<br/>"+"Update Date  :"+updateDate  ;
               
         $("#modal_body").html(str);

}
</script>

