
@model DeVeeraApp.ViewModels.Diaries.DiaryModel
@{
    ViewData["Title"] = "Edit";
}

<form asp-controller="Diary" asp-action="Edit" method="post" id="diaryForm">
    <div class="intro-y  py-10 sm:py-20 ">

        <div class="px-5 ">
            <div class="font-medium text-center text-lg">Diary</div>

        </div>


        <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div class="intro-y box p-5 col-span-12">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div asp-validation-summary="All" class="text-theme-6 mt-4">
                        </div>
                    }
                    <input asp-for="LevelId" hidden />
                    <input asp-for="ModuleId" hidden />


                    <div class="mt-5">
                        <label for="input-wizard-1" class="form-label text-theme-21 ">Title</label>
                    </div>
                    <div class="" id="standard-editor">
                        <div class="preview">
                            <input type="text" asp-for="Title" class="form-control" placeholder="title" />

                        </div>
                    </div>
                    <div class="mt-5">
                        <label for="input-wizard-1" class="form-label text-theme-21 ">Add New Diary Entry</label>
                    </div>
                    <div class="" id="standard-editor">
                        <div class="preview">
                            <textarea id="editor2" asp-for="Comment" class="editor2"> </textarea>

                        </div>
                    </div>
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                            <div class="intro-y justify-end">

                                <button type="submit" class="btn btn-primary w-24" onclick="LoadLoader()">Save</button>
                            </div>
                        </div>
                    </div>

                </div>
                @if (Model.diaryModels.Count() != 0)
                {
                    <div class="intro-y box p-5 col-span-12">
                        <!-- BEGIN: Recent Activities -->
                        <div class="col-span-12 md:col-span-6 xl:col-span-4 xxl:col-span-12 mt-3">

                            <div class="report-timeline mt-5 relative">
                                @foreach (var item in Model.diaryModels)
                                {
                                    <div class="intro-x relative flex items-center mb-3">
                                        <div class="report-timeline__image">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="Icewall Tailwind HTML Admin Template" src="~/dist/images/profile-12.jpg">
                                            </div>
                                        </div>
                                        <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                                            <div class="flex items-center">
                                                <div class="font-medium">@T(item.Title)</div>
                                            </div>
                                            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-1">
                                                <div class="intro-y   col-span-6">
                                                    <div class="text-xs text-gray-500 ">@item.CreatedOn.ToShortDateString() @item.CreatedOn.ToShortTimeString()</div>
                                                </div>
                                                @if (item.LastUpdatedOn.ToShortDateString() != "01/01/0001")
                                                {
                                                    <div class="intro-y  col-span-6 ml-auto">
                                                        <div class="text-xs text-gray-500 ">Last Updated On:- @item.LastUpdatedOn.ToShortDateString() @item.LastUpdatedOn.ToShortTimeString()</div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="flex items-center">
                                                <div class="text-gray-600 line-clamp-1 mt-1">@Html.Raw(@item.Comment)</div>

                                            </div>
                                            <div class="flex -ml-2 lg:ml-0 lg:justify-end mt-3 lg:mt-0">
                                                <a href="javascript:;" data-toggle="modal" data-target="#diary-modal-preview_@item.Id" class="w-8 h-8 rounded-full flex items-center justify-center border dark:border-dark-5 ml-2 text-gray-500 zoom-in tooltip" title="View"> <i class="w-4 h-4 text-theme-21" data-feather="eye"></i> </a>
                                                <a asp-controller="Diary" asp-action="Edit" asp-route-Id="@item.Id" class="w-8 h-8 rounded-full flex items-center justify-center border dark:border-dark-5 ml-2 text-gray-500 zoom-in tooltip" title="Edit"> <i class="w-4 h-4 text-theme-21" data-feather="edit-2"></i> </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- BEGIN: Modal Content -->
                                    <div id="diary-modal-preview_@item.Id" class="modal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body grid grid-cols-12">
                                                    <div class="col-span-12">
                                                        <div class="px-5 py-3 ml-4 flex-1">
                                                            <div class="flex items-center">
                                                                <div class="font-medium">@item.Title</div>
                                                            </div>
                                                            <div class="flex items-center">
                                                                <div class="text-xs text-gray-500 ">@item.CreatedOn.ToShortDateString() @item.CreatedOn.ToShortTimeString()</div>
                                                            </div>
                                                            <div class="flex items-center mt-2">
                                                                <div class="text-gray-600 mt-1">@Html.Raw(@item.Comment)</div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div> 
                                    <!-- END: Modal Content -->
                                }
                            </div>

                        </div>
                        <!-- END: Recent Activities -->
                    </div>
                }


            </div>

        </div>

    </div>




</form>


