@model DeVeeraApp.ViewModels.Images.ImageListModel
@using DeVeeraApp.Areas.Admin.ViewComponents

@{
    ViewData["Title"] = "List";
}

@if (Model.ImageList.Results.Count != 0)
{
    <div class="intro-y  py-5 sm:py-5">

        <div class="px-5 ">
            <div class="font-medium text-center text-lg"> Image List</div>
            <div class="text-gray-600 text-center mt-2">Below are the list of Images.</div>

        </div>
        <div class="px-5 sm:px-20  border-t border-gray-200 dark:border-dark-5">
            <div class="intro-y col-span-12 mt-6">
                <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end ">
                    <div class="grid grid-cols-12 gap-4 gap-y-5 ">
                        <div class="intro-y col-span-12 pr-5 text-right">
                            <a asp-controller="Image" asp-action="Create" class="btn btn-primary w-40"><i data-feather="file-plus" class="mr-2"></i>Add Image</a>

                        </div>


                    </div>
                </div>
            </div>

            <div class="mt-6">

                <div class="intro-y grid grid-cols-12 gap-3 sm:gap-6 mt-5">
                    @foreach (var item in Model.ImageList.Results)
                    {

                        <div class="intro-y col-span-6 sm:col-span-4 md:col-span-3 xxl:col-span-2">
                            <div class="file box rounded-md px-5 pt-8 pb-5 px-3 sm:px-5 relative zoom-in">
                                <div>
                                    <img class="w-64 h-40" src="@(item.ImageUrl = string.IsNullOrWhiteSpace(item.ImageUrl)? "/Images/No_Image_Available.jpg" : item.ImageUrl )" data-action="zoom" />
                                </div>
                                <a href="" class="block font-medium mt-4 text-center truncate">@item.Name</a>
                                <div class="text-gray-600 text-xs text-center mt-0.5">@item.Key</div>
                                <div class="absolute top-0 right-0 mr-2 mt-2 dropdown ml-auto">
                                    <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false"> <i data-feather="more-vertical" class="w-5 h-5 text-gray-600"></i> </a>
                                    <div class="dropdown-menu w-40">
                                        <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                                            <a asp-controller="Image" asp-action="Edit" asp-route-Id="@item.Id" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"><i data-feather="edit" class="w-4 h-4 mr-2"></i>Edit</a>
                                            <a onclick="ShowDeleteConfirmation('PostDeleteImage(@item.Id)')" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete </a>
                                            <a asp-controller="Image" asp-action="ImagePreview" asp-route-Id="@item.Id" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"><i data-feather="image" class="w-4 h-4 mr-2"></i>Preview</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    }
                </div>


            </div>
         
        </div>

    </div>
    <div class="mt-4">

        <form asp-controller="Image" asp-action="List" method="get">
            @(await Component.InvokeAsync<PaginationViewComponent>(Model.ImageList));
        </form>

    </div>
}

else
{
    <div class="px-5 ">
        <div class="font-medium text-center text-lg"> There is no data to show.</div>

    </div>
}
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/dist/js/CustomJs/Delete.js"></script>

