@model DeVeeraApp.ViewModels.Diaries.DiaryModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/assets/css/StyleSheet.css" rel="stylesheet" />
@{var user = _workContext.CurrentUser.UserRole.Name;
  var DiaryHeaderImage = Model.DiaryHeaderImageUrl != null ? Model.DiaryHeaderImageUrl : "../../assets/images/howtowriteadiary.jpg";
}


<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="page-banner-image">
                    <img src="@DiaryHeaderImage" alt="image">

                    <div class="image-shape">
                        <img src="~/assets/images/page-banner/shape.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="page-banner-content">
                    <h2>My Diary</h2>
                    <ul>
                        <li>
                            <a asp-controller="Dashboard" asp-action="Index">Home</a>
                        </li>
                        <li>My Diary Entry</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-banner-shape">
        <img src="~/assets/images/page-banner/banner-shape-1.png" alt="image">
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Services Details Area -->
<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="services-details-desc">
                    <div class="content-image">
                        <img src="~/assets/images/services-details/shape.jpg" alt="image">

                        <h4 class="sub-title">Dear Diary</h4>
                    </div>
                    <form asp-controller="Diary" asp-action="Create" method="post" id="diaryForm" onsubmit="return getDiaryContent()">
                        <div id="creatediaryForm">
                            <div class="paper" id="diaryPaper" style="background-color:@Model.DiaryColor">
                                <div class="paper-header">
                                    <div class="row">
                                        <div class="col-lg-4 mt-3">
                                            <div class="form-group ms-4">
                                                @{ var date = Model.DiaryDate.ToString("dd-MM-yyyy") == "01-01-0001" ? "" : Model.DiaryDate.ToString("MMMM d, yyyy");}
                                                <input onchange="GetDiaryByDate()" type="text" id="date" value="@date" data-maxdate="@DateTime.UtcNow.ToString("MM/dd/yyyy")" class="form-control" required>
                                                <input id="userRole" value="@user" hidden />
                                            </div>
                                        
                                        </div>
                                        <div class="col-lg-4 mt-3 ">
                                         </div>
                                            <div id="savediary" class="col-lg-4 text-end mt-3">
                                                <button type="submit" class="btn default-btn me-4">
                                                    Save Diary
                                                    <i class="flaticon-pointer"></i>
                                                </button>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="row ms-4">
                                                    <button type="button" class="btn col-lg-2 " onclick="document.execCommand( 'bold',false,null);"> <i data-feather="bold" class="block mx-auto w-5 h-5"></i><b>B</b></button>
                                                    <button type="button" class="btn col-lg-2" onclick="document.execCommand('italic',false,null);"> <i data-feather="italic" class="block mx-auto w-5 h-5"></i><em>I</em></button>
                                                    <button type="button" class="btn col-lg-2" onclick="document.execCommand( 'underline',false,null);"> <i data-feather="underline" class="block mx-auto w-5 h-5"><u>U</u></i></button>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-center mr-4">
                                                <div class="font-medium text-xl">Diary</div>
                                            </div>
                                            <div class="col-lg-4 mt-2 text-center">
                                                <a><div class="sticky-note-white" id="#FFFFFF" onclick="getDiaryColor(this.id)"></div></a>
                                                <a><div class="sticky-note-yellow" id="#ffffe0" onclick="getDiaryColor(this.id)"></div></a>
                                                <a><div class="sticky-note-green" id="#c9eebf" onclick="getDiaryColor(this.id)"></div></a>
                                                <a><div class="sticky-note-sky-blue" id="#e2e9f6" onclick="getDiaryColor(this.id)"></div></a>
                                                <a><div class="sticky-note-pink" id="#f5dff0" onclick="getDiaryColor(this.id)"></div></a>
                                                <a><div class="sticky-note-fall-green" id="#efe6c1" onclick="getDiaryColor(this.id)"></div></a>

                                            </div>

                                        </div>

                                    </div>
                                <div class="lines" id="lines">
                                    <div class="text">
                                        <input asp-for="Id" hidden />
                                        <input asp-for="Title" hidden />
                                        <input asp-for="Comment" hidden />
                                        <input asp-for="DiaryColor" hidden />
                                        <div id="diaryContent">

                                            <label class="text-theme-21 star">Title </label> <br /><div class="editable" id="title" name="title" contenteditable spellcheck="false" data-placeholder="Enter Title Here ...">@Html.Raw(Model.Title)</div><br /><br />
                                            <label class="text-theme-21 star"> Diary Entry  </label><br />
                                            <div div class="editable" id="comment" name="description" contenteditable spellcheck="false" data-placeholder="Enter Description Here ...">@Html.Raw(Model.Comment)</div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="services-details-info">
                    <ul class="services-list">
                        @{if (Model.diaryModels != null) { 
                            @foreach (var item in Model.diaryModels.Where(a => a.UserId == _workContext.CurrentUser.Id))
                            {
                                <li><a href="#">@item.Title <i class="flaticon-imagination"></i></a></li>
                            }
                            }
                        }
                    </ul>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->
<script src="~/dist/js/Diary.js"></script>


