@model DeVeeraApp.ViewModels.Diaries.DiaryListModel
@using DeVeeraApp.ViewComponents
@using  DeVeeraApp.ViewModels.Enum
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/assets/css/StyleSheet.css" rel="stylesheet" />
@{var user = _workContext.CurrentUser.UserRole.Name;
    var DiaryHeaderImage = Model.Diary?.DiaryHeaderImageUrl != null ? Model.Diary?.DiaryHeaderImageUrl : "../../assets/images/howtowriteadiary.jpg";
}


<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="page-banner-image">
                    <img src="@DiaryHeaderImage" alt="image">

                    <div class="image-shape">
                        <img src="~/assets/images/page-banner/shape.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="page-banner-content">
                    <h2>@T("My Diary")</h2>
                    <ul>
                        <li>
                            <a asp-controller="Dashboard" asp-action="Index">@T("Home")</a>
                        </li>
                        <li>@T("My Diary Entry")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-banner-shape">
        <img src="~/assets/images/page-banner/banner-shape-1.png" alt="image">
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Services Details Area -->
<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="services-details-desc">
                    <div class="content-image">
                        <img src="~/assets/images/services-details/shape.jpg" alt="image">

                        <h4 class="sub-title">@T("Dear Diary")</h4>
                    </div>
                    <form asp-controller="Diary" asp-action="Create" method="post" id="diaryForm" onsubmit="return getDiaryContent()">
                        <div id="creatediaryForm">
                            <div class="paper" id="diaryPaper" style="background-color:@Model.Diary.DiaryColor">
                                <div class="paper-header">
                                    <div class="row">
                                        <div class="col-lg-4 mt-3">
                                            <div class="form-group ms-4">
                                                @{ var date = Model.Diary.DiaryDate.ToString("dd-MM-yyyy") == "01-01-0001" ? "" : Model.Diary.DiaryDate.ToString("MMMM d, yyyy");}
                                                <input asp-for="Diary.DiaryDate" onchange="GetDiaryByDate()" type="text" id="date" value="@date" data-maxdate="@DateTime.UtcNow.ToString("MM/dd/yyyy")" class="form-control" required>
                                                <input id="userRole" value="@user" hidden />
                                            </div>

                                        </div>
                                        <div class="col-lg-4 mt-3 ">
                                        </div>
                                        <div id="savediary" class="col-lg-4 text-end mt-3">
                                            <button name="SubmitButton" value="SaveDiary" type="submit" class="btn default-btn me-4">
                                                @T("Save Diary")
                                                <i class="flaticon-pointer"></i>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="row ms-4">
                                                <button type="button" class="btn col-lg-2 " onclick="document.execCommand( 'bold',false,null);"> <i data-feather="bold" class="block mx-auto w-5 h-5"></i><b>B</b></button>
                                                <button type="button" class="btn col-lg-2" onclick="document.execCommand('italic',false,null);"> <i data-feather="italic" class="block mx-auto w-5 h-5"></i><em>I</em></button>
                                                <button type="button" class="btn col-lg-2" onclick="document.execCommand( 'underline',false,null);"> <i data-feather="underline" class="block mx-auto w-5 h-5"><u>U</u></i></button>
                                                <input id="select-colour" type="color" onchange="ChangeColor(this.value)" hidden>
                                                <button type="button" class="btn col-lg-2"> <i id="text-colour" data-feather="underline" class="block mx-auto w-5 h-5">A</i></button>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 text-center mr-4">
                                            <div class="font-medium text-xl">@T("Diary")</div>
                                        </div>
                                        <div class="col-lg-4 mt-2 text-center">
                                            <a><div class="sticky-note-white" id="#FFFFFF" onclick="getDiaryColor(this.id)"></div></a>
                                            <a><div class="sticky-note-yellow" id="#ffffe0" onclick="getDiaryColor(this.id)"></div></a>
                                            <a><div class="sticky-note-green" id="#c9eebf" onclick="getDiaryColor(this.id)"></div></a>
                                            <a><div class="sticky-note-sky-blue" id="#e2e9f6" onclick="getDiaryColor(this.id)"></div></a>
                                            <a><div class="sticky-note-pink" id="#f5dff0" onclick="getDiaryColor(this.id)"></div></a>
                                            <a><div class="sticky-note-fall-green" id="#efe6c1" onclick="getDiaryColor(this.id)"></div></a>

                                        </div>

                                    </div>

                                </div>
                                <div class="lines" id="lines" style="background-image:repeating-linear-gradient(@Model.Diary.DiaryColor 0px, @Model.Diary.DiaryColor 24px, steelblue 25px)">
                                    <div class="text">
                                        <input asp-for="Diary.Id" hidden />
                                        <input asp-for="Diary.Title" hidden />
                                        <input asp-for="Diary.Comment" hidden />
                                        <input asp-for="Diary.DiaryColor" hidden />
                                        <div id="diaryContent">

                                            <label class="text-theme-21 star">@T("Title") </label> <br /><div class="editable" id="title" name="title" contenteditable spellcheck="false" data-placeholder="@T("Enter Title Here ...")">@Html.Raw(Model.Diary.Title)</div><br /><br />
                                            <label class="text-theme-21 star"> @T("Diary Entry")  </label><br />
                                            <div div class="editable" id="comment" name="description" contenteditable spellcheck="false" data-placeholder="@T("Enter Description Here ...")">@Html.Raw(Model.Diary.Comment)</div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="psylo-grid-sorting row">
                    <form asp-controller="Diary" asp-action="Create" method="Post" class="search-form">
                        <div class="col-lg-12 col-md-6 ms-3">
                            <input asp-for="SortTypeId" hidden />
                            <input id="date" asp-for="SearchByDate"  type="text" class="search-field"  placeholder="Search...">
                            <button name="SubmitButton" value="Search" type="submit"><i class='bx bx-search-alt'></i></button>
                        </div>
                    </form>
                    <form asp-controller="Diary" asp-action="Create" method="Post" class="search-form">
                        <div class="col-lg-12 col-md-6 mt-2 ordering">
                            <div class="select-box">
                                <label>Sort By:</label>
                                <input asp-for="SearchByDate"hidden />
                                <select asp-for="SortTypeId" asp-items="Html.GetEnumSelectList<SortType>()" onchange="this.form.submit()"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="services-details-info">
                    <ul class="services-list">
                        @if (Model.DiaryList != null)
                        {
                            @foreach (var item in Model.DiaryList.Results)
                            {
                                <li>
                                    <a href="#" onclick="GetDiaryByDate('@item.CreatedOn');">
                                        <label>@item.Title</label>
                                        <p>Created On : @item.CreatedOn.ToShortDateString() </p>
                                        <p>Updated On : @item.LastUpdatedOn.ToShortDateString() </p>

                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                @(await Component.InvokeAsync<PagerViewComponent>(Model.DiaryList))

            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->
<script src="~/dist/js/Diary.js"></script>
<script>
    document.getElementById("text-colour").onclick = function fun() {
    document.getElementById("select-colour").click(); 
        //validation code to see State field is mandatory.  
    } 

    function ChangeColor(value) {
        debugger
        // Get Selection
        sel = window.getSelection();
        if (sel.rangeCount && sel.getRangeAt) {
            range = sel.getRangeAt(0);
        }
        // Set design mode to on
        document.designMode = "on";
        if (range) {
            sel.removeAllRanges();
            sel.addRange(range);
        }
        // Colorize text
        document.execCommand("ForeColor", false, value);
        // Set design mode to off
        document.designMode = "off";
    }
</script>


