@model DeVeeraApp.ViewModels.Diaries.EnterPasscodeModel
@{
    ViewData["Title"] = "EnterPasscode";
}
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- Slick Min CSS -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets/css/nice-select.min.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="~/assets/css/fancybox.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/styleUser.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link href="~/assets/css/OTPForm.css" rel="stylesheet" />
    <link href="~/dist/css/Rating.css" rel="stylesheet" />


    <title>Psylo - Life Coach & Psychologist HTML Template</title>

    <link rel="icon" type="image/png" href="~/assets/images/favicon.png">
    <style>
        .background {
            background: radial-gradient( #fff4f2 10%, #fcd2cb 90%)
        }
    </style>
    <style>
        .colj-2 {
            flex: 0 0 auto;
            width: 83px;
            height: 66px;
            margin-left: 12px;
            border-radius: 10px;
            border: solid 1px #f38c8c;
            text-align: center;
            /* size: 24px; */
        }

        .verifybtn {
            width: 100%;
            border-radius: 15px;
            border: none;
            position: relative;
            top: 0;
            left: 0;
            padding: 20px;
        }

        .background {
            background: radial-gradient( #fff4f2 10%, #fcd2cb 90%)
        }

        .coming-soon-content .OtpForm {
            padding: 15px;
        }

        .restricte {
        }
    </style>
</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader-area">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Coming Soon Area -->


    <div class="coming-soon-area">
        <div class="d-table background">
            <div class="d-table-cell">
                <div class="coming-soon-content">
                    <div>
                        <img src="/assets/images/logo.png" alt="logo" style="margin-right:80px" width="300" height="300">
                    </div>
                    <div style="margin-right:20px">
                        <h2>@T("Enter Diary Passcode")</h2>
                        <h3>@T("Please enter Passcode to continue.")</h3>
                    </div>

                    <form asp-controller="Diary" asp-action="EnterPasscode" method="post">
                        <span class="text-theme-6 mt-2" style="color:red;"> @T(ViewData.ModelState["Passcode"]?.Errors.Count() != 0 ? ViewData.ModelState["Passcode"]?.Errors[0].ErrorMessage : "")</span>
                        @{ string mobnumber = Model.MobileNumber?.ToString();
                            if (Model.MobileNumber != null && Model.MobileNumber != "")
                            {
                                var value = Model.MobileNumber.Count() - 4;
                                mobnumber = mobnumber.Substring(value, 4);
                                mobnumber = "XXXXXX" + mobnumber;
                            }
                            <h5 class="txt-lightblack  ml-4 mt-3 text-center">@mobnumber</h5>
                        }




                        <div class=" flex-wrap d-flex justify-content-center row col-lg-12 ">
                            <div class="  col-2">
                                <input type="text" name="DiaryOTP" maxlength="1" size="1" min="0" pattern="\d*" id="txt1" onkeyup="moveCursor(this,'txt2','txt1')" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class=" colj-2 input-newsletter">
                            </div>
                            <div class="col-2  ">
                                <input type="text" name="DiaryOTP" maxlength="1" size="1" min="0" pattern="\d*" id="txt2" onkeyup="moveCursor(this,'txt3','txt2')" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="colj-2   input-newsletter">
                            </div>
                            <div class=" col-2">
                                <input type="text" name="DiaryOTP" maxlength="1" size="1" min="0" pattern="\d*" id="txt3" onkeyup="moveCursor(this,'txt4','txt3')" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="  colj-2 input-newsletter">
                            </div>
                            <div class=" col-2">
                                <input type="text" name="DiaryOTP" maxlength="1" size="1" min="0" pattern="\d*" id="txt4" onkeyup="moveCursor(this,'txt5','txt4')" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="colj-2 input-newsletter">
                            </div>
                            <div class=" col-2">
                                <input type="text" name="DiaryOTP" maxlength="1" size="1" min="0" pattern="\d*" id="txt5" onkeyup="moveCursor(this,'txt6','txt5')" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class=" colj-2 input-newsletter">
                            </div>
                            <div class=" col-2">
                                <input type="text" name="DiaryOTP" maxlength="1" size="1" min="0" pattern="\d*" id="txt6" autocomplete="off" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="colj-2   input-newsletter">
                            </div>
                        </div>


                        <button type="submit" class="default-btn mt-3 verifybtn">@T("Continue")</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


    @*<div class="coming-soon-area" style="background-color:lightgray">
        <div class="d-table background">
            <div class="d-table-cell">
                <div class="coming-soon-content">
                    <h1>
                        <a href="#">@T("Enter Diary Passcode")</a>
                    </h1>

                    <h2>@T("Please enter Passcode to continue.")</h2>

                    <section class="login-area mt-5">
                        <div class="container">
                            <div class="login-form">
                                <form asp-controller="Diary" asp-action="EnterPasscode" method="post">
                                    <div class="form-group">*@
    @*@{ string mobnumber = Model.MobileNumber?.ToString();
            if (Model.MobileNumber != null && Model.MobileNumber != "")
            {
                var value = Model.MobileNumber.Count() - 4;
                mobnumber = mobnumber.Substring(value, 4);
                mobnumber = "XXXXXX" + mobnumber;
            }
            <h5 class="txt-lightblack  ml-4 mt-3 text-center">@mobnumber</h5>
        }*@
    <!--<input asp-for="Passcode" type="text" onkeydown="return isNumberKey(this, event);" class="form-control" placeholder="@T("Enter passcode") " required>-->
    @*<span asp-validation-for="Passcode" class="text-theme-6 mt-2"></span>*@

    <!--</div>
                                    <button type="submit">@T("Continue")</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>-->
    <!-- End Coming Soon Area -->
    <!-- Jquery Slim JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Jquery Appear JS -->
    <script src="~/assets/js/jquery.appear.js"></script>
    <!-- Odometer JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <!-- Slick Min JS -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/assets/js/nice-select.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Fancybox JS -->
    <script src="~/assets/js/fancybox.min.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/assets/js/contact-form-script.js"></script>
    <!-- Wow JS -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/main.js"></script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG7gNHAhDzgYmq4-EHvM4bqW1DNj2UCuk&amp;libraries=places"></script>
    <script>
        function isNumberKey(txt, evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            //console.log(charCode);
            if (charCode == 46) {
                //Check if the text already contains the . character
                if (txt.value.indexOf('.') === -1) {
                    return true;
                } else {
                    return false;
                }
            } else {
                //if (charCode > 31 &&
                //    (charCode < 48 || charCode > 57))
                //    return false;
                if ((charCode == 8) //backspace
                    || (charCode >= 48 && charCode <= 57) //keypad: 0 to 9
                    || (charCode >= 96 && charCode <= 105)) //numpad: 0 to 9
                    return true;
            }
            return false;
        }

    </script>
    <script>
        function moveCursor(fromTextbox, toTextbox, currenttxtbox) {

            var currenttext = document.getElementById(currenttxtbox).value;

            if (currenttext != null && currenttext != "") {
                var length = fromTextbox.value.length;
                var maxLength = fromTextbox.getAttribute("maxLength");
                if (length = maxLength) {
                    document.getElementById(toTextbox).focus();
                }
            }
        }
    </script>
    <script>
        document.querySelector(".input-newsletter").addEventListener("keypress", function (evt) {
            if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57) {
                evt.preventDefault();
            }
        });
    </script>
</body>
</html>

<!--<form asp-controller="Diary" asp-action="EnterPasscode" method="post">
    <div class="content">

        <div class="intro-y  py-10 sm:py-20 ">

            <div class="px-5 ">
                <div class="font-medium text-center text-lg">Enter Passcode</div>
                <div class="text-gray-600 text-center mt-2">Please enter Passcode to continue.</div>
            </div>


            <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    <div class="intro-y col-span-3"></div>
                    <div class="intro-y box p-5 col-span-6">


                        <div class="mt-5">
                            <label for="input-wizard-2" class="form-label text-theme-21 star">
                                Enter Passcode
                            </label>
                            <input id="input-wizard-2" asp-for="Passcode" type="number" class="form-control" min="0" placeholder="Passcode">
                            <span asp-validation-for="Passcode" class="text-theme-6 mt-2"></span>
                        </div>

                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                            <button type="submit" class="btn btn-primary w-24">Continue</button>
                        </div>
                    </div>
                    <div class="intro-y col-span-3"></div>

                </div>

            </div>
        </div>
    </div>

</form>-->
