
@model DeVeeraApp.ViewModels.LevelModel
@inject CRM.Core.IWorkContext _workContext
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@inject CRM.Services.Layoutsetup.ILayoutSetupService LayoutService
@inject CRM.Services.IVideoMasterService videoMasterService
@inject CRM.Services.IS3BucketService s3BucketService
@inject CRM.Services.Settings.ISettingService settingService
@{var Description = LayoutService.GetAllLayoutSetups().OrderBy(a => a.Description).Where(a => a.IsActive == true).FirstOrDefault()?.Description; }
@{var video = videoMasterService.GetVideoById((int)Model?.VideoId)?.Key;}
@{ var videourl = (s3BucketService.GetPreSignedURL(video) != null) ? s3BucketService.GetPreSignedURL(video) : ""; }
@{var Spanishvideo = videoMasterService.GetVideoById((int)Model.VideoId)?.SpanishKey;}
@{ var Spanishvideourl = (s3BucketService.GetPreSignedURL(video) != null) ? s3BucketService.GetPreSignedURL(Spanishvideo) : ""; }
@{var userLanguage = settingService.GetAllSetting().Where(s => s.UserId == _workContext.CurrentUser.Id).FirstOrDefault(); }
<style>
    .colbutn {
        background-color: lightgray;
        padding: 6px 24px 3px 4px;
    }

    .disbutn {
        background-color: #F0B9B2;
        padding: 6px 24px 3px 4px;
    }

    .imgfit {
      
    }
    .swal2-styled.swal2-confirm {
        background-color: #F0B9B2;
    }
</style>

<!-- Start Page Banner Area -->
<div class="page-banner-with-full-image" style="background-image:url('@(Model.BannerImageUrl !=null ? Model.BannerImageUrl: "../../assets/images/page-banner/page-banner-bg-1.jpg")')">
    <div class="container">
        <div class="page-banner-content-two">
            <h2>@T(Model.Title)</h2>
            <ul>
                <li>
                    <a asp-controller="Dashboard" asp-action="Index">@T("Home")</a>
                </li>
                <li>@T(Model.Title)</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Courses Details Area -->
<section class="courses-details-area ptb-100" >
    <div class="container">
        <div class="courses-details-image">
            @{
                var imageUrl2 = Model.VideoThumbImageUrl != null ? Model.VideoThumbImageUrl : "../../assets/images/courses/courses-details.jpg";
                var src = Model.Video?.VideoUrl == null ? "/dist/images/profile-14.jpg" : Model.Video.VideoUrl;
            }

            <img src="@imageUrl2" alt="image"  class="" style="width:100%;" >
            @*@if (userLanguage != null) {
            @if (userLanguage.LanguageId == 5 && Spanishvideourl != "")
            {
                if (Spanishvideourl == "" || Spanishvideourl == null) {
                <a onclick="showvideopopland('@T("Oops")' ,'@T("Video Not Available!")');" class="video-btn popup-youtube " >                   
                </a>
                }
                else {
                 <a href="@Spanishvideourl"  class="video-btn popup-youtube " >
                    <i class="flaticon-play"></i>
                </a>
                }
            }
            else
            {
                if (videourl == "" || videourl == null)
                {
                <a onclick="showvideopopland('@T("Oops")' ,'@T("Video Not Available!")');" class="video-btn popup-youtube ">
                    <i class="flaticon-play" ></i>
                </a>
                
                }
                else
                {
                    <a href="@videourl" class="video-btn popup-youtube ">
                    <i class="flaticon-play"></i>
                </a>
                }
            }
            }
            else
            {
                if (videourl == "" || videourl == null)
                {
                 <a onclick="showvideopopland('@T("Oops")' ,'@T("Video Not Available!")');" class="video-btn popup-youtube ">
                    <i class="flaticon-play"></i>
                </a>
                    }
                else
                {
                     <a href="@videourl" class="video-btn popup-youtube ">
                    <i class="flaticon-play"></i>
                </a>
                }
            }*@
              
            
             @if (userLanguage != null)
             {
                @if (userLanguage.LanguageId == 5)
                {
                    if(Spanishvideourl != "" && Spanishvideourl != null) { 
                    <a href="@Spanishvideourl"  class="video-btn popup-youtube " >
                        <i class="flaticon-play"></i>
                    
                    </a>
                    }
                    else if(videourl != "" && videourl != null)
                    {
                         <a href="@videourl"  class="video-btn popup-youtube " >
                        <i class="flaticon-play"></i>
                    
                    </a>
                    }
                    else
                    {
                <a onclick="showvideopopland('@T("Oops")' ,'@T("Video Not Available!")');" class="video-btn popup-youtube ">
                    <i class="flaticon-play"></i>
                </a>
                    }
                }
                else if(userLanguage.LanguageId == 3)
                {
                    if(videourl != "" && videourl != null) { 
                <a href="@videourl"  class="video-btn popup-youtube " >
                    <i class="flaticon-play"></i>
                </a>
                    }
                    else if(Spanishvideourl != "" && Spanishvideourl != null)
                    {
                        <a href="@Spanishvideourl"  class="video-btn popup-youtube " >
                            <i class="flaticon-play"></i>
                        </a>
                    }
                    else
                    {
                     <a onclick="showvideopopland('@T("Oops")' ,'@T("Video Not Available!")');" class="video-btn popup-youtube ">
                        <i class="flaticon-play"></i>
                    </a>
                    }
                }
                else
                {
                 <a onclick="showvideopopland('@T("Oops")' ,'@T("Video Not Available!")');" class="video-btn popup-youtube ">
                    <i class="flaticon-play"></i>
                </a>
                }

             }



        </div>

            <div id="VideoNotAvailable"   class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">Oops !!! .... <i class="btn-close" onclick="hidepopup();"></i></div>
                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="col-span-12 sm:col-span-12">

                        <div id="single-file-upload" class="p-5">
                            <div class="preview">
                                <div data-single="true" fallback="true">
                                    <div class="fallback">
                                        @T("Video Not Available !!!")
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="courses-details-desc">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview">@T("Overview")</a></li>
                        @*<li class="nav-item"><a class="nav-link" id="curriculum-tab" data-bs-toggle="tab" href="#curriculum" role="tab" aria-controls="curriculum">Curriculum</a></li>
                            <li class="nav-item"><a class="nav-link" id="instructor-tab" data-bs-toggle="tab" href="#instructor" role="tab" aria-controls="instructor">Instructor</a></li>
                            <li class="nav-item"><a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews">Reviews</a></li>*@
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel">
                            <div class="courses-overview">
                                <h3>@T(Model.Subtitle)</h3>

                                @Html.Raw(Model.FullDescription)
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="courses-details-info">
                    <div class="image">
                        @{
                            var imageUrl3 = Model.ShareBackgroundImageUrl != null ? Model.ShareBackgroundImageUrl : "../../assets/images/courses/courses-1.jpg";
                        }
                        <img src="@imageUrl3" alt="image" style="height:225px;">


                    </div>

                    @*<div class="courses-share">
                            <div class="share-info">
                                <span>@T("Share This Course")</span>

                                <ul class="social-link">
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                </ul>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="mt-4">

            @if (Model.IsLike == true && Model.IsDisLike == false)
            {
                <a class="default-btn disbutn " onclick="LikeButton(@Model.Id, true,'doubleLike');" title="like"><img src="~/assets/images/Icon material-thumb-up.png" style="margin-left: 10px;margin-bottom: 7px;" width="20" height="20" /></a>
            }
            else
            {
                <a class="default-btn colbutn" onclick="LikeButton(@Model.Id,true);" title="like"><img src="~/assets/images/Icon material-thumb-up.png" style="margin-left: 10px;margin-bottom: 7px;" width="20" height="20" /></a>
            }
            @if (Model.IsLike == false && Model.IsDisLike == true)
            {
                <a class="default-btn disbutn" onclick="LikeButton(@Model.Id, false,'doubleDislike');" title="dislike"> <img src="~/assets/images/Icon material-thumb-down.png" style="margin-left: 12px;margin-bottom: 4px;" width="23" height="23" /></a>
            }
            else
            {
                <a class="default-btn colbutn" onclick="LikeButton(@Model.Id, false);" title="dislike"><img src="~/assets/images/Icon material-thumb-down.png" style="margin-left: 12px;margin-bottom: 4px;" width="23" height="23" /></a>
            }



            @if (Model?.LikeComments != null) { 
                foreach(var data in Model.LikeComments.OrderByDescending(a=>a.CreatedDate)) { 
             <div class="comment-list mt-5 ">
                            <div class="comment">
                                <div class="comment-body" >
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard"></div>
                                        @if (data.CreatedDate.ToString()== "1/1/0001 12:00:00 AM")
                                        {
                                            <div class="comment-metadata">
                                                @*<a href="#">@data.CreatedDate</a>*@
                                            </div>

                                         }
                                        else
                                        {
                                            <div class="comment-metadata">
                                                <a href="#">@data.CreatedDate</a>
                                            </div>
                                        }
                                    </footer>

                                    <div class="comment-content " style="margin-top:3px;">
                                        <p>@data.Comments</p>
                                    </div>
                            </div>
                          </div>
                   </div>
                }
            }

            
             <div class="comment-respond mt-4">
                <h3 class="comment-reply-title " style="font-weight:200;font-size:18px;">@T("Leave A Comment")</h3>

                <form class="comment-form">
                    <div class="row">
                                   
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="comments" placeholder="@T("Your Comment")"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="default-btn " style="margin-top:7px;"  onclick="comment(@Model.Id);" >@T("Submit") <i class="flaticon-right-arrow"></i></button>
                </form>
              </div>


            @*<div class="col-3 mt-5">

                <label for="input-wizard-1" class="form-check-label "> Add a Comments here..</label>
                <textarea rows="4" class="form-check" id="comments" placeholder="Add Comments here......"> </textarea>
            </div>*@


            @*<a class="default-btn" onclick="comment(@Model.Id);">@T("Submit") <i class="flaticon-anxiety-1"></i></a>*@
        </div>
        @*<div class="col-3 mt-5">
                <p>
                    @T(Model.Comments)
                </p>
            </div>*@
        <div class="psylo-post-navigation">
            @if (Convert.ToInt32(Model.LevelNo) != 1)
            {
                <div class="prev-link-wrapper">
                    <div class="info-prev-link-wrapper">
                        <a asp-controller="Lesson" asp-action="Previous" asp-route-levelno="@Model.LevelNo">
                            <span class="image-prev">

                                @{var prevImageUrl = Model.PrevImageUrl == null ? "../../assets/images/blog/blog-1.jpg" : Model.PrevImageUrl; }
                                <img src="@prevImageUrl" alt="image" >
                                <span class="post-nav-title">@T("Prev")</span>
                            </span>

                            <span class="prev-link-info-wrapper">
                                <span class="prev-title">
                                    @T(Model.PrevTitle)
                                </span>
                            </span>
                        </a>
                        <a asp-controller="Lesson" asp-action="Previous" asp-route-levelno="@Model.LevelNo" class="default-btn">@T("Previous Level") <i class="flaticon-left-arrow"></i></a>
                    </div>
                </div>
            }
            @if (ViewBag.TotalLevels >= Convert.ToInt32(Model.LevelNo))
            {
                if (Model.ModuleList.Count() > 0)
                {
                  
                    <div class="next-link-wrapper">
                        <div class="info-next-link-wrapper">
                            <a asp-controller="Module" asp-action="Next" asp-route-moduleno="@Model.ModuleList.FirstOrDefault().ModuleNo" asp-route-levelSrno="@Model.LevelNo">
                                <span class="next-link-info-wrapper">
                                    <span class="next-title">
                                        @T(Model.ModuleList.FirstOrDefault().Title)
                                    </span>
                                </span>

                                <span class="image-next">
                                    @{var nextImageUrl = Model.NextImageUrl == null ? "../../assets/images/blog/blog-2.jpg" : Model.NextImageUrl; }
                                    <img src="@nextImageUrl" alt="image" style=" " >
                                    <span class="post-nav-title">@T("Next")</span>
                                </span>
                            </a>
                            <a asp-controller="Module" asp-action="Index" asp-route-moduleno="@Model.ModuleList.FirstOrDefault().ModuleNo" asp-route-srno="1" asp-route-levelSrno="@Model.LevelNo" class="default-btn">@T("Start Module") <i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>

                }
                else
                {
                    <div class="next-link-wrapper">
                        <div class="info-next-link-wrapper">
                            <a asp-controller="Lesson" asp-action="Next" asp-route-levelno="@Model.LevelNo">
                                <span class="next-link-info-wrapper">
                                    <span class="next-title">
                                        @T(Model.NextTitle)
                                    </span>
                                </span>

                                <span class="image-next">
                                    @{var nextImageUrl = Model.NextImageUrl == null ? "../../assets/images/blog/blog-2.jpg" : Model.NextImageUrl; }
                                    <img src="@nextImageUrl" alt="image" >
                                    <span class="post-nav-title">@T("Next")</span>
                                </span>
                            </a>

                            <a asp-controller="Lesson" asp-action="Next" asp-route-levelno="@Model.LevelNo" class="default-btn">@T("Next Level") <i class="flaticon-right-arrow"></i></a>


                        </div>
                    </div>

                }
            }



        </div>

    </div>
</section>
<!-- End Courses Details Area -->
<!-- Start Products Area -->
<section class="products-area pb-70">

    <div class="container-fluid">
        <div class="section-title">
            <h2>@T("Modules for this session")</h2>
            <p>@T(Description)</p>
        </div>

        <div class="products-slides owl-carousel owl-theme">
            @{
                int i = 1;
                foreach (var item in Model.ModuleList)
                {



                    <div class="products-item">
                        <div class="products-image">
                            @{
                                if (item.SelectedModuleImages.Count > 0)
                                {
                                    string imageUrl = "";
                                    if (userLanguage != null) {
                                        if (userLanguage.LanguageId == 5) {

                                            //  imageUrl = item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().SpanishImageUrl==null? "../../assets/images/blog/blog-2.jpg": item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().SpanishImageUrl;
                                            if(item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().SpanishImageUrl!=null&& item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().SpanishImageUrl != "")
                                            {
                                                imageUrl = item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().SpanishImageUrl;
                                            }
                                            else if (item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().ImageUrl!=null && item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().ImageUrl != "") {
                                                imageUrl = item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().ImageUrl;
                                            }
                                            else
                                            {
                                                imageUrl = "../../assets/images/blog/blog-2.jpg";
                                            }

                                        }
                                        else
                                        {
                                            //imageUrl = item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().ImageUrl==null? "../../assets/images/blog/blog-2.jpg": item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().ImageUrl;
                                            if (item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().ImageUrl != null && item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().ImageUrl != "")
                                            {
                                                imageUrl = item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().ImageUrl;
                                            }
                                            else if (item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().SpanishImageUrl != null && item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().SpanishImageUrl != "")
                                            {
                                                imageUrl = item.SelectedModuleImages.Where(i => i.ImageUrl != null).FirstOrDefault().SpanishImageUrl;
                                            }
                                            else
                                            {
                                                imageUrl = "../../assets/images/blog/blog-2.jpg";
                                            }
                                        }
                                    }

                                    if (imageUrl != null)
                                    {
                                        <a asp-controller="Module" asp-action="Index" asp-route-id="@item.Id" asp-route-srno="@i" asp-route-levelSrno="@Model.LevelNo"><img src=@imageUrl width="750" style="min-height:200px" height="650" alt="image"></a>

                                    }


                                }
                                else
                                {
                                    <a asp-controller="Module" asp-action="Index" asp-route-id="@item.Id" asp-route-srno="@i" asp-route-levelSrno="@Model.LevelNo"><img src="~/assets/images/products/products-1.jpg" width="750" style="min-height:200px" height="650" alt="image"></a>

                                }

                            }
                        </div>

                        <div class="products-content">
                            <h3>
                                <a asp-controller="Module" asp-action="Index" asp-route-id="@item.Id" asp-route-srno="@i" asp-route-levelSrno="@Model.LevelNo">@item.Title</a>
                            </h3>

                        </div>
                    </div>

                    i++;
                }
            }


        </div>
    </div>

    <div class="products-main-shape">
        <img src="~/assets/images/products/shape-1.png" alt="image">
    </div>
</section>
<!-- End Products Area -->
<!-- Start Subscribe Area -->
<div class="subscribe-area bg-top">
    <div class="container">
        <div class="subscribe-inner-box">
            <div class="subscribe-content">
                <h2> @T(Model.Quote) </h2>
                <p>- @T(Model.Author)</p>

            </div>
        </div>
    </div>
</div>
<!-- End Subscribe Area -->
<script>

    function LikeButton(InputId, status, getvalue) {
        var Id = InputId;
        var islike = status;
        var value = getvalue;
        $.ajax({
            url: 'Lesson/Like',
            type: "POST",
            data: { Id, islike, value },

            success: function (data, status) {
                location.reload();
            },

        });

    }
</script>
<script>

    function comment(id) {
        var id = id;
        var comments = document.getElementById('comments').value;
if(comments==null || comments==""){
alert("Please add comment !!!.");

}

        $.ajax({
            url: 'Lesson/Comments',
            type: "POST",
            data: { id, comments },

            success: function (data, status) {
                location.reload();
            },

        });

    }
</script>
<script src="~/CustomJS/Common.js"></script>
