@model DeVeeraApp.ViewModels.LevelModel
@inject CRM.Core.IWorkContext _workContext

<div class=" mt-10 lg:mt-0">
    <div class="intro-x mt-10 text-4xl font-medium">@Model.Title</div>
    <div class="text-gray-600 text-left mt-2">@Model.Quote</div>



    <div class="intro-y news p-5 box mt-8">
        <div class="intro-y chat grid grid-cols-12 gap-5 mt-5">
            <div class="intro-y col-span-12 lg:col-span-6 xxl:col-span-6">
                <h2 class="intro-y font-medium text-xl sm:text-2xl">
                    @Model.Subtitle
                </h2>

            </div>

            <div class="col-span-12 lg:col-span-6 xxl:col-span-6 ml-auto">

                @if (_workContext?.CurrentUser.UserRole.Name == "Admin")
                {
                    <a asp-controller="UploadVideo" asp-action="Edit" asp-route-id="@Model.Id" class="btn-primary intro-x btn py-3 px-4 border-white dark:border-dark-5"> Edit </a>
                    <a onclick="ShowDeleteConfirmation('PostDeleteVideo(@Model.Id)')" class="btn-danger intro-x btn py-3 px-4 border-white dark:border-dark-5"> Delete </a>
                }

                <a asp-controller="Lesson" asp-action="index" asp-route-id="@(Model.Id++)"  class="btn-primary intro-x btn py-3 px-4 border-white dark:border-dark-5">Next</a>
            </div>

        </div>
        <!-- BEGIN: Blog Layout -->


        <div class="intro-y mt-6">
            <div class="news__preview image-fit">
                @{string src = Model.VideoURL;}
                <video src="@Url.Content(src)" controls style="width:100%; height:100%" loop />
            </div>
        </div>

        <div class="intro-y text-justify leading-relaxed mt-10">
            @Html.Raw(Model.FullDescription)
        </div>

    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/dist/js/CustomJs/Delete.js"></script>
