@model DeVeeraApp.ViewModels.Emotions.EmotionModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            @{
                var ContentImage = Model.ContentImageUrl == null ? "../../assets/images/page-banner/page-banner-3.jpg" : Model.ContentImageUrl;
                var BannerImage = Model.BannerImageUrl == null ? "../../assets/images/blog/blog-details.jpg" : Model.BannerImageUrl;
                var ThumbnailImage = Model.ThumbnailImageUrl == null ? "../../assets/images/courses/courses-details-1.jpg" : Model.ThumbnailImageUrl;
                var videoUrl = Model.Video?.VideoUrl;

                <div class="col-lg-6 col-md-6">
                    <div class="page-banner-image">
                        <img src="@ContentImage" alt="image" width="100%">
                        <div class="image-shape">
                            <img src="~/assets/images/page-banner/shape.png" alt="image">
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6">
                    <div class="page-banner-content">
                        <h2>@Model.EmotionName</h2>
                        <ul>
                            <li>
                                <a asp-controller="Dashboard" asp-action="Index">@T("Home")</a>
                            </li>
                            <li>@Model.EmotionName</li>
                        </ul>

                    </div>
                    }
                </div>
            }
        </div>

        <div class="page-banner-shape">
            <img src="~/assets/images/page-banner/banner-shape-1.png" alt="image">
        </div>
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Blog Details Area -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="blog-details-desc">
            <div class="article-content">
                <div class="title-box">
                    <h2>@Model.Title</h2>
                    <div class="entry-meta">
                        <ul>
                            <li><i class="flaticon-calendar"></i> <a href="#">@Model.CreatedOn.ToString("MMMM d, yyyy")</a></li>
                            @*<li><i class="flaticon-user"></i> <a href="#">Angela Hopper</a></li>
                            <li><i class="flaticon-chat-bubble"></i> <a href="#">03 Comments</a></li>*@
                        </ul>
                    </div>
                </div>

                <div class="article-image">
                    <img src="@BannerImage" alt="image" width="100%">
                </div>

                <h3>@Model.Subtitle</h3>

                <blockquote class="wp-block-quote">
                    <p>@Model.Quote</p>
                </blockquote>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                       @Html.Raw(Model.Description)
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="courses-details-image mt-4">
                            <img src="@ThumbnailImage" alt="image" width="100%" style="height:300px;">                           
                            <a href="@videoUrl" class="video-btn popup-youtube">
                                <i class="flaticon-play"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Details Area -->
