    <!-- BEGIN: Side Menu -->
    <nav class="side-nav">
        <a href="" class="intro-x flex items-center pl-5 pt-4 mt-3">
            <img alt="Tinker Tailwind HTML Admin Template" class="w-6" src="/dist/images/logo.svg">
            <span class="hidden xl:block text-white text-lg ml-3">3 Happy Pals<span class="font-medium"></span> </span>
        </a>
        <div class="side-nav__devider my-6"></div>
        <ul>
            @*dashboard*@
            <li>
                <a asp-controller="Home" asp-action="Index" class="side-menu">
                    <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                    <div class="side-menu__title">
                        Dashboard
                    </div>
                </a>
            </li>

            @*user management*@
            <li>
                <a href="javascript:;.html" class="side-menu">
                    <div class="side-menu__icon"> <i data-feather="users"></i></div>
                    <div class="side-menu__title">
                        User Management
                        <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                    </div>
                </a>
                <ul class="">
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="user"></i> </div>
                            <div class="side-menu__title">
                                Admin
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="Admin" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a  href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="check-square" class=""></i>  </div>
                            <div class="side-menu__title">
                                Registered Users
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="Admin" asp-action="CreateUser" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="List" asp-route-roleName="User" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>


            @*masters*@
            <li>
                <a href="javascript:;.html" class="side-menu">
                    <div class="side-menu__icon"><i data-feather="lock" class=""></i></div>
                    <div class="side-menu__title">
                        Masters
                        <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                    </div>
                </a>
                <ul class="">
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon">  <i class="" data-feather="image"></i> </div>
                            <div class="side-menu__title">
                                Images
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="Image" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Image" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i class="" data-feather="video"></i> </div>
                            <div class="side-menu__title">
                                Videos
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="Video" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Video" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"><i data-feather="calendar"></i>@*<i class="" data-feather="star"></i>*@</div>
                            <div class="side-menu__title">
                                Emotions
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="Emotion" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Emotion" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i>  </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon">  <i class="" data-feather="file"></i></div>
                            <div class="side-menu__title">
                                Quotes
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="DashboardQuote" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="DashboardQuote" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon">   <i data-feather="film" class="block mx-auto"></i> </div>
                            <div class="side-menu__title">
                                Feel Good Stories
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="/Admin/FeelGoodStory/Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/FeelGoodStory/List" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="box"></i>  </div>
                            <div class="side-menu__title">
                                Translations
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="LocalStringResources" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="LocalStringResources" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>


            @*screens*@
            <li>
                <a href="javascript:;.html" class="side-menu">
                    <div class="side-menu__icon">   <i data-feather="monitor" class="report-box__icon "></i> </div>
                    <div class="side-menu__title">
                        Screens
                        <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                    </div>
                </a>
                <ul class="">
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"><i data-feather="credit-card"></i>  </div>
                            <div class="side-menu__title">
                                Landing Page Screen
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="WeeklyUpdate" asp-action="Create" asp-route-type="@((int)Quote.Landing)" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Landing)" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i>  </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="layout"></i>  </div>
                            <div class="side-menu__title">
                                Welcome Screen
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="WeeklyUpdate" asp-action="Create" asp-route-type="@((int)Quote.Registration)" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Registration)" class="side-menu">
                                    <div class="side-menu__icon"><i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="sidebar"></i> </div>
                            <div class="side-menu__title">
                                Welcome Back Screen
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="WeeklyUpdate" asp-action="Create" asp-route-type="@((int)Quote.Login)" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i></div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="WeeklyUpdate" asp-action="List" asp-route-typeId="@((int)Quote.Login)" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i class="" data-feather="inbox"></i>  </div>
                            <div class="side-menu__title">
                                Other Screen Setup
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="LayoutSetup" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"><i data-feather="edit"></i> </div>
                                    <div class="side-menu__title">Create</div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="LayoutSetup" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="list"></i>  </div>
                                    <div class="side-menu__title">List</div>
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"><i data-feather="airplay" class="block mx-auto"></i>   </div>
                            <div class="side-menu__title">
                              Display
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">   
                            <li>
                                <a href="/Admin/Home/WeeklyInspiringQuotes" class="side-menu">
                                    <div class="side-menu__icon">   <i class="" data-feather="file"></i> </div>
                                    <div class="side-menu__title">
                                        Quotes
                                        @*<div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>*@
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Home/NewVideos" class="side-menu">
                                    <div class="side-menu__icon"> <i class="" data-feather="video"></i></div>
                                    <div class="side-menu__title">
                                        Videos
                                        @*<div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>*@
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Home/FeelGoodStories" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="file-text"></i>  </div>
                                    <div class="side-menu__title">
                                        Stories
                                        @*<div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>*@
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
                    </li>




                    @*Language*@
                    <!--<li>
                        <a href="javascript:;.html" class="side-menu">
                            <div class="side-menu__icon">  <i data-feather="trello"></i> </div>
                            <div class="side-menu__title">
                                Language Setup
                                <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="javascript:;" class="side-menu">
                                    <div class="side-menu__icon">  <i data-feather="align-left" class=""></i> </div>
                                    <div class="side-menu__title">
                                        Languages
                                        <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                                    </div>
                                </a>
                                <ul class="">
                                    <li>
                                        <a asp-controller="Language" asp-action="Create" class="side-menu">
                                            <div class="side-menu__icon"><i data-feather="edit"></i> </div>
                                            <div class="side-menu__title">Create</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Language" asp-action="List" class="side-menu">
                                            <div class="side-menu__icon"> <i data-feather="list"></i>  </div>
                                            <div class="side-menu__title">List</div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="box"></i>  </div>
                                    <div class="side-menu__title">
                                        Language String Resources
                                        <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                                    </div>
                                </a>
                                <ul class="">
                                    <li>
                                        <a asp-controller="LocalStringResources" asp-action="Create" class="side-menu">
                                            <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                            <div class="side-menu__title">Create</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="LocalStringResources" asp-action="List" class="side-menu">
                                            <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                            <div class="side-menu__title">List</div>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>-->


                    @*level and modules*@
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"><i class="" data-feather="bookmark"></i>  </div>
                            <div class="side-menu__title">
                                Level
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="Level" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                    <div class="side-menu__title"> Create </div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Level" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"><i data-feather="list"></i>  </div>
                                    <div class="side-menu__title"> List </div>
                                </a>
                            </li>


                        </ul>
                    </li>

                    @*Questionarrie*@
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="file-text"></i> </div>
                            <div class="side-menu__title">
                                Questionarrie
                                <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="QuestionAnswer" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"><i data-feather="edit"></i> </div>
                                    <div class="side-menu__title"> Create </div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="QuestionAnswer" asp-action="List" class="side-menu">
                                    <div class="side-menu__icon"><i data-feather="list"></i>  </div>
                                    <div class="side-menu__title"> List </div>
                                </a>
                            </li>


                        </ul>
                    </li>

                    @*dashboard*@
                    <li>
                        <a asp-controller="Diary" asp-action="Create" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="book"></i> </div>
                            <div class="side-menu__title">
                                Diary
                            </div>
                        </a>
                    </li>
                </ul>
    </nav>
    <!-- END: Side Menu -->